/*
www.devsaran.com
*/

@import url(http://fonts.googleapis.com/css?family=Oxygen:400,300,700);


/* Reset
================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;  /* margin-top: 10px; */
}

body {
  line-height: 1; /* background-image:url(../../../default/files/images/main_background.jpg);   background-attachment: fixed;background-position: top; background-repeat:no-repeat; */
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* Body & Main
================================================== */
body {
  nowhitespace: afterproperty;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  font: 14px/1.6 'Oxygen',sans-serif;
  color: #606060;
}

/* Links */
a {
  color: #1b5b95;

}
a:visited {
  color: #1b5b95;
}
a:hover,
a:focus,
a:active {
  color:#000;
  text-decoration: none;
}

/*set max img width*/
img {
  max-width: 100%; height:auto;
}


/* Commons
================================================== */

/*clear floats*/
.remove-margin {
  margin-right: 0 !important;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/*blockquote*/
blockquote {
  position: relative;
  margin: 30px 20px;
  padding-left: 25px;
  font-style: italic;
  font-weight: bold;
  color: #000;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #000;
  content: open-quote;
  font-size: 3em;
  line-height: .1em;
  position: absolute;
  top: 20px;
  left: -10px;
}

blockquote p:last-child {
  margin: 0;
}


/*preformatted text*/
pre {
  background: #fff url("images/pre-bg.png") repeat;
  margin: 40px 0px;
  padding: 25px 20px;
  line-height: 25px;
  border: 1px solid #ddd;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

ul, ol {
  margin: 0 0 1em 1.5em;
}
ul {
  list-style: disc;
}
ol {
  list-style-type: decimal;
}
ol ol {
  list-style: upper-alpha;
}
ol ol ol {
  list-style: lower-roman;
}
ol ol ol ol {
  list-style: lower-alpha;
}
ul ul, ol ol, ul ol, ol ul {
  margin-bottom: 0;
}

table {
  margin: 0 0 1.5em;
  width: 100%;
}
th {
  font-weight: bold;
  padding:10px 10px;
}

tr{
  padding:5px 5px;
}

td{
  padding:5px 10px;
}

#primary table {
  margin: 0 0 1.5em;
  width: 100%;
  border:1px solid #ddd;
  border-right:none;
  background:#fff;
}

#primary th {
  font-weight: bold;
  padding:10px 10px;
  background:#555;
  color:#fff;
}

#primary tr{
  padding:5px 5px;
}

#primary td{
  padding:5px 10px;
  border-top:1px solid #ddd;
  border-right:1px solid #ddd;
}

/* Typography
================================================== */

/* Headings */
h1,h2,h3,h4,h5,h6 {
  clear: both;
}

h1 { font-size: 32px; }
h2 { font-size: 26px; }
h3 { font-size: 20px; line-height:23px;}
h4 { font-size: 18px; }
h5 { font-size: 16px; }
h6 { font-size: 14px; }

p {
  margin: 0 0 20px;
}

p img {
  margin: 0;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

small {
  font-size: 80%;
}

hr {
  border: solid rgba(0, 0, 0, 0.2);
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0;
}

p a, p a:visited {
  line-height: inherit;
}

a:link {
  text-decoration: none;
}

a:focus {
  outline: 0;
}

a {
  outline: 0;
}

p a, p a:visited {
  line-height: inherit;
}

a:focus {
  outline: 0;
}


/* Head */

#masthead{
    position: relative;
    max-width: 1100px;
    margin: auto;background: #ffffff;
}
.site-branding{
  /* margin-bottom: 20px; */
  margin-bottom: 0px; 
}
#site-logo {
  float: left;
  padding: 0px 15px 0 0;
}
h1#site-title{
  text-transform: uppercase;
  font-weight: 800;
  margin-top: 18px;
  clear: none;
}
h1#site-title a:link, h1#site-title a:visited{
  color: #000;
}

/* Menu */

.menutoggle{
  width: 36px;
  height: 36px;
  color: #777;
  border: 1px solid #ddd;
  border-radius: 3px;
  line-height: 36px;
  text-align: center;
  background: #fff;
  position: absolute;
  right: 20px;
  top:25px;
  font-size: 20px;
  display:none;
}

#main-menu {
  padding:0px 0px;
  margin: 22px 0px 15px;
  height:45px;
  border-bottom: none;
  float: left; width:100%; line-height: 0px;
}
  
#main-menu ul {
  width: auto;
  float:left;
  list-style: none;
  margin: 0;
  padding: 0 0px;
}
  
#main-menu li {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  color: #fff;
  font-weight:400;
}
  
#main-menu li a {
  color: #ffffff;
  display: block;
  margin: 0;
  padding: 19px 10px 19px 10px;
  text-decoration: none;
  position: relative;
}

.menu1, .menu1 a {font-size:12px; margin-right:5px;}

#globals {
	position: relative;
	float: right;
	width: 300px;
}

#globals ul {
	list-style: none;
	padding: 0;
	margin: 0 5px 0 0;
}

#globals ul li {
	float: right;
	margin: 0 0.15em;
	background-image: none;
	list-style: none;
}

#globals ul li a {
	font-size: 12px;
	font-style: normal;
	line-height: 12pt;
	border-bottom: none;
}

#main-menu li a:hover, #main-menu li a:active, #main-menu a.active, #main-menu > ul > li > a.active-trail {
  color: #c5e3ff;
}
  
#main-menu li a.sf-with-ul {
  padding-right: 10px;
} 

#main-menu li ul li a, #main-menu li ul li a:link, #main-menu li ul li a:visited,
#main-menu li ul li ul li a, #main-menu li ul li ul li a:link, #main-menu li ul li ul li a:visited,
#main-menu li ul li ul li ul li a, #main-menu li ul li ul li ul li a:link, #main-menu li ul li ul li ul li a:visited {
  color:#777;
  width: 148px; 
  margin: 0;
  padding: 10px 10px;
  border-top:1px solid #ddd;
  position: relative;
  font-weight:400;
}
  
#main-menu ul li ul li:first-child a,#main-menu ul li ul li ul li:first-child a,#main-menu ul li ul li ul li ul li:first-child a  {
  border-top:none; line-height:12px;
}

  
#main-menu li ul li a:hover ,#main-menu li ul li ul li a:hover ,#main-menu li ul li ul li ul li a:hover {
  color: #ed564b;
}

#main-menu li ul {
  font-size: 12px;
  z-index: 9999;
  position: absolute;
  left: -999em;
  height: auto;
  width: 160px;
  margin: 0px 0px 0px 0px;
  padding: 5px 5px;
  background:#efefef;
  line-height:12px;
}

#main-menu li ul a { 
  width: 150px;
}

#main-menu li ul a:hover, #main-menu li ul a:active { 
}

#main-menu li ul ul {
  margin: -44px 0 0 160px;
}

#main-menu li:hover ul ul, #main-menu li:hover ul ul ul, #main-menu li.sfHover ul ul, #main-menu li.sfHover ul ul ul {
  left: -999em;
}

#main-menu li:hover ul, #main-menu li li:hover ul, #main-menu li li li:hover ul, #main-menu li.sfHover ul, #main-menu li li.sfHover ul, #main-menu li li li.sfHover ul {
  left: auto;
}

#main-menu li:hover, #main-menu li.sfHover { 
  position: static;
}

#main-menu > ul > li > a {
  padding : 10px;
}

/* Layout */

#primary, #sidebar{
  padding-top: 0px;
  padding-bottom: 20px;
}

#main-content {
  padding-top: 0px;
}

/* Slider */

#slidebox{
  max-height: 550px;
  position: relative;
  background: #000;
  max-width: 1100px;
  margin: auto;
}

.doverlay{
  background: url(images/overlay.png);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top:0px;
  z-index: 100;
}

img.grayscale {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}
  
.flex-caption{
  width: 800px;
  position: absolute;
  top:28%;
  left: 50%;
  margin-left: -400px;
  text-align: center;
  z-index: 120;
  color: #fff;
} 
  
.flex-caption h2{
  text-transform: uppercase;
  font-size: 36px;
  color: #fff;
}

.flex-caption h2 a:link, .flex-caption h2 a:visited{
  color: #fff;
}

.flex-caption p{
  font-size: 16px;
}

a.frmore{
  background: rgba(255,255,255,0.2);
  display: block;
  text-transform: uppercase;
  color: #fff;
  width: 150px;
  border: 1px solid #fff;
  padding: 5px 0px;
  margin: 10px auto;
  font-weight: bold;
  color: #fff!important;
}

#preface-area {
    background: none repeat scroll 0 0 #474747;
    padding: 40px 0 20px;
	max-width: 1100px;
    margin: auto;
	margin-top:5px;
}

.preface-block{
  color: #fff;
  text-align: center;
}


.preface-block .block > h2{
  font-size: 24px;
  font-weight: bold;
}

#header-block {
    padding: 0;
    border-bottom: solid 1px #1b5b95;
    display: block;
    width: 100%;
    background-color: #ffffff;
}
#content-top{
   background-color:#1b5b95;background-image:url(../../../default/files/images/header-block-background.png); background-position:bottom; background-repeat:no-repeat;
}

#footer-block, #footer-block a {
  padding: 30px 10px 80px 20px;
  background-color: #1b5b95; color:#ffffff;
}

#footer-block_2, #footer-block_2 a {
  padding: 10px 10px 10px 20px;
  background-color: #000000;
  color:#ffffff;
}


#bottom{
  padding: 20px 0px 40px 0px;
  background: #3b3b3b;
  border-top:5px solid #ed564b;
}
 
.footer-block{
  color: #aaa;
}

.footer-block .block > h2{
  font-size: 16px;
  margin-bottom: 10px;
  padding: 10px 0px;
  color:#fff;
  text-transform: uppercase;
}

/* Footer */

.site-footer{
  padding: 10px 0px;
  background:#292929;
  font-size: 12px;
}

.fcred{
  padding: 10px 0px;
  color: #bbb;
}

.fcred a:link, .fcred a:visited{
  color:#fff;
}

#footer-block p {margin:8px;}

#footer-block .region-footer .block {margin:0px;}



/* =Content
----------------------------------------------- */

.node h2.title a, h1.page-title {
  color: #000000;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 10px; padding-left:0px;line-height:38px;
}

#node-4477 h1.page-title {
	display:none;font-size:100px;}

#content .node-teaser {
  padding-bottom:30px;
  border-bottom:1px solid #DDDDDD;
  margin-bottom: 15px;
}

.node-teaser img {
  border: 1px solid #CCCCCC;
  padding: 6px;
  height: auto;
  max-width: 97.4%;
  margin: 0.5em 1em 0.5em 0;
  float: left;
}
.page-node #content-wrap img { padding-left:0px;

}

.region-content-top {
  margin-bottom: 0px;
}

#sidebar .block {
  margin: 10px 10px 10px 10px;
}

#sidebar .block > h2 {
  font-size: 20px;
  color:#000;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-weight: bold;
}

.preface-block .block, .footer-block .block, .region-footer .block, .region-header .block, .region-content-top .block {
 /* margin-bottom: 30px; */
    margin: 0 20px 10px 20px;
}


/* -------------- Form Elements  ------------- */

fieldset { background: #ffffff; border: 1px solid #cccccc; margin-top: 10px; margin-bottom: 32px;
padding: 0 0 10px; position: relative; top: 12px; /* Offsets the negative margin of legends */
-khtml-border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }

.fieldset-wrapper { margin-top: 25px; }

.node-form .vertical-tabs .fieldset-wrapper { margin-top: 0; }

.filter-wrapper { top: 0; padding: 1em 0 0.2em;
-khtml-border-radius-topright: 0; -khtml-border-radius-topleft: 0; -moz-border-radius-topright: 0; -moz-border-radius-topleft: 0;
-webkit-border-top-left-radius: 0; -webkit-border-top-right-radius: 0; border-top-left-radius: 0; border-top-right-radius: 0; }

.filter-help a { font-size: 0.857em; padding: 2px 20px 0; }

.filter-wrapper .form-item label { margin-right: 10px; }

.filter-wrapper .form-item { padding: 0 0 0.5em 0.5em; }

.filter-guidelines { padding: 0 1.5em 0 0.5em; }

fieldset.collapsed { background: transparent; -khtml-border-radius: 0; -moz-border-radius: 0;  -webkit-border-radius: 0; border-radius: 0; }

fieldset legend { background: #dbdbdb; border: 1px solid #ccc; border-bottom: none; display: block; height: 2em;
left: -1px; line-height: 2; padding: 0; position: absolute; text-indent: 10px; text-shadow: 0 1px 0 #fff; top: -12px; width: 100%;
-khtml-border-radius-topleft: 4px; -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; border-top-left-radius: 4px; 
-khtml-border-radius-topright: 4px; -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; border-top-right-radius: 4px; }

fieldset.collapsed legend { -khtml-border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }

fieldset .fieldset-wrapper { padding: 0 10px; }

fieldset .fieldset-description { margin-top: 5px; margin-bottom: 1em; line-height: 1.4; font-style: italic; }

input { margin: 2px 0; padding: 4px; }

input, textarea {  font-size: 0.929em; }

textarea { line-height: 1.5; }

textarea.form-textarea, select.form-select { padding: 4px; }

#masthead input.form-text { border: 1px solid #ccc; width:100px;height:20px;}

input.form-text, textarea.form-textarea, select.form-select { border: 1px solid #ccc; width:100%;}

.password-suggestions ul li { margin-left: 1.2em; }

.form-item { margin-bottom: 1em; margin-top: 2px; }

.form-item label { font-size: 0.929em; }

.form-type-radio label, .form-type-checkbox label { margin-left: 4px; }

.form-type-radio .description, .form-type-checkbox .description { margin-left: 2px; }

.form-actions { padding-top: 10px; }

/* Contact Form */

.contact-form #edit-name { width: 100%;
-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
-khtml-border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }

.contact-form #edit-mail { width: 100%;
-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
-khtml-border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }

.contact-form #edit-subject { width: 100%;
-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
-khtml-border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }

.contact-form #edit-message { width: 100%;
-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
-khtml-border-top-left-radius: 4px; -khtml-border-top-right-radius: 4px; -moz-border-radius-topleft: 4px;
-moz-border-radius-topright: 4px; -webkit-border-top-left-radius: 4px; -webkit-border-top-right-radius: 4px;
border-top-left-radius: 4px; border-top-right-radius: 4px; }

.contact-form .resizable-textarea .grippie {  width: 100%;
-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
-khtml-border-bottom-left-radius: 4px; -khtml-border-bottom-right-radius: 4px; -moz-border-radius-bottomleft: 4px;
-moz-border-radius-bottomright: 4px; -webkit-border-bottom-left-radius: 4px; -webkit-border-bottom-right-radius: 4px;
border-bottom-left-radius: 4px; border-bottom-right-radius: 4px; }

/* Comment form */

.comment-form label { float: left; font-size: 0.929em; }

.comment-form input, .comment-form .form-select { margin: 0; 
-khtml-border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }

.comment-form .form-type-textarea label { float: none; }

.comment-form .form-item,
.comment-form .form-radios,
.comment-form .form-type-checkbox,
.comment-form .form-select { margin-bottom: 10px; overflow: hidden; }

.comment-form .form-type-checkbox,
.comment-form .form-radios { margin-left: 120px; }

.comment-form .form-type-checkbox label,
.comment-form .form-radios label { float: none; margin-top: 0; }

.comment-form input.form-file { width: auto; }

.comment-form .form-text { display: block; margin: 0; width: 100%;
-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.comment-form .form-item .description { font-size: 0.786em; line-height: 1.2; margin-left: 120px; }

#content h2.comment-form { margin-bottom: 0.5em; }

.comment-form .form-textarea { -khtml-border-radius-topleft: 4px; -khtml-border-radius-topright: 4px;
-moz-border-radius-topleft: 4px; -moz-border-radius-topright: 4px;
-webkit-border-top-left-radius: 4px; -webkit-border-top-right-radius: 4px;
border-top-left-radius: 4px; border-top-right-radius: 4px; }

.comment-form fieldset.filter-wrapper .fieldset-wrapper,
.comment-form .text-format-wrapper .form-item { margin-top: 0; margin-bottom: 0; }

.filter-wrapper label { width: auto; float: none; }

.filter-wrapper .form-select { min-width: 120px; }

.comment-form fieldset.filter-wrapper .tips { font-size: 0.786em; }

#comment-body-add-more-wrapper .form-type-textarea label { margin-bottom: 0.4em; }

#edit-actions input { margin-right: 0.6em; }

/* Other Overrides */

div.password-suggestions { border: 0; }

.ui-widget-overlay { background: #222222; opacity: 0.7; }

div.vertical-tabs .vertical-tabs-panes fieldset.vertical-tabs-pane { padding: 1em; }

#forum .name { font-size: 1.083em; }

#forum .description { font-size: 1em; }

/* Form Buttons */

button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
/* IE10 */ 
background-image: -ms-linear-gradient(top, #FFFFFF 0%, #E3E3E3 100%);
/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #FFFFFF 0%, #E3E3E3 100%);
/* Opera */ 
background-image: -o-linear-gradient(top, #FFFFFF 0%, #E3E3E3 100%);
/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #E3E3E3));
/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #E3E3E3 100%);
/* Proposed W3C Markup */ 
background-image: linear-gradient(top, #FFFFFF 0%, #E3E3E3 100%);
/* IE6-9 */ 
filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#E3E3E3');

border: 1px solid #dbdbdb;
-moz-border-radius: 6px; -webkit-border-radius: 6px; -o-border-radius: 6px; -ms-border-radius: 6px; -khtml-border-radius: 6px; border-radius: 6px;
-moz-box-shadow: inset 0 1px 0 0 white; -webkit-box-shadow: inset 0 1px 0 0 white; -o-box-shadow: inset 0 1px 0 0 white; box-shadow: inset 0 1px 0 0 white;
color: #333333; text-shadow: 0 1px 0 white; position: relative; font-weight:bold; padding: 4px .8em 5px .8em; font-size: 13px; }

button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
/* IE10 */ 
background-image: -ms-linear-gradient(top, #DBDBDB 0%, #F2F2F2 100%);
/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #DBDBDB 0%, #F2F2F2 100%);
/* Opera */ 
background-image: -o-linear-gradient(top, #DBDBDB 0%, #F2F2F2 100%);
/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #DBDBDB), color-stop(1, #F2F2F2));
/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #DBDBDB 0%, #F2F2F2 100%);
/* Proposed W3C Markup */ 
background-image: linear-gradient(top, #DBDBDB 0%, #F2F2F2 100%);
/* IE6-9 */ 
filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#DBDBDB', endColorstr='#F2F2F2');

-moz-border-radius: 6px; -webkit-border-radius: 6px; -o-border-radius: 6px; -ms-border-radius: 6px; -khtml-border-radius: 6px; border-radius: 6px;
-moz-box-shadow: inset 0 1px 0 0 white;
-webkit-box-shadow: inset 0 1px 0 0 white;
-o-box-shadow: inset 0 1px 0 0 white;
box-shadow: inset 0 1px 0 0 white;
cursor: pointer; }


#masthead button,
#masthead input[type="submit"],
#masthead input[type="reset"],
#masthead input[type="button"] {
/* IE10 */ 
background-image: -ms-linear-gradient(top, #FFFFFF 0%, #E3E3E3 100%);
/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #FFFFFF 0%, #E3E3E3 100%);
/* Opera */ 
background-image: -o-linear-gradient(top, #FFFFFF 0%, #E3E3E3 100%);
/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #E3E3E3));
/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #E3E3E3 100%);
/* Proposed W3C Markup */ 
background-image: linear-gradient(top, #FFFFFF 0%, #E3E3E3 100%);
/* IE6-9 */ 
filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#E3E3E3');

border: 1px solid #dbdbdb;
-moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; -ms-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px;
-moz-box-shadow: inset 0 1px 0 0 white; -webkit-box-shadow: inset 0 1px 0 0 white; -o-box-shadow: inset 0 1px 0 0 white; box-shadow: inset 0 1px 0 0 white;
color: #333333; text-shadow: 0 1px 0 white; position: relative; font-weight:bold; padding:0; font-size: 12px; width:60px; height:20px; }

#masthead button:hover,
#masthead input[type="submit"]:hover,
#masthead input[type="reset"]:hover,
#masthead input[type="button"]:hover {
/* IE10 */ 
background-image: -ms-linear-gradient(top, #DBDBDB 0%, #F2F2F2 100%);
/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #DBDBDB 0%, #F2F2F2 100%);
/* Opera */ 
background-image: -o-linear-gradient(top, #DBDBDB 0%, #F2F2F2 100%);
/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #DBDBDB), color-stop(1, #F2F2F2));
/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #DBDBDB 0%, #F2F2F2 100%);
/* Proposed W3C Markup */ 
background-image: linear-gradient(top, #DBDBDB 0%, #F2F2F2 100%);
/* IE6-9 */ 
filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#DBDBDB', endColorstr='#F2F2F2');

-moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; -ms-border-radius: 6px; -khtml-border-radius: 3px; border-radius: 3px;
-moz-box-shadow: inset 0 1px 0 0 white;
-webkit-box-shadow: inset 0 1px 0 0 white;
-o-box-shadow: inset 0 1px 0 0 white;
box-shadow: inset 0 1px 0 0 white;
cursor: pointer; }

button.full-width,
input[type="submit"].full-width,
input[type="reset"].full-width,
input[type="button"].full-width { 
width: 100%; padding-left: 0 !important; padding-right: 0 !important; text-align: center; }


#block-search-form { padding-bottom: 7px; }

#block-search-form .content { margin-top: 0; }

#search-form .form-item-keys label { display: block; }


ol.search-results { padding-left: 0; }

.search-results li { border-bottom: 1px solid #d3d7d9; padding-bottom: 0.4285em; margin-bottom: 0.5em; }

.search-results li:last-child { border-bottom: none; padding-bottom: none; margin-bottom: 1em; }

.search-results .search-snippet-info { padding-left: 0; }


.meta {
  margin: 0; /*margin: 5px 0 10px 0;*/
}

.meta a {
  color: #999;
}

.meta a:hover {
  color: #000;
}

.meta li {
  display: inline;
  margin-right: 5px;
  margin-right: 10px;
}

.meta strong{
  font-weight: 600;
  color: #111;
}

.meta li:last-child {
  margin-right: 0;
  padding-right: 0;
  background: none;
}


/****************Meta revisions******************/

ul li.translation_en, ul li.translation_ar {display:none;}



.links li a {
  background-color: #E7E5E3;
  color: #100100;
  padding: 4px 5px;
  border-radius: 4px;
  text-shadow: 1px 1px #fff;
  font-weight: normal;
}

.links li a:hover {
  background-color: #D7D5D3;
  color: #100101;
}


/*-------------------------------------------*
/* Fix CKEditor style
/*-------------------------------------------*/
#content table.cke_editor {
  background: transparent;
  border: 0;
}
#content table.cke_editor td {
  background: transparent;
  padding: 0;
  border: 0;
}

/*-------------------------------------------*
/* Poll, Buttons, Form
/*-------------------------------------------*/
.poll .vote-form .choices .title {
  font-size: 14px;
  font-weight: normal;
  line-height: 2;
}

.poll .vote-form .choices {
  margin: 0;
}

.form-item label {
  font-size: 13px;
  font-weight: bold;
}

/*-------------------------------------------*
/* Menus and item lists 
/*-------------------------------------------*/
.item-list ul {
  margin: 0;
  padding: 0 0 0 1.5385em;
}

.item-list ul li {
  margin: 0;
  padding: 0;
}

ul.menu li {
  margin: 0;
  padding: 0;
}

ul.inline {
  clear: both;
}

ul.inline li {
  margin: 0;
  padding: 0;
}

/*-------------------------------------------*
/* Admin Tabs
/*-------------------------------------------*/
.tabs-wrapper {
  border-bottom: 1px solid #b7b7b7;
  margin: 0 0 5px 0; z-index:50; display:block; clear:both;
}

ul.primary {
  border: none;
  margin: 0;
  padding: 0;
}

ul.primary li a {
  background: none;
  border: none;
  display: block;
  float: left;
  line-height: 1.5385em;
  margin: 0;
  padding: 0 1em;
  border-radius: 4px 4px 0 0;
  margin-right: 5px;
}

ul.primary li a:hover, ul.primary li a.active {
  background: #666;
  border: none;
  color: #fff;
}

ul.primary li a:hover {
  background: #888;
  text-decoration: none;
}

ul.secondary {
  background: #666;
  border-bottom: none;
  clear: both;
  margin: 0;
  padding: 0;
}

ul.secondary li {
  border-right: none;
}

ul.secondary li a, ul.secondary li a:link {
  border: none;
  color: #ccc;
  display: block;
  float: left;
  line-height: 1.5385em;
  padding: 0 1em;
}

ul.secondary li a:hover, ul.secondary li a.active {
  background: #888;
  color: #fff;
  text-decoration: none;
}

ul.secondary a.active {
  border-bottom: none;
}

ul.inline, ul.links.inline {
  margin-left: 0;
}

/*-------------------------------------------*
/* Tabs and Tags
/*-------------------------------------------*/
.field-name-field-tags {
  margin: 0 0 10px 0;
}

.field-name-field-tags a{
  background: #ed564b;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 2px;
  color: #fff;
  padding: 2px 6px;
}

.field-name-field-tags a:hover{
  background: #111;
  color: #fff;
}

.field-name-field-tags div {
  display: inline;
}


/*-------------------------------------------*
/* Profile
/*-------------------------------------------*/
.profile {
  margin: 1.5385em 0;
}

.profile dd {
  margin-bottom: 1.5385em;
}

.profile h3 {
  border: none;
}

.profile dt {
  margin-bottom: 0;
}

.password-parent {
  width: 36em;
}

/* Comments */

.comment h2.title { margin-bottom: 1em; }

.comment div.user-picture img { margin-left: 0; }

.comment { margin-bottom: 20px; display: table; vertical-align: top; }

.comment .attribution { display: table-cell; padding: 0 35px 0 0; vertical-align: top; overflow: hidden; }

.comment .attribution img { margin: 0; border: 1px solid #d3d7d9; }

.comment .attribution .username { white-space: nowrap; }

.comment .comment-submitted p { margin: 4px 0; font-size: 1.071em; line-height: 1.2; }

.comment .comment-submitted .comment-time { font-size: 0.786em; }

.comment .comment-submitted .comment-permalink { font-size: 0.786em; text-transform: lowercase; }

.comment .content { font-size: 0.929em; line-height: 1.6; }

.comment .comment-arrow { background: url(images/comment-arrow.gif) no-repeat 0 center transparent;
border-left: 1px solid; border-right: 1px solid; height: 40px; margin-left: -36px; margin-top: 15px; position: absolute; width: 22px; }

.comment .comment-text { padding: 0 25px 10px 35px; display: table-cell; vertical-align: top; position: relative; width: 100%; border-left: 1px solid #d3d7d9; }

.comment .indented { margin-left: 40px; }

.comment-unpublished { margin-right: 5px; padding: 5px 2px 5px 5px; }

.comment .comment-text .comment-arrow { border-left: 1px solid #ffffff; border-right: 1px solid #ffffff; }


/*-------------------------------------------*
/* Forum
/*-------------------------------------------*/
.field-name-taxonomy-forums div {
  display: inline;
  margin-top: 4px;
}

.field-name-taxonomy-forums .field-items {
}

#forum .title {
  font-size: 16px;
}

#forum .submitted {
  font-size: 12px;
  font-family: Lucida Grande, Verdana, Arial, sans-serif;
  background: transparent;
  padding: 0;
}

#forum .container {
  background: #a1a1a1;
  color: #fff;
}

#forum .container a {
  color: #000;
  font-weight: bold;
}

#forum div.indent {
  margin-left: 2px;
}

.forum-starter-picture {
  float: left;
  padding: 4px;
  border: 1px solid #d9d9d9;
  margin: 5px 7px 5px 0;
}

#forum th {
  background: #434343;
  text-shadow: none;
  color: #fff;
}

#forum th a {
  color: #fff;
}

#forum td.forum .icon, #forum .icon div {
  background: url(images/no-new-posts.png) no-repeat;
  width: 35px;
  height: 35px;
}

#forum .name a{ 
  font-size: 16px;
}


@media screen and (max-width: 768px) {
  html{
    font-size: 60%;
  }

  h1#site-title{
    text-align: center;
  }

  #site-logo {
    padding-top: 0;
  }
  
  select.mnav{
    width: 100%;
    margin-bottom: 20px;
  }

  #main-menu{
    display:none;
  }
    
  .flex-caption{
    display: none;
  }

}


/*************** SlideShow ***************/

#masthead_container{display:block; width: 100%; background: #ffffff;  border-bottom: solid 1px #ffffff; }

.flexslider .slides img {
    display: block;
    margin: auto; height: auto;opacity:.5;
}

.flexslider .link img{width:32px; height:auto;}

#slidebox_container{display:block; height:auto;width:100%;}

#country_home_flex_slider_container{max-width:1200px;}

.row::after {
    content: "";
    clear: both;
    display: block;
}

#block-views-front-slideshow-block-1, #block-views-front-slideshow-block-3, #block-views-front-slideshow-block-4 {margin:0;}

.slide_body{display:block; font-size:14px; color:#000000; margin-top: 20px;margin-left:15px;margin-right:25px; float:left;}
.slide_link{display:block; float:right;margin-right:30px;}

.panels-flexible-region-115-slideshow {width:100%;}
.container_slide{background-color:#000000; padding:0px;text-align:center;}
.container_even{background-color:#ffffff; padding:0px; text-align:center;}
.panels-flexible-row{max-width:1100px;    text-align: center;
    margin: 0 auto;}
.panels-flexible-row-first.clearfix.container_slide{max-width:none;} 


/***************** COUNTRY ADDITIONS *****************/

.title_background{ display:block; padding: 0px 0px 0px 10px; background-color:#464646; color:#FFFFFF; font-size:18px; font-weight:bold; margin-top:0px;}

.title_background2{ display:block; padding: 0px; background-color:#f2f2f2; color:#FFFFFF; font-size:18px; font-weight:bold; padding-right:0px; margin: 8px;}
.title_background2 img{width:100%; height:auto;}
.title_background2 h2 { font-size: 16px;
    font-weight: normal;
    color: #000000;
    margin-bottom: 10px;
    padding: 12px 10px 0px 30px; background-image: url(/sites/default/files/images/arrow.png); background-position: left;
    background-repeat: no-repeat;
    background-position-x: 10px;
    background-position-y: 15px;
}
.title_background3{ display:block; padding: 20px 10px 5px 15px; background-color:#e8f4ff; color:#FFFFFF; font-size:18px; font-weight:bold; padding-right:0px;  margin: 5px 5px 5px 5px;}
.title_background3 h2 {font-size: 16px;font-weight: bold;color: #003466;margin-bottom: 10px;padding: 0 5px 0 5px;}
.title_background3 p {font-size: 13px;color: #000000;width: 95%;font-weight: normal; padding: 0 5px 0 5px;}
.remove_title h2 {display:none;}
.remove_title {clear:both; margin-left:15px; border-top: solid 1px #CDCDCD;margin-right: 20px;}
#Country_home h2 {font-size:16px; font-weight:bold;}

.panels-flexible-region.panels-flexible-region-124-left.panels-flexible-region-first, .panels-flexible-region.panels-flexible-region-124-center.panels-flexible-region-last, .panels-flexible-region.panels-flexible-region-115-center.panels-flexible-region-first, .panels-flexible-region.panels-flexible-region-115-right.panels-flexible-region-last, .panels-flexible-region.panels-flexible-region-116-left,  .panels-flexible-region.panels-flexible-region-127-left, .panels-flexible-region.panels-flexible-region-127-right, 
.panels-flexible-region.panels-flexible-region-131-left,
.panels-flexible-region.panels-flexible-region-131-right, .panels-flexible-region.panels-flexible-region-132-left,
.panels-flexible-region.panels-flexible-region-132-right, 
.panels-flexible-region.panels-flexible-region-130-left,
.panels-flexible-region.panels-flexible-region-130-right,
.panels-flexible-region.panels-flexible-region-128-left,
.panels-flexible-region.panels-flexible-region-128-right,
.panels-flexible-region.panels-flexible-region-129-left,
.panels-flexible-region.panels-flexible-region-129-right,
.panels-flexible-region.panels-flexible-region-116-right, .panels-flexible-region.panels-flexible-region-117-left, .panels-flexible-region.panels-flexible-region-117-right, .panels-flexible-region.panels-flexible-region-118-left, .panels-flexible-region.panels-flexible-region-118-right,.panels-flexible-region.panels-flexible-region-119-left,.panels-flexible-region.panels-flexible-region-119-right, .panels-flexible-region.panels-flexible-region-125-center.panels-flexible-region-first, .panels-flexible-region.panels-flexible-region-125-right.panels-flexible-region-last {padding:0;}

#Country_home_main h2 {font-size:22px;line-height: 22px; margin-bottom:15px;margin-top:10px;}
#Country_home.pane-content p img {width:auto; height:auto;}
#Country_home p, #Country_home_main {line-height:18px; margin-bottom:10px;padding:0px;}
#node-4477 .panel-pane.pane-node-body, #node-4497 .panel-pane.pane-node-body{padding-right:20px;}
.panel-pane.pane-custom.pane-1.col-sm-12.col-lg-4.title_background2 {margin-left:5px;} 
.margin_top {margin-top:15px;}

.panels-flexible-region.panels-flexible-region-124-right.panels-flexible-region-last, .panels-flexible-region.panels-flexible-region-124-left_.panels-flexible-region-first, .panels-flexible-region.panels-flexible-region-115-left.panels-flexible-region-first, .panels-flexible-region.panels-flexible-region-115-middle, .panels-flexible-region.panels-flexible-region-115-right_.panels-flexible-region-last, .panels-flexible-region.panels-flexible-region-115-left_.panels-flexible-region-first, .panels-flexible-region.panels-flexible-region-115-middle_, 
.panels-flexible-region.panels-flexible-region-115-right__.panels-flexible-region-last, .panels-flexible-region.panels-flexible-region-124-left__.panels-flexible-region-first, 
.panels-flexible-region.panels-flexible-region-124-middle, .panels-flexible-region.panels-flexible-region-124-right_.panels-flexible-region-last, .panels-flexible-region.panels-flexible-region-125-left_.panels-flexible-region-first, .panels-flexible-region.panels-flexible-region-125-middle,.panels-flexible-region.panels-flexible-region-125-right__.panels-flexible-region-last, .panels-flexible-region.panels-flexible-region-125-right_.panels-flexible-region-last {padding-left:0px; padding-right:0px;margin-top:10px;} 

.panels-flexible-region-inside {padding-left: 0px;    padding-right: 0px; width: 100%;    margin-left: 0px;}
.field.field-name-body.field-type-text-with-summary {margin-top:20px; padding: 10px 10px 10px 0px;}

#country_subsection_list, .panel-pane.pane-views.pane-professional-development, .panel-pane.pane-views.pane-advising, .panel-pane.pane-views.pane-take-a-test, .panel-pane.pane-views.pane-institutional-strengthening, .panel-pane.pane-views.pane-academic-and-cultural-exchange {display: block;
    margin-right: 10px;
    width: 100%;
    border-top: 1px solid #D8D8D8;
    margin-top: 20px;
    padding-top: 20px;}
	
#country_subsection_list h2 {padding-bottom:15px;}

#block-menu-menu-professional-development.block.block-menu, #block-block-72, #block-views-0953aaec6461cab13ce2d96e98142ccd, #block-menu-menu-learn-english, #block-menu-menu-west-bank-gaza-english, #block-views-learn-english-block-1, #block-views-learn-english-block-4, #block-views-bafcb9f9dc063c0a1ceb1ff10c0ef9e2, #block-menu-menu-morocco-academic-cultural-e, #block-views-0808d1ee59f908487eaf5cb5b9ae8203{    margin-bottom: 30px;
    display: block;
    padding: 0px 10px 10px 10px;
    /** background-color: #f0f0f0;**/}
#block-menu-menu-professional-development ul li, #block-menu-menu-learn-english ul li, #block-menu-menu-west-bank-gaza-english ul li,
#block-menu-menu-west-bank-and-gaza-advising ul li,
#block-menu-menu-west-bank-and-gaza-testing ul li,
#block-menu-menu-west-bank-and-gaza-institut ul li,
#block-menu-menu-west-bank-and-gaza-professi ul li,
#block-menu-menu-west-bank-and-gaza-academic ul li, 
#block-menu-menu-morocco-academic-cultural-e ul li, #block-menu-menu-morocco-testing ul li {    list-style-type: none;
    list-style-position: outside;
    list-style-image: none; margin:0px;padding:5px 10px 5px 10px; background-color:#f5f5f5; border-bottom: solid 1px #FFFFFF;}
	
#block-views-0808d1ee59f908487eaf5cb5b9ae8203 ul, #block-menu-menu-professional-development ul, #block-menu-menu-learn-english ul, 
#block-menu-menu-west-bank-gaza-english ul, 
#block-menu-menu-west-bank-and-gaza-advising ul, 
#block-menu-menu-west-bank-and-gaza-testing ul, 
#block-menu-menu-west-bank-and-gaza-institut ul, 
#block-menu-menu-west-bank-and-gaza-professi ul, 
#block-menu-menu-west-bank-and-gaza-academic ul, 
#block-menu-menu-morocco-academic-cultural-e ul, #block-menu-menu-morocco-testing ul{ margin:0px;}
#block-menu-menu-professional-development.block.block-menu h2, #block-menu-menu-learn-english.block.block-menu h2, #block-menu-menu-west-bank-gaza-english.block.block-menu h2,
#block-menu-menu-west-bank-and-gaza-advising.block.block-menu h2,
#block-menu-menu-west-bank-and-gaza-testing.block.block-menu h2,
#block-menu-menu-west-bank-and-gaza-institut.block-menu h2,
#block-menu-menu-west-bank-and-gaza-professi.block.block-menu h2,
#block-menu-menu-west-bank-and-gaza-academic.block.block-menu h2,
#block-menu-menu-morocco-academic-cultural-e.block.block-menu h2, #block-menu-menu-morocco-testing.block.block-menu h2, #block-views-0808d1ee59f908487eaf5cb5b9ae8203.block.block-views h2{    font-size: 15px;
    background-color: #262626;
    color: #ffffff;
     padding: 5px 10px 5px 10px;
    margin-bottom: 0px;
    line-height: 20px;}
	
#block-block-72 h2, #block-views-learn-english-block-1.block.block-views h2, #block-views-learn-english-block-4.block.block-views h2, 
#block-views-advising-block-3.block.block-views h2, 
#block-views-take-a-test-block-3.block.block-views h2, 
#block-views-32e27b3e56effcccb30d078657301fbf.block.block-views h2, 
#block-views-7e0ce312b74819473c9e11d2d19f3074.block.block-views h2, 
#block-views-f57c0905a620830e8107307e2268685f.block.block-views h2, #block-views-0953aaec6461cab13ce2d96e98142ccd.block.block-views h2, #block-views-bafcb9f9dc063c0a1ceb1ff10c0ef9e2.block.block-views h2,
#block-views-take-a-test-block-1.block.block-views h2{    font-size: 15px;
    background-color: #f5f5f5;
    color: #000000;
     padding: 5px 10px 5px 10px;
    margin-bottom: 0px;
    line-height: 20px;  text-transform: none;}
	
	#block-menu-menu-learn-english .nav_list{margin-top:0px;}
 .view.view-professional-development.view-id-professional_development.view-display-id-block_1, .view.view-learn-english.view-id-learn_english.view-display-id-block_1, .view.view-learn-english.view-id-learn_english.view-display-id-block_4, 
.view.view-advising.view-id-advising.view-display-id-block_3, 
.view.view-take-a-test.view-id-take_a_test.view-display-id-block_3, 
.view.view-institutional-strengthening.view-id-institutional_strengthening.view-display-id-block_1, 
.view.view-professional-development.view-id-professional_development.view-display-id-block_3, 
.view.view-academic-and-cultural-exchange.view-id-academic_and_cultural_exchange.view-display-id-block_3, 
 .view.view-academic-and-cultural-exchange.view-id-academic_and_cultural_exchange.view-display-id-block_1, .view.view-take-a-test.view-id-take_a_test.view-display-id-block_1 {    display: block;
    max-height: 300px;
    overflow: auto;
    overflow-x: hidden;
    padding: 10px; border: solid 1px #f5f5f5;}

#block-block-72{    display: block;
    max-height: 300px;
    overflow: auto;
    overflow-x: hidden;
    padding: 10px;
    border: solid 1px #f5f5f5;
    width: 310px;
    position: relative;
    left: 10px;
    /** background-color: #f0f0f0;**/}
	
#block-menu-menu-morocco.block.block-menu h2, #block-menu-menu-west-bank-gaza.block.block-menu h2, #block-menu-menu-lebanon.block.block-menu h2{display:none;}
#block-menu-menu-lebanon.block.block-menu ul.menu li, #block-menu-menu-lebanon.block.block-menu ul.menu li a, #block-menu-menu-morocco.block.block-menu ul.menu li, #block-menu-menu-morocco.block.block-menu ul.menu li a, #block-menu-menu-west-bank-gaza.block.block-menu ul.menu li, #block-menu-menu-west-bank-gaza.block.block-menu ul.menu li a {
    margin: 0;
    padding: 0;
    display: inline; color:#ffffff;    margin-right: 10px;
}

#block-menu-menu-morocco.block.block-menu ul.menu, #block-menu-menu-west-bank-gaza.block.block-menu ul.menu, #block-menu-menu-lebanon.block.block-menu ul.menu {
    border: none;
    list-style: none;
    text-align: left;
    margin: 0px;
}
#block-menu-menu-morocco.block.block-menu, #block-menu-menu-west-bank-gaza.block.block-menu, #block-menu-menu-lebanon.block.block-menu {padding: 10px 5px 5px 15px;
    background-color: #1b5b95;
    margin: 0;
    height: 40px;}
	
/* #block-system-main.block.block-system{padding:10px;} */

 #content-wrap{padding:10px;} 
 #panel_content-wrap{    padding: 0px;
    display: block;
    clear: both;
    z-index: 100;
    position: relative;
    padding-top: 40px;} 
 
/* #node-4477 #panels-ipe-paneid-478 img{width:400px; height:auto;} */


.country_sub_landing_page_highlight .panel-pane.pane-custom { display:block; padding: 20px 10px 5px 15px; background-color:#e8f4ff; color:#FFFFFF; padding-right:0px;  margin: 5px 5px 5px 5px;}

.country_sub_landing_page_highlight .panel-pane.pane-custom h2 {font-size: 18px;font-weight: bold;color: #003466;margin-bottom: 10px;padding: 0 5px 0 5px;}
.country_sub_landing_page_highlight .panel-pane.pane-custom p {font-size: 16px;color: #000000;width: 95%;font-weight: normal; padding: 0 5px 0 5px; line-height:20px;}

 
 /****************Country Program Pages****************************/
.program-logos {
height: auto;
width: 140px;
float: right;
margin: 10px 0px 0px 10px;
padding: 0 10px 20px 0px;
}

.program-logos img{
	vertical-align: middle;
	margin-bottom: 10px;
}

.program-logos .field-item.even  {
vertical-align: middle;
float: right;
height: auto;
clear: both;
}
.program-logos .field-item.odd {
vertical-align: middle;
float: right;
height: auto;
clear: both;
}

#bodyinset4 {
display: block;
width: 140px;
margin: 10px 0px 10px 10px;
background-color: #ffffff;
border-left: 1px dotted #8c3303;
height: auto;
float: right;
padding: 0 10px 0px 0px;
color: #065097;
clear: both;
}

#bodyinset4 .apply-now {
	float: right;
}

#bodyinset4 .more-info {
	float: right;
}

.not_recruiting {
	display: block;
	padding: 5px;
	border: solid 1px #999;
	font-size: 13px;
	color: #900;
	font-family: Arial, Helvetica, sans-serif;
	width: 115px;
	margin-bottom: 15px;
}

#bodyinset5 {
	display: block;
	float: right;
	padding: 5px;
	border: solid 1px #999;
	font-size: 13px;
	color: #900;
	font-family: Arial, Helvetica, sans-serif;
	width: 115px;
	margin: 0 0px 5px 5px;
}
/****************News & Resources****************************/
#feature {
	width: 375px;
	float: left;
	position: relative;
	display: block;
	margin-left: 0px;
	border: 0px;
	margin-top: 20px;
}

ul.feature {
	position: static;
	padding: 0px 0px 0px 10px;
	margin: 0px;
	background: none;
	border: none;
	width: 600px;
}

ul.feature li {
	color: #666666;
	position: static;
	margin-left: 0;
	padding: 0px 0 0px 0;
	margin-bottom: 0px;
	list-style: none;
	clear: both;
	padding-left: none;
	line-height: 12pt;
	text-decoration: none;
	font-size: 9pt;
	font: Arial, Helvetica, sans-serif;
	background: none;
	margin-top:0px;
}

ul.feature li a:hover {
	color: #974D06;
}

ul.feature li.last {
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: none;
}

ul.feature div.img {
	float: right;
	display: inline;
	position: relative;
	margin-left: 10px;
	margin-bottom: 10px;
	border: 1px #3b77b2 solid;
	margin-top: 0px;
	width: 120px;
	height: 80px;
	vertical-align: bottom;
	top:10px;
}

#feature2 {
	width: 375px;
	float: left;
	position: relative;
	display: block;
	margin-left: 0px;
	border: 0px;
	margin-top: 0px;
	padding-top:0px;
}

ul.feature2 {
	position: static;
	padding: 0px 0px 0px 10px;
	margin: 0px;
	background: none;
	border: none;
	width: 625px;
}

ul.feature2 li {
	color: #666666;
	position: static;
	margin-left: 0;
	padding: 0px 0 0px 0;
	margin-bottom: 0px;
	list-style: none;
	clear: both;
	padding-left: none;
	line-height: 12pt;
	text-decoration: none;
	font-size: 9pt;
	font: Arial, Helvetica, sans-serif;
	background: none;
	margin-top:0px;
}

ul.feature2 li a:hover {
	color: #974D06;
}

ul.feature2 li.last {
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: none;
}

ul.feature2 div.img {
	float: right;
	display: inline;
	position: relative;
	margin-left: 10px;
	margin-bottom: 10px;
	border: 1px #3b77b2 solid;
	margin-top: 0px;
	width: 120px;
	height: 80px;
	vertical-align: bottom;
	top:7px;
}

ul.press_release {
	position: static;
	padding: 0px 0px 0px 0px;
	margin-left: 10px;
	text-decoration: none;
	margin-bottom: 0px;
	margin-top: 0px;
}

ul.press_release li {
	padding: 5px 0px 5px 0px;
	margin: 0px 0px 0px 0px;
	list-style: none;
	border-bottom: solid 1px #D6D6D6;
	width: 275px;
	line-height: 18px;
}

ul.press_release li a:link,ul.press_release li a:active,ul.press_release li a:visited
	{
	font-family: arial;
	font-size: 13px;
	color: #027AC6;
	line-height: 16px;
	padding: 5px 0px 5px 0px;
	margin: 0px 0px 0px 0px;
}

ul.press_release li a:hover {
	text-decoration: underline;
}

ul.press_release li.last {
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: none;
}

.press_release {
	position: static;
	padding: 0px 0px 0px 0px;
	margin-left: 10px;
	text-decoration: none;
	margin-bottom: 0px;
	margin-top: 0px;
	width: 275px;
}

.press_release a:link,.press_release a:active,.press_release a:visited {
	position: static;
	padding: 0px 0px 0px 0px;
	margin-left: 10px;
	text-decoration: none;
	margin-bottom: 0px;
	margin-top: 0px;
	width: 275px;
	text-decoration: none;
}

.press_release a:hover {
	text-decoration: underline;
}

.view view-pr view-id-pr view-display-id-page_1 view-dom-id-1 {
	margin-left: 20px;
}

#home_announcement {  display: block;  border: solid 1px #d28181;  background-color: #FFC; padding: 10px;  width: 610px;  float: left; margin: 5px 0 10px 0; }

#home_announcement h2.pane-title {    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #600;}

#home_announcement h2.pane-title {padding:0;}

#node-4412 h2 {padding:0;}

#node-4412 .links {display:none;}

#node-4412 .content.clearfix {display:block;} 

#node-4412 .clearfix {display:none;} 

#home_announcement .header a:link, #home_announcement .header a:active, #home_announcement .header a:visited {font-family:Verdana, Geneva, sans-serif; font-size:14px; font-weight:bold; color:#600;}

#home_announcement p{font-family: arial;font-size: 12px;color: #666;line-height: 15px; padding: 0 0 0 0;}

#announcement {
	width: 375px;
	float: left;
	position: relative;
	display: block;
	margin-left: 0px;
	border: 0px;
	margin-top: 20px;
}

ul.announcement {
	position: static;
	padding: 10px 0px 0px 10px;
	margin: 0px 0px 0px 5px;
	background: none;
	border: none;
	width: 600px;
	border-bottom: 1px solid #CCCCCC;
	padding-bottom: 10px;
}

ul.announcement li {
	position: static;
	margin-left: 0;
	padding: 0px 0 0px 0;
	margin-bottom: 0px;
	list-style: none;
	clear: both;
	padding-left: none;
	line-height: 12pt;
	text-decoration: none;
	font-size: 9pt;
	font: Arial, Helvetica, sans-serif;
	background: none;
}

ul.announcement li a:hover {
	color: #027AC6;
}

.announcement_header,.announcement_header a:link,.announcement_header a:active,.announcement_header a:visited
	{
	margin: 0 0 5px 0; /* LTR */
	padding: 0;
	color: #115aa1;
	font-size: 12px;
	font-weight: bold;
	line-height: 17px;
}

.announcement_header a:hover {
	text-decoration: underline;
}

.media_contact {
	margin: 5px;
	font-size: 11px;
	line-height: 14px;
}

.tinynav{width:100%;}

.inside.panels-flexible-region-inside.panels-flexible-region-125-right-inside.panels-flexible-region-inside-last, .inside.panels-flexible-region-inside.panels-flexible-region-115-right-inside.panels-flexible-region-inside-last, .inside.panels-flexible-region-inside.panels-flexible-region-124-center-inside.panels-flexible-region-inside-last {border:solid 1px #CDCDCD;}


/**************Course Finder****************/

.view.view-course-finder.view-id-course_finder.view-display-id-page {    display: block;
    border: solid 1px #999999;
    padding: 20px;
    margin-top: 10px;}
	
#course_finder{ margin-top: 10px;
    border-top: solid 1px #CDCDCD;
    border-bottom: solid 1px #CDCDCD;
    padding: 10px 30px;
    background-color: #f0f0f0;}
#course_finder h2{font-size: 20px;
    font-weight: bold;}
	
#edit-taxonomy-vocabulary-5-tid {width: 100%;
    height: 50px;padding:10px;}
#views-exposed-form-bulk-operations-page #edit-taxonomy-vocabulary-5-tid {width: 100%;
    height: 150px;padding:10px;}
#edit-taxonomy-vocabulary-1-tid{width: 100%;
    height: 50px;padding:10px;}
#edit-submit-course-finder{    height: 50px;
    width: 100px;}
	
	
#search-block-form {clear:both;}





