.site-branding {
    /* margin-bottom: 20px; */
    margin-bottom: 0px;
    float: right;
}
#site-logo {
    float: right;
    padding: 0px 15px 0 0;
}
.menu1, .menu1 a {
    font-size: 12px;
    margin-right: 5px;
    float: left;
}
#search-block-form {
    float: left;}
#main-menu ul {
    width: auto;
    float: right;
    list-style: none;
    margin: 0;
    padding: 0 0px;
}
#block-menu-menu-morocco.block.block-menu ul.menu {
    border: none;
    list-style: none;
    text-align: left;
    margin: 0px;
    float: right;
}

#header-block {
  padding: 0; background-color:#1b5b95; min-height:200px; background-image:url(../../../default/files/images/header-block-background.png); background-position:bottom; background-repeat:no-repeat;
}

/*************** SlideShow ***************/

#masthead_container{display:block; width: 100%; background: #ffffff;  border-bottom: solid 1px #ffffff; }

.flexslider .slides img {
    display: block;
    margin: auto; height: auto;  max-width: 1200px;
}

.flexslider .link img{width:32px; height:auto;}

#slidebox_container{display:block; height:auto;width:100%;}

#country_home_flex_slider_container{max-width:1200px;}

.row::after {
    content: "";
    clear: both;
    display: block;
}

#block-views-front-slideshow-block-1 {margin:0}

.slide_title{display:block; font-size:25px; color:#134776; font-weight: bold; float:left;
    margin-top: 20px;margin-left:15px;line-height:30px;}
.slide_body{display:block; font-size:14px; color:#000000; margin-top: 20px;margin-left:15px;margin-right:25px; float:left;}
.slide_link{display:block; float:right;margin-right:30px;}

#block-views-front-slideshow-block-2 {margin:0px;}

.slide_link {
    display: block;
    float: left;
    margin-left: 30px;
}
.slide_body {
    display: block;
    font-size: 14px;
    color: #000000;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 5px;
    float: right;
}
.slide_title {
    display: block;
    font-size: 25px;
    color: #134776;
    font-weight: bold;
    float: right;
    margin-top: 20px;
    margin-left: 15px;
    line-height: 30px;
}

.panels-flexible-region.panels-flexible-region-120-left.panels-flexible-region-first{padding:0px;}
.panels-flexible-region.panels-flexible-region-120-left_.panels-flexible-region-first{padding:0px;}
.inside.panels-flexible-region-inside.panels-flexible-region-120-left_-inside.panels-flexible-region-inside-first{border: solid 1px #CDCDCD;}
.inside.panels-flexible-region-inside.panels-flexible-region-120-left-inside.panels-flexible-region-inside-first{    padding-left: 0px;
    padding-right: 0px;
    margin-top: 10px;}
.title_background {
    display: block;
    padding: 0px 10px 0px 0px;
    background-color: #464646;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
    margin-top: 0px;
}
#course_finder {
    margin-top: 10px;
    border-top: solid 1px #CDCDCD;
    border-bottom: solid 1px #CDCDCD;
    padding: 10px 10px 10px 10px;
    background-color: #f0f0f0;
}

.panels-flexible-region.panels-flexible-region-120-left___.panels-flexible-region-first, .panels-flexible-region.panels-flexible-region-120-middle, 
.panels-flexible-region.panels-flexible-region-120-left__.panels-flexible-region-last {    padding-left: 0px;
    padding-right: 0px;
    margin-top: 10px;}
	
.panels-flexible-region.panels-flexible-region-121-left.panels-flexible-region-first, .panels-flexible-region.panels-flexible-region-121-right.panels-flexible-region-last{padding:0px;}
.title_background3 {
    display: block;
    padding: 20px 15px 5px 10px;
    background-color: #e8f4ff;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
    margin: 5px 5px 5px 5px;
}