#primary, #sidebar {
    padding-top: 0px;
    padding-bottom: 20px;
    float: right;
}
.site-branding {
    /* margin-bottom: 20px; */
    margin-bottom: 0px;
    float: right;
}
#site-logo {
    float: right;
    padding: 0px 15px 0 0;
}
.menu1, .menu1 a {
    font-size: 12px;
    margin-right: 5px;
    direction: rtl;
    text-align: left;
}
#search-block-form {
    float: left;
    clear: both;}
	
#main-menu {
    padding: 0px 0px;
    margin: 22px 0px 15px;
    height: 45px;
    border-bottom: none;
    float: right;
    width: 20%;
    line-height: 0px;
}
  
#main-menu ul {
  width: auto;
  float:right;
  list-style: none;
  margin: 0;
  padding: 0 0px;
}
  
#main-menu li {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #fff;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
}
  
#main-menu li a {
  color: #ffffff;
  display: block;
  margin: 0;
  padding: 19px 10px 19px 10px;
  text-decoration: none;
  position: relative;
}

.menu1, .menu1 a {font-size:12px; margin-right:5px;}
#block-menu-menu-morocco.block.block-menu ul.menu, #block-menu-menu-west-bank-gaza.block.block-menu ul.menu {
    border: none;
    list-style: none;
    text-align: left;
    margin: 0px;
    float: right;
}

#header-block {
    padding: 0;
    border-bottom: solid 1px #1b5b95;
    display: block;
    width: 100%;
    background-color: #ffffff;
}

h5{font-size:20px;}

/*************** SlideShow ***************/

#masthead_container{display:block; width: 100%; background: #ffffff;  border-bottom: solid 1px #ffffff; }

.flexslider .slides img {
    display: block;
    margin: auto; height: auto;  max-width: 1200px;
}

.flexslider .link img{width:32px; height:auto;}

#slidebox_container{display:block; height:auto;width:100%;}

#country_home_flex_slider_container{max-width:1200px;}

.row::after {
    content: "";
    clear: both;
    display: block;
}

#block-views-front-slideshow-block-1 {margin:0}
.panels-flexible-region.panels-flexible-region-120-left.panels-flexible-region-first{padding:0px;}
.panels-flexible-region.panels-flexible-region-120-left_.panels-flexible-region-first{padding:0px;}
.inside.panels-flexible-region-inside.panels-flexible-region-120-left_-inside.panels-flexible-region-inside-first{border: solid 1px #CDCDCD;}
.inside.panels-flexible-region-inside.panels-flexible-region-120-left-inside.panels-flexible-region-inside-first{    padding-left: 0px;
    padding-right: 0px;
    margin-top: 10px;}
.title_background {
    display: block;
    padding: 0px 10px 0px 0px;
    background-color: #464646;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
    margin-top: 0px;
	text-align:right;
}
#course_finder {
    margin-top: 10px;
    border-top: solid 1px #CDCDCD;
    border-bottom: solid 1px #CDCDCD;
    padding: 10px 10px 10px 10px;
    background-color: #f0f0f0;
}
#Country_home h2 {
    font-size: 16px;
    font-weight: bold;
    text-align: right;
}
#Country_home p, #Country_home_main {
    line-height: 18px;
    margin-bottom: 10px;
    padding: 0px;
    text-align: right;
}
.rtl_box, .rtl_box p {text-align:right;}
.remove_title {
    clear: both;
    margin-left: 15px;
    border-top: solid 1px #CDCDCD;
    margin-right: 20px;
    text-align: right;
}
#course_finder h2 {
    font-size: 20px;
    font-weight: bold;
    text-align: right;
}
.title_background2 h2 {
    font-size: 16px;
    font-weight: normal;
    color: #000000;
    margin-bottom: 10px;
    padding: 12px 30px 0px 30px;
    background-image: url(/sites/default/files/images/arrow2.png);
    background-position: right;
    background-repeat: no-repeat;
    background-position-x: 265px;
    background-position-y: 15px;
    text-align: right;
}
#block-block-315 h2, #block-block-264 h2, #block-views-country-social-media-block h2, #block-views-country-social-media-block-1 h2 {
    font-size: 20px;
    color: #ffffff;
    padding: 5px 10px 5px 10px;
    margin-bottom: 0px;
    line-height: 20px;
    text-transform: none;
    font-weight: bold;
}

.panels-flexible-region.panels-flexible-region-120-left___.panels-flexible-region-first, .panels-flexible-region.panels-flexible-region-120-middle, 
.panels-flexible-region.panels-flexible-region-120-left__.panels-flexible-region-last, .panels-flexible-region.panels-flexible-region-134-left__.panels-flexible-region-first, .panels-flexible-region.panels-flexible-region-134-middle, .panels-flexible-region.panels-flexible-region-134-right_.panels-flexible-region-last {    padding-left: 0px;
    padding-right: 0px;
    margin-top: 10px;}
	
.panels-flexible-region.panels-flexible-region-121-left.panels-flexible-region-first, .panels-flexible-region.panels-flexible-region-121-right.panels-flexible-region-last, .panels-flexible-region.panels-flexible-region-135-left, .panels-flexible-region.panels-flexible-region-135-right, .panels-flexible-region.panels-flexible-region-137-left, .panels-flexible-region.panels-flexible-region-137-right, .panels-flexible-region.panels-flexible-region-138-left, .panels-flexible-region.panels-flexible-region-138-right, .panels-flexible-region.panels-flexible-region-139-left, .panels-flexible-region.panels-flexible-region-139-right,
.panels-flexible-region.panels-flexible-region-140-left, .panels-flexible-region.panels-flexible-region-140-right, 
.panels-flexible-region.panels-flexible-region-141-left, .panels-flexible-region.panels-flexible-region-141-right   {padding:0px;}

.ctools-use-modal.panels-ipe-hide-bar.ctools-use-modal-processed.panels-ipe-hide-bar-processed-processed{display:none;}

.country_sub_landing_page_highlight .panels-ipe-portlet-wrapper{ display:block; padding: 20px 15px 5px 10px; background-color:#e8f4ff; color:#FFFFFF; padding-left:0px;  margin: 5px 5px 5px 5px;}

.country_sub_landing_page_highlight .panels-ipe-portlet-wrapper h2 {font-size: 16px;font-weight: bold;color: #003466;margin-bottom: 10px;padding: 0 5px 0 5px;}
.country_sub_landing_page_highlight .panels-ipe-portlet-wrapper p {font-size: 16px;color: #000000;width: 95%;font-weight: normal; padding: 0 5px 0 5px; line-height:20px;}

.title_background3 {
    display: block;
    padding: 20px 15px 5px 10px;
    background-color: #e8f4ff;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
    margin: 5px 5px 5px 5px;
}

#globals {
	position: relative;
	float: left;
	width: 300px;
}
#globals ul li {
	float: left;
	margin: 0 0.15em;
	background-image: none;
	list-style: none;
}



/**********************Bootstrap**********************/


@media(min-width:100px) { 
	.morocco .slide_title a{    display: block;
    font-size: 30px;
    font-weight: bold;
    line-height: 35px;
    color: #ffffff;
    padding-right: 10px;
    padding-top: 20px;
    padding-left: 20px;
    }
	.morocco .flex-control-nav {width: 100%; position: absolute; top:20%; text-align: center;height: 10px;}
	.morocco .flex_container{    display: block;
    position: absolute;
    z-index: 1;
    top: 10%;
    text-align: center;
    width: 100%;}
	
	}
	
	@media(min-width:480px) {
	.morocco .slide_title a{    display: block;
    font-size: 35px;
    font-weight: bold;
    line-height: 40px;
    color: #ffffff;
    padding-right: 10px;
    padding-top: 20px;
    padding-left: 20px;
    }
	.morocco .flex_container{    display: block;
    position: absolute;
    z-index: 1;
    top: 10%;
    text-align: center;
    width: 100%;}
}
@media(min-width:768px) {
	#zone-header-m-wrapper 
   { padding: 0;
    width: 100%;
    z-index: 60;
    position: fixed;
    text-align: right;
    height: 90px;
    top: 0;
    z-index: 100;}
	.morocco .slide_title a{    display: block;
    font-size: 40px;
    font-weight: bold;
    line-height: 45px;
    color: #ffffff;
    padding-right: 10px;
    padding-top: 20px;
    padding-left: 20px;
    }
	.morocco .flex_container{    display: block;
    position: absolute;
    z-index: 1;
    top: 10%;
    text-align: center;
    width: 100%;}
	.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 
 .col-sm-12-no-padding {
    float: right;
}
	}
	
	@media(min-width:900px) {
	.morocco .slide_title a{    display: block;
    font-size: 50px;
    font-weight: bold;
    line-height: 55px;
    color: #ffffff;
    padding-right: 10px;
    padding-top: 20px;
    padding-left: 20px;
    }
	.morocco .flex_container{    display: block;
    position: absolute;
    z-index: 1;
    top: 10%;
    text-align: center;
    width: 100%;}
}

/************************Sublanding*************************/

#node-4540 .field.field-name-body.field-type-text-with-summary, #node-4542 .field.field-name-body.field-type-text-with-summary, #node-4544 .field.field-name-body.field-type-text-with-summary, #node-4546 .field.field-name-body.field-type-text-with-summary, #node-4548 .field.field-name-body.field-type-text-with-summary, #node-4550 .field.field-name-body.field-type-text-with-summary, #node-4552 .field.field-name-body.field-type-text-with-summary, #node-4556 .field.field-name-body.field-type-text-with-summary, #node-4558 .field.field-name-body.field-type-text-with-summary, #node-4560 .field.field-name-body.field-type-text-with-summary {
    margin-top: 0px;
    padding: 0px 10px 0px 0px;
    text-align: right;
}
.sublanding_block .field-name-field-image-field{float:right; margin-left:20px; margin-bottom:20px;margin-right:0px;}


/************************Sublanding Navigation elements*************************/

#block-views-learn-english-block-6.block.block-views h2, #block-views-learn-english-block-7.block.block-views h2{    font-size: 15px;
    background-color: #f5f5f5;
    color: #000000;
     padding: 5px 10px 5px 10px;
    margin-bottom: 0px;
    line-height: 20px;  text-transform: none;}
	
#block-views-learn-english-block-2 h2
 {
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.view.view-learn-english.view-id-learn_english.view-display-id-block_6, .view.view-learn-english.view-id-learn_english.view-display-id-block_7 {
    display: block;
    max-height: 300px;
    overflow: auto;
    overflow-x: hidden;
    padding: 10px;
    border: solid 1px #f5f5f5;
}
/*#block-views-learn-english-block-6, #block-menu-menu-west-bank-and-gaza-institut, #block-menu-menu-west-bank-and-gaza-advising {
    margin-bottom: 30px;
    display: block;
    padding: 0px 10px 10px 10px;
}*/