/* $Id: zen.css,v 1.14.2.1 2009/02/13 07:46:04 johnalbin Exp $ */

/*
 * ZEN STYLES
 *
 * This is an example stylesheet. Sub-themes should NOT include the zen/zen.css
 * file, but instead copy this CSS to their own stylesheets.
 *
 * In this stylesheet, we have included all of the classes and IDs from this
 * theme's tpl.php files. We have also included many of the useful Drupal core
 * styles to make it easier for theme developers to see them.
 *
 * Many of these styles are over-riding Drupal's core stylesheets, so if you
 * remove a declaration from here, the styles may still not be what you want
 * since Drupal's core stylesheets are still styling the element. See the
 * drupal6-reference.css file for a list of all Drupal 5.x core styles.
 *
 * In addition to the style declarations in this file, other Drupal styles that
 * you might want to override or augment are those for:
 *
 *   Book Navigation  See line 74  of Zen's drupal6-reference.css file
 *   Forum            See line 197 of Zen's drupal6-reference.css file
 *   Menus            See line 667 of Zen's drupal6-reference.css file
 *   News Aggregator  See line 20  of Zen's drupal6-reference.css file
 *   Polls            See line 287 of Zen's drupal6-reference.css file
 *   Search           See line 320 of Zen's drupal6-reference.css file
 *   User Profiles    See line 945 of Zen's drupal6-reference.css file
 */


/** body **/
  body
  {
    margin: 0;
    padding: 10px;
  }

  #page
  {
  }

  #page-inner
  {
  }

/** header **/
  #header
  {
  }

  #header-inner
  {
  }

  #logo-title /* Wrapper for logo, website name, and slogan */
  {
  }

  #logo /* Wrapper for logo */
  {
    margin: 0 10px 0 0;
    padding: 0;
  }

  #logo-image /* The actual logo image */
  {
  }

  h1#site-name, div#site-name /* The name of the website */
  {
    margin: 0;
    font-size: 2em;
    line-height: 1.3em;
  }

  #site-name a:link,
  #site-name a:visited
  {
    color: #000;
    text-decoration: none;
  }

  #site-name a:hover
  {
    text-decoration: underline;
  }

  #site-slogan /* The slogan (or tagline) of a website */
  {
  }

  #header-blocks /* Wrapper for any blocks placed in the header region */
  {
  }

/** main (container for everything else) **/
  #main
  {
  }

  #main-inner
  {
  }

/** content **/
  #content
  {
  }

  #content-inner
  {
  }

  #mission /* The mission statement of the site (displayed on homepage) */
  {
  }

  #content-top /* Wrapper for any blocks placed in the "content top" region */
  {
  }

  #content-header /* Wrapper for breadcrumb, title, messages, tabs, and help */
  {
  }

  .breadcrumb /* The path to the current page in the form of a list of links */
  {
    padding-bottom: 0; /* Undo system.css */
  }

  h1.title, /* The title of the page */
  h2.title, /* Block title or the title of a piece of content when it is given in a list of content */
  h3.title /* Comment title */
  {
    margin: 0;
  }

  div.messages /* Important messages (status, warning, and error) for the user */
  {
  }

  div.status /* Normal priority messages */
  {
  }

  div.warning, tr.warning /* Medium priority messages */
  {
    /* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
  }

  div.error, tr.error /* High priority messages. See also the .error declaration below. */
  {
  }

  div.tabs /* See also the tabs.css file. */
  {
  }

  .help /* Help text on a page */
  {
    margin: 1em 0;
  }

  .more-help-link /* Link to more help */
  {
    font-size: 0.85em;
    text-align: right;
  }

  #content-area /* Wrapper for the actual page content */
  {
  }

  .pager /* A list of page numbers when more than 1 page of content is available */
  {
    clear: both;
    margin: 1em 0;
    text-align: center;
  }

  .pager a, .pager strong.pager-current
  {
    padding: 0.5em;
  }

  .feed-icons /* The links to the RSS or Atom feeds for the current list of content */
  {
    margin: 1em 0;
  }

  #content-bottom /* Wrapper for any blocks placed in the "content bottom" region */
  {
  }

/** navbar **/
  #navbar
  {
  }

  #navbar-inner
  {
  padding-left: 2px;
  padding-top: 4px;
  vertical-align: middle;
  }

  #search-box /* Wrapper for the search form */
  {
  }

  #edit-search-block-form-1-wrapper label /* Label that says "Search this site:" */
  {
    color: #FFFFFF;
  }

  #primary /* Primary links */
  {
  margin-bottom: 10px;
  margin-left: 0;
  }
  
  #primary ul.links {
  width: 230px;

  }
  
  #primary ul.links li {
    display: block;
	width: 100%;
	}
 
  #primary ul.links a{
  color: black;
  }
  #primary li.menu-253 a, #primary li.menu-253 a:link, #primary li.menu-253 a:visited
   {
   color: #000;
   text-decoration:none;   
  }
  #primary li.menu-253 a:hover, #primary li.menu-253 a:focus, #primary li.menu-253 li a:active
   {
   color: #999999;
   text-decoration: underline;
  }
  #primary li.menu-360 a, #primary li.menu-360 a:link, #primary li.menu-360 a:visited
   {
   color: #000;
   text-decoration:none;   
  }
  #primary li.menu-360 a:hover, #primary li.menu-360 a:focus, #primary li.menu-360 li a:active
   {
   color: #999999;
   text-decoration: underline;
  }
  #primary li.menu-371 a, #primary li.menu-371 a:link, #primary li.menu-371 a:visited
   {
   color: #000;
   text-decoration:none;   
  }
  #primary li.menu-371 a:hover, #primary li.menu-371 a:focus, #primary li.menu-371 li a:active
   {
   color: #999999;
   text-decoration: underline;
  }
  #primary li.menu-294 a, #primary li.menu-294 a:link, #primary li.menu-294 a:visited
   {
   color: #fff;
   text-decoration: none;   
  }
  #primary li.menu-294 a:hover, #primary li.menu-294 a:focus, #primary li.menu-294 li a:active
   {
   color: #C0C0C0;
   text-decoration: underline;
  }
  #primary li.menu-357 a, #primary li.menu-357 a:link, #primary li.menu-357 a:visited
   {
   color: #fff;
   text-decoration: none;   
  }
  #primary li.menu-357 a:hover, #primary li.menu-357 a:focus, #primary li.menu-357 li a:active
   {
   color: #C0C0C0;
   text-decoration: underline;
  }
  #primary li.menu-259 a, #primary li.menu-259 a:link, #primary li.menu-259 a:visited
   {
   color: #fff;
   text-decoration: none;   
  }
  #primary li.menu-259 a:hover, #primary li.menu-259 a:focus, #primary li.menu-259 li a:active
   {
   color: #C0C0C0;
   text-decoration: underline;
  }
  #primary li.menu-260 a, #primary li.menu-260 a:link, #primary li.menu-260 a:visited
   {
   color: #fff;
   text-decoration: none;   
  }
  #primary li.menu-260 a:hover, #primary li.menu-260 a:focus, #primary li.menu-260 li a:active
   {
   color: #C0C0C0;
   text-decoration: underline;
  }
  #primary li.menu-353 a, #primary li.menu-353 a:link, #primary li.menu-353 a:visited
   {
   color: #fff;
   text-decoration: none;   
  }
  #primary li.menu-353 a:hover, #primary li.menu-353 a:focus, #primary li.menu-353 li a:active
   {
   color: #C0C0C0;
   text-decoration: underline;
  }
    #primary li.menu-361 a, #primary li.menu-361 a:link, #primary li.menu-361 a:visited
   {
   color: #fff;
   text-decoration: none;   
  }
  #primary li.menu-361 a:hover, #primary li.menu-361 a:focus, #primary li.menu-361 li a:active
   {
   color: #C0C0C0;
   text-decoration: underline;
  }
  #primary li.menu-362 a, #primary li.menu-362 a:link, #primary li.menu-362 a:visited
   {
   color: #fff;
   text-decoration: none;   
  }
  #primary li.menu-362 a:hover, #primary li.menu-362 a:focus, #primary li.menu-362 li a:active
   {
   color: #C0C0C0;
   text-decoration: underline;
  }
    #primary li.menu-363 a, #primary li.menu-363 a:link, #primary li.menu-363 a:visited
   {
   color: #fff;
   text-decoration: none;   
  }
  #primary li.menu-363 a:hover, #primary li.menu-363 a:focus, #primary li.menu-363 li a:active
   {
   color: #C0C0C0;
   text-decoration: underline;
  }
  #primary li.menu-364 a, #primary li.menu-364 a:link, #primary li.menu-364 a:visited
   {
   color: #fff;
   text-decoration: none;   
  }
  #primary li.menu-364 a:hover, #primary li.menu-364 a:focus, #primary li.menu-364 li a:active
   {
   color: #C0C0C0;
   text-decoration: underline;
  }
    #primary li.menu-365 a, #primary li.menu-365 a:link, #primary li.menu-365 a:visited
   {
   color: #fff;
   text-decoration: none;   
  }
  #primary li.menu-365 a:hover, #primary li.menu-365 a:focus, #primary li.menu-365 li a:active
   {
   color: #C0C0C0;
   text-decoration: underline;
  }
  #primary li.menu-367 a, #primary li.menu-367 a:link, #primary li.menu-367 a:visited
   {
   color: #fff;
   text-decoration: none;   
  }
  #primary li.menu-367 a:hover, #primary li.menu-367 a:focus, #primary li.menu-367 li a:active
   {
   color: #C0C0C0;
   text-decoration: underline;
  }
    #primary li.menu-368 a, #primary li.menu-368 a:link, #primary li.menu-368 a:visited
   {
   color: #fff;
   text-decoration: none;   
  }
  #primary li.menu-368 a:hover, #primary li.menu-368 a:focus, #primary li.menu-368 li a:active
   {
   color: #C0C0C0;
   text-decoration: underline;
  }
  #primary li.menu-369 a, #primary li.menu-369 a:link, #primary li.menu-369 a:visited
   {
   color: #fff;
   text-decoration: none;   
  }
  #primary li.menu-369 a:hover, #primary li.menu-369 a:focus, #primary li.menu-369 li a:active
   {
   color: #C0C0C0;
   text-decoration: underline;
  }  
  #primary li.menu-370 a, #primary li.menu-370 a:link, #primary li.menu-370 a:visited
   {
   color: #fff;
   text-decoration: none;   
  }
  #primary li.menu-370 a:hover, #primary li.menu-370 a:focus, #primary li.menu-370 li a:active
   {
   color: #C0C0C0;
   text-decoration: underline;
  }  
  #primary li.menu-253
  {   
  margin: 2px;
  background-color: #fff;
  text-align: center;
  font-family: 'Arial', 'Helvetica', sans-serif;  
  font-weight: bold;
  font-size: 1.5em;
  }
  #primary li.menu-360
  {   
  margin: 2px;
  background-color: #fff;
  text-align: center;
  font-family: 'Arial', 'Helvetica', sans-serif; 
  font-weight: bold; 
  font-size: 1.5em;
  }
  #primary li.menu-371
  {   
  margin: 2px;
  background-color: #fff;
  text-align: center;
  font-family: 'Arial', 'Helvetica', sans-serif; 
  font-weight: bold; 
  font-size: 1.5em;
  }
  li.menu-294
  {   
  margin: 2px;
  background-color: #0066cc;
  text-align: center;
  
  font-family: 'Arial', 'Helvetica', sans-serif;  
  font-weight: bold;
  }
  li.menu-357
  {   
  margin: 2px;
  background-color: #0066cc;
  text-align: center;
  
  font-family: 'Arial', 'Helvetica', sans-serif;  
  font-weight: bold;
  }
  li.menu-259
  {   
  margin: 2px;
  background-color: #0066cc;
  text-align: center;
  
  font-family: 'Arial', 'Helvetica', sans-serif;  
  font-weight: bold;
  }
  li.menu-260
  {   
  margin: 2px;
  background-color: #0066cc;
  text-align: center;
  
  font-family: 'Arial', 'Helvetica', sans-serif;  
  font-weight: bold;
  }
  li.menu-353
  {   
  margin: 2px;
  background-color: #0066cc;
  text-align: center;
  
  font-family: 'Arial', 'Helvetica', sans-serif;  
  font-weight: bold;
  }
  li.menu-361
  {   
  margin: 2px;
  background-color: #0000ee;
  text-align: center;
  
  font-family: 'Arial', 'Helvetica', sans-serif;  
  font-weight: bold;
  }
  li.menu-362
  {   
  margin: 2px;
  background-color: #663333;
  text-align: center;
  
  font-family: 'Arial', 'Helvetica', sans-serif;  
  font-weight: bold;
  }
  li.menu-363
  {   
  margin: 2px;
  background-color: #cc6633;
  text-align: center;
  
  font-family: 'Arial', 'Helvetica', sans-serif;  
  font-weight: bold;
  }
  li.menu-364
  {   
  margin: 2px;
  background-color: #330066;
  text-align: center;
  
  font-family: 'Arial', 'Helvetica', sans-serif;  
  font-weight: bold;
  }
  li.menu-365
  {   
  margin: 2px;
  background-color: #660000;
  text-align: center;
  
  font-family: 'Arial', 'Helvetica', sans-serif;  
  font-weight: bold;
  }
  li.menu-367
  {   
  margin: 2px;
  background-color: #336666;
  text-align: center;
  
  font-family: 'Arial', 'Helvetica', sans-serif;  
  font-weight: bold;
  }
  li.menu-368
  {   
  margin: 2px;
  background-color: #003300;
  text-align: center;
  
  font-family: 'Arial', 'Helvetica', sans-serif;  
  font-weight: bold;
  }
  li.menu-369
  {   
  margin: 2px;
  background-color: #808000;
  text-align: center;
  
  font-family: 'Arial', 'Helvetica', sans-serif;  
  font-weight: bold;
  }
  li.menu-370
  {   
  margin: 2px;
  background-color: #006633;
  text-align: center;
  
  font-family: 'Arial', 'Helvetica', sans-serif;  
  font-weight: bold;
  }
  #secondary /* Secondary links */
  {
  }
   #secondary ul.links li {
    display: block;
	width: 100%;
	}

/** sidebar-left **/
  #sidebar-left
  {
  padding: 5px;
  width: 240px;
  background-color: #cccc99;
  }

  #sidebar-left-inner
  {
  margin: 0;
  padding: 0;
  }
  
  #pp
  {
  padding: 5px;
  text-align: center;
  vertical-align: middle; 
  background-color: #c0c0c0;
  }
  #ppheader
  {
  font-family: 'Arial', 'Helvetica', sans-serif;  
  font-weight: bold;
  padding: 5px;  
  text-align: center;
  vertical-align: top; 
  background-color: #ffffff;
  }
  #pptext
  { 
  padding: 5px;  
  text-align: center;
  vertical-align: top; 
  background-color: #ffffff;
  }
  
  #aw
  {
  padding: 5px;
  text-align: center;
  vertical-align: middle; 
  background-color: #c0c0c0;
  }
  #awtext
  {
  padding: 5px;  
  text-align: center;
  vertical-align: top; 
  background-color: #ffffff;
  }

/** sidebar-right **/
  #sidebar-right
  {
  }

  #sidebar-right-inner
  {
  }
  #booksimages
  {
  text-align: center;
  font-weight: bold;
  }

/** footer **/
  #footer
  {
  clear:both;
  }

  #footer-inner
  {
  }

  #footer-message /* Wrapper for the footer message from Drupal's "Site information"
                     and for any blocks placed in the footer region */
  {
  text-align:center
  }

/** closure **/
  #closure-blocks /* Wrapper for any blocks placed in the closure region */
  {
  }

/** Drupal nodes **/
  .node /* Node wrapper */
  {
  }

  .node-inner /* Additional wrapper for node */
  {
  }

  .sticky /* A sticky node (displayed before others in a list) */
  {
  }

  .node-unpublished /* Unpublished nodes */
  {
    /* background-color: #fff4f4; */ /* Drupal core uses a #fff4f4 background */
  }

  .node-unpublished div.unpublished, /* The word "Unpublished" displayed beneath the content. */
  .comment-unpublished div.unpublished
  {
    height: 0;
    overflow: visible;
    color: #d8d8d8;
    font-size: 75px;
    line-height: 1;
    font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    word-wrap: break-word; /* A very nice CSS3 property */
  }

  .node-mine /* A node created by the current user */
  {
  }

  .node-teaser /* A node displayed as teaser */
  {
  }

  /* All nodes are given a node-type-FOO class that describes the type of
   * content that it is. If you create a new content type called
   * "my-custom-type", it will receive a "node-type-my-custom-type" class.
   */
  .node-type-page /* Page content node */
  {
  }

  .node-type-story /* Story content node */
  {
  }

  .node h2.title /* Node title */
  {
  }

  .marker /* "New" or "Updated" marker for content that is new or updated for the current user */
  {
    color: #c00;
  }

  .node .picture /* The picture of the node author */
  {
  }

  .node.node-unpublished .picture,
  .comment.comment-unpublished .picture
  {
    position: relative; /* Otherwise floated pictures will appear below the "Unpublished" text. */
  }

  .node .meta /* Wrapper for submitted and terms data */
  {
  }

  .node .submitted /* The "posted by" information */
  {
  }

  .node .terms /* Node terms (taxonomy) */
  {
  }

  .node .content /* Node's content wrapper */
  {
  }

  .node div.links /* Wrapper for node links */
  {
    margin: 1em 0;
  }

  ul.links /* Taxonomy links, node links, comment links */
  {
    margin: 0;
    padding: 0;
  }

  ul.links.inline
  {
    display: inline;
	background-color: #999999;
	padding: 3px;
  }

  ul.links li
  {
    display: inline;
    list-style-type: none;
    padding: 3px;
  }
  li.taxonomy_term_1
  {
    background-color:#336666;
  }
  li.taxonomy_term_2
  {
    background-color:#000099;
  }  
  li.taxonomy_term_5
  {
    background-color:#CC9933;
  }
  li.taxonomy_term_15
  {
    background-color:#CC6633;
  }
  li.taxonomy_term_27
  {
    background-color:#663333;
  }
  li.taxonomy_term_33
  {
    background-color:#660000;
  } 
  li.taxonomy_term_34
  {
    background-color:#330066;
  }  
  li.taxonomy_term_72
  {
    background-color:#003300;
  } 
  li.taxonomy_term_73
  {
    background-color:#808000;
  }   
  li.taxonomy_term_74
  {
    background-color:#006633;
  }     
  .taxonomy_term_3 last li a
  {
    color:#000000;
  }
	
  .preview .node /* Preview of the content before submitting new or updated content */
  {
    /* background-color: #ffffea; */ /* Drupal core uses a #ffffea background */
  }

/** Drupal comments **/
  #comments /* Wrapper for the list of comments and its title */
  {
    margin: 1em 0;
  }

  #comments-title /* Heading for the list of comments */
  {
  }

  .comment /* Wrapper for a single comment */
  {
  }

  .comment-inner /* Additional wrapper for a single comment */
  {
  }

  .comment-preview /* Preview of the comment before submitting new or updated comment */
  {
  }

  .comment.new /* A new comment since the user last viewed the page. */
  {
  }

  .comment.odd /* An odd-numbered comment in the list of comments */
  {
  }

  .comment.even /* An even-numbered comment in the list of comments */
  {
  }

  .comment.first /* The first comment in the list of comments */
  {
  }

  .comment.last /* The last comment in the list of comments */
  {
  }

  .comment-unpublished /* Unpublished comments */
  {
    /* background-color: #fff4f4; */ /* Drupal core uses a #fff4f4 background */
  }

  .comment-unpublished div.unpublished /* The word "Unpublished" displayed beneath the content. See also the div.unpublished declaration in the node section above. */
  {
  }

  .comment-published /* Published comments */
  {
  }

  .comment-by-anon /* A comment created by an anonymous user */
  {
  }

  .comment-by-author /* A comment created by the node's author */
  {
  }

  .comment-mine /* A comment created by the current user */
  {
  }

  .comment h3.title /* Comment title */
  {
  }

  .new /* "New" marker for comments that are new for the current user */
  {
    color: #c00;
  }

  .comment .picture /* The picture of the comment author */
  {
  }

  .comment .submitted /* The "posted by" information */
  {
  }

  .comment .content /* Comment's content wrapper */
  {
  }

  .comment .user-signature /* The user's signature */
  {
  }

  .comment div.links /* Wrapper for comment links. See also the ul.links declaration in the node section above. */
  {
    margin: 1em 0;
  }

  .indented /* Nested comments are indented */
  {
    /* margin-left: 25px; */ /* Drupal core uses a 25px left margin */
  }

  .preview .comment /* Preview of the comment before submitting new or updated comment */
  {
    /* background-color: #ffffea; */ /* Drupal core uses a #ffffea background */
  }

/** Drupal blocks **/
  .block /* Block wrapper */
  {
    margin-bottom: 1em;
  }

  .block.region-odd /* Zebra striping for each block in the region */
  {
  }

  .block.region-even /* Zebra striping for each block in the region */
  {
  }

  .block.odd /* Zebra striping independent of each region */
  {
  }

  .block.even /* Zebra striping independent of each region */
  {
  }

  .region-count-1 /* Incremental count for each block in the region */
  {
  }

  .count-1 /* Incremental count independent of each region */
  {
  }

  .block-inner /* Additional wrapper for block */
  {
  }

  .block h2.title /* Block title */
  {
  }

  .block .content /* Block's content wrapper */
  {
  }

  #block-aggregator-category-1 /* Block for the latest news items in the first category */
  {
  }

  #block-aggregator-feed-1 /* Block for the latest news items in the first feed */
  {
  }

  #block-block-1 /* First administrator-defined block */
  {
  }

  #block-blog-0 /* "Recent blog posts" block */
  {
  }

  #block-book-0 /* "Book navigation" block for the current book's table of contents */
  {
  }

  #block-comments-0 /* "Recent comments" block */
  {
  }

  #block-forum-0 /* "Active forum topics" block */
  {
  }

  #block-forum-1 /* "New forum topics" block */
  {
  }

  #block-menu-2 /* "Primary links" block */
  {
  }

  #block-node-0 /* "Syndicate" block for primary RSS feed */
  {
  }

  #block-poll-0 /* "Most recent poll" block */
  {
  }

  #block-profile-0 /* "Author information" block for the profile of the page's author */
  {
  }

  #block-search-0 /* "Search form" block */
  {
  }

  #block-statistics-0 /* "Popular content" block */
  {
  }

  #block-user-0 /* "User login form" block */
  {
  }

  #block-user-1 /* "Navigation" block for Drupal navigation menu */
  {
  }

  #block-user-2 /* "Who's new" block for a list of the newest users */
  {
  }

  #block-user-3 /* "Who's online" block for a list of the online users */
  {
  }

/** Drupal boxes **/
  /* Wrapper for Comment form, Comment viewing options, Menu admin, and
   * Search results.
   */
  .box /* Wrapper for box */
  {
  }

  .box-inner /* Additional wrapper for box */
  {
  }

  .box h2.title /* Box title */
  {
  }

  .box .content /* Box's content wrapper */
  {
  }

/** Miscellaneous Drupal styles **/
  .error /* Errors that are separate from div.messages status messages (see above.) */
  {
    /* color: #e55; */ /* Drupal core uses a #e55 background */
  }

  .warning /* Warnings that are separate from div.messages status messages (see above.) */
  {
    /* color: #e09010; */ /* Drupal core uses a #e09010 background */
  }

  .more-link /* Aggregator, blog, and forum more link */
  {
    text-align: right;
  }

  #user-login-form /* Drupal's default login form */
  {
    text-align: left;
  }

  tr.even /* Some tables have rows marked even or odd. */
  {
    /* background-color: #eee; */ /* Drupal core uses a #eee background */
  }

  tr.odd
  {
    /* background-color: #eee; */ /* Drupal core uses a #eee background */
  }

  li a.active /* The active item in a Drupal menu */
  {
    color: #000;
  }


/** Drupal forms **/
  .form-item, /* Wrapper for a form element (or group of form elements) and its label */
  .form-checkboxes,
  .form-radios
  {
    margin: 1em 0;
  }

  .form-item input.error, /* Highlight the form elements that caused a form submission error */
  .form-item textarea.error,
  .form-item select.error
  {
    border: 2px solid #c00;
  }

  .form-item label /* The label for a form element */
  {
    display: block;
    font-weight: bold;
  }

  .form-item label.option /* The label for a radio button or checkbox */
  {
    display: inline;
    font-weight: normal;
  }

  .form-required /* The part of the label that indicates a required field */
  {
    color: #c00;
  }

  .form-item .description /* The descriptive help text (separate from the label) */
  {
    font-size: 0.85em;
  }

  .form-checkboxes .form-item, /* Pack groups of checkboxes and radio buttons closer together */
  .form-radios .form-item
  {
    margin: 0.4em 0;
  }

  .form-submit /* The submit button */
  {
  }

  .container-inline div, .container-inline label /* Inline labels and form divs */
  {
    display: inline;
  }

  .tips /* Tips for Drupal's input formats */
  {
    margin: 0;
    padding: 0;
    font-size: 0.9em;
  }

/** OpenID **/
  /* The default styling for the OpenID login link seems to assume Garland's
   * styling of list items.
   */
  #user-login-form ul /* OpenID creates a new ul above the login form's links. */
  {
    margin-bottom: 0; /* Position OpenID's ul next to the rest of the links. */
  }

  #user-login-form li.openid-link, /* The "Log in using OpenID" links. */
  #user-login li.openid-link
  {
    margin-top: 1em;
    margin-left: -20px; /* Un-do some of the padding on the ul list. */
  	padding-left: 20px;
  	background-position: left center;
  }

  #user-login-form li.user-link, /* The "Cancel OpenID login" links. */
  #user-login li.user-link
  {
    margin-top: 1em;
  	list-style-type: disc;
  	list-style-position: outside;
  }

  #user-login li.openid-link, /* The OpenID links on the /user form. */
  #user-login li.user-link
  {
    margin-left: -2em; /* Un-do all of the padding on the ul list. */
  }

/** Drupal admin tables **/
  /* We overrode these styles in html-elements.css, but restore them for the
   * forms on the site.
   */
  form tbody
  {
    border-top: 1px solid #ccc;
  }

  form th
  {
    text-align: left;
    padding-right: 1em;
    border-bottom: 3px solid #ccc;
  }

  form tbody th
  {
    border-bottom: 1px solid #ccc;
  }

  form thead th
  {
    text-align: left;
    padding-right: 1em;
    border-bottom: 3px solid #ccc;
  }
  
  /**********panel theming for "latest" panel******************/
  
  .pane-content .view-id-latestcontent.view .view-content .item-list ul li,
  .pane-content .view-id-latestcontentregion.view .view-content .item-list ul li{
   list-style-type: none;
   padding: 3px;
  }
  
  .pane-content .view-id-latestcontent.view .view-content .item-list ul,
  .pane-content .view-id-latestcontentregion.view .view-content .item-list ul{
	padding:0;
	margin:0;
  }
  /****date****/
  .views-field-created .field-content,
  .views-field-tid a{
  font-family: Segoe UI, Trebuchet MS, Trebuchet, Arial, Helvetica,sans-serif;
  font-weight: bold;
  }
  
  .views-field-created{
  clear: none;
  float:left;  
  margin-right: 10px;
  }
  
  /***tag**/
  .views-field-tid{
  width:100px;
  float: left;
  clear: right;
  }
  
  .views-field-tid a{
  text-decoration: none;
  color: #000000;
  }
  
  /*content title div*/
  .views-field-title{
  clear:both;
  padding-top: 5px;
  font-family: Segoe UI, Arial, Trebuchet MS, Trebuchet, Helvetica,sans-serif;
  font-size: 18px;
  }
  .view-contentlatest .view-content{
  padding: 5px;
  }
  
  /*pane title*/
    
  .pane-content .view-id-latestcontent.view .view-content .item-list h3 ,
  .pane-content .view-id-latestcontentregion.view .view-content .item-list h3,
  .panel-pane h2.pane-title{
   background-color: #006666;
   margin: 0;
   color: #FFFFFF;
   }
  
  .pane-content .view-id-latestcontent.view .view-content .item-list h3 a ,
  .pane-content .view-id-latestcontentregion.view .view-content .item-list h3 a{
   color: #FFFFFF;
   text-decoration: none;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 14px;
   font-weight: bold;
   }
   
   
  
 .pane-content .view-id-latestcontent.view .view-content .item-list h3 .Nuclear,
 .pane-content .view-id-latestcontent.view .view-content .item-list h3 .Greater,
 .pane-content .view-id-latestcontent.view .view-content .item-list h3 .The,
 .pane-content .view-id-latestcontent.view .view-content .item-list h3 .Iran,
 .pane-content .view-id-latestcontent.view .view-content .item-list h3 .Russia{
  padding-bottom:5px;
  padding-left:5px;
  padding-top:5px;
  }

 .pane-content .view-id-latestcontentregion.view .view-content .item-list h3 .Nuclear,
 .pane-content .view-id-latestcontentregion.view .view-content .item-list h3 .Greater,
 .pane-content .view-id-latestcontentregion.view .view-content .item-list h3 .The,
 .pane-content .view-id-latestcontentregion.view .view-content .item-list h3 .Iran,
 .pane-content .view-id-latestcontentregion.view .view-content .item-list h3 .Russia,
 .panel-pane h2.pane-title{
  padding-bottom:5px;
  padding-left:5px;
  padding-top:5px;
  }
  
  /*** padding around last column title NEWSWIRE**/
  .panel-col-last.panel-panel  .panel-pane h2.pane-title{
  padding-bottom:0.65em;
  padding-top:0.65em;
  }

	
 .pane-content .view-id-latestcontent.view .view-content .item-list h3 .Nuclear{
  background-color: #336666;
  }		
 .pane-content .view-id-latestcontentregion.view .view-content .item-list h3 .Greater,
   .pane-content .view-id-latestcontentregion.view .view-content .item-list h3 .Iran{
  background-color: #cc6633;
  }
  .pane-content .view-id-latestcontentregion.view .view-content .item-list h3 .Russia{
  background-color: #660000;
  }
 .pane-content .view-id-latestcontent.view .view-content .item-list h3 .The{
 background-color: #808000;
}		
/***right-col headings in panel page**/  
.panel-pane h2.pane-title{
background-color : #000000;
color : #FFF;
}
/***right-col publisher in panel page**/ 
.views-field-field-publisher-value{
  font-style: italic;
  clear: none; 
  float: left;
  margin-right: 5px;
  }

/***panes content titles***/
  .pane-content .view-id-latestcontentregion.view li.views-row .views-field-title .field-content a,
  .pane-content .view-id-latestcontent.view li.views-row .views-field-title .field-content a{
  font-family: Segoe UI, Trebuchet MS, Trebuchet, Arial, Helvetica,sans-serif;
  font-weight: bold;
  }
  .views-field-field-publisher-value{
  font-style: italic;
  }
	
/**removing extra side spacing from columns**/
.panel-3col-33 .panel-col-last .inside,
.panel-3col-33 .panel-col-first .inside
/**.panel-3col-33 .panel-col-first .inside,
.panel-3col-33 .panel-col .inside**/ {
margin: 0;
padding: 0;
}

.panel-3col-33 .panel-col .inside{
margin-right: .2em;
margin-left: .2em;
}
.panel-3col-33 .panel-col-first .inside {
margin-right: 0;
}

#content-header h1.title{
border-bottom: 2px ridge black;
margin-top: 5px;
margin-bottom: 5px;
}