/* LAYOUT */

html {
  height: 100%;
  }

#wrapper {
  width: 96%;
  margin: 2em auto;
  padding: 1em;
}
#content-wrapper {
  position: relative;
}
#content {
  clear: left;
  float: left;
  width: 70%;
  margin-top: 5em;
}

#supplementary {
  width: 27%;
  float: right;
  clear: right;
  margin-top: 5em;
}

#navigation {
  position: absolute;
  top: 0;
  left: 0;
}
  #navigation li {
    padding: 1px;
    display: inline-block;
  }
#footer {
  clear: both;
}

ul.navigation-menu {
  width: 100%;
  margin: 0;
  padding: 3px 0 0;
  display: block;
  text-align: center;
}


.breadcrumb {
  padding: 0 0 10px 0;
}
div.tabs {
  margin: 0 0 10px 0;
}
ul.tabs {
}
  ul.tabs li a {
  padding: 1px 4px;   
  margin: 0;
  }
  
#comments {
  margin-top: 20px;
  padding-top: 20px;
}

#supplementary, #supplementary .block {
  margin-bottom: 1em;
}

/********* ADDITIONS *********/


p { font-family:Verdana, Geneva, sans-serif;}