#search {
display: inline;
float: left;
padding: 5px 0 0 0;
width:200px;
}

#logo img{ position:relative; top:5px; right:5px;}

h2 {
font-family: Verdana, Geneva, sans-serif;
display: block;
padding: 0 5px 0 0;
font-size: 18px;
color: #115AA1;
margin: 10px 0 0 0;
line-height: 22px;
}

p {
font-family: Verdana, Geneva, sans-serif;
padding: 0 5px 0 0;
font-size: 16px;
color: #333333;
line-height: 18px;
}

body {
margin: 0px;
width: auto;
font-family: Verdana, Geneva, sans-serif;
font-size: 16px;
line-height: 18px;
}

a {
color: #039;
}

#block-system-main {
padding: 0 5px 0 0;
}

ul.list li {
color: #151515;
position: static;
margin-left: 0;
border-bottom: 1px solid #6da4da;
padding: 0px 0 15px 0;
margin-bottom: 10px;
list-style: none;
clear: both;
line-height: 18px;
text-decoration: none;
font-size: 16px;
}


#superfish-3-select {
width: 100%;
background-color: #eeeeee;
font-size: 19px;
padding: 5px;
border: none;
}


#block-menu-menu-oman h2{display:none;} 

#block-menu-menu-learn-english-menu-ar h2, #block-menu-menu-ltd h2, #block-menu-menu-usstudy h2, #block-menu-menu-msnmenu h2, #block-menu-menu-pfdpmenu h2, #block-menu-menu-fulbright h2, #block-block-307 h2, #block-menu-menu-newsresources h2, #block-menu-menu-westbankgaza h2, #block-menu-menu-saudi-arabia h2, #block-menu-menu-studyabroad h2, #block-menu-block-1 h2, #block-menu-menu-educationalservices h2,#block-menu-menu-testingmenu h2, #block-menu-menu-englishlanguage h2, #block-menu-menu-academiccultural h2, #block-menu-menu-institutional h2{display: block;font-size: 18px;font-weight: normal;background-color: #333333;height: 30px;position: relative;margin: 0 0 0 0;padding: 5px 5px 0 0; color:#ffffff; line-height:20px;}



/*********  FIRST LEVEL BLOCK NAV  *********/

#block-menu-menu-oman ul.menu,
#block-menu-menu-learn-english-menu-ar ul.menu,
#block-menu-menu-ltd ul.menu,
#block-menu-menu-usstudy ul.menu, 
#block-menu-menu-msnmenu ul.menu, 
#block-menu-menu-pfdpmenu ul.menu,
#block-menu-menu-fulbright ul.menu,
#block-menu-menu-newsresources ul.menu,
#block-menu-menu-westbankgaza ul.menu, 
#block-menu-menu-saudi-arabia ul.menu, 
#block-menu-menu-studyabroad ul.menu,
#block-menu-menu-institutional ul.menu, 
#block-menu-menu-academiccultural ul.menu, 
#block-menu-menu-testingmenu ul.menu, 
#block-menu-menu-englishlanguage ul.menu, 
#block-menu-block-1 ul, #sidebar ul, #block-menu-menu-educationalservices ul
{padding: 0 0 0 0;margin: 0 0 0 0;}


#block-menu-menu-oman ul li,
#block-menu-menu-learn-english-menu-ar ul li.leaf, #block-menu-menu-learn-english-menu-ar ul li.collapsed, #block-menu-menu-learn-english-menu-arul li.expanded, #block-menu-menu-learn-english-menu-ar ul li.expanded.active-trail,
#block-menu-menu-ltd ul li.leaf, #block-menu-menu-ltd ul li.collapsed, #block-menu-menu-ltd ul li.expanded, #block-menu-menu-ltd ul li.expanded.active-trail,
#block-menu-menu-usstudy ul li.leaf, #block-menu-menu-usstudy ul li.collapsed, #block-menu-menu-usstudy ul li.expanded, #block-menu-menu-usstudy ul li.expanded.active-trail,
#block-menu-menu-msnmenu ul li.leaf, #block-menu-menu-msnmenu ul li.collapsed, #block-menu-menu-msnmenu ul li.expanded, #block-menu-menu-msnmenu ul li.expanded.active-trail,
#block-menu-menu-pfdpmenu ul li,
#block-menu-menu-fulbright ul li,
#block-menu-menu-newsresources ul li,
#block-menu-menu-westbankgaza ul li,
#block-menu-menu-saudi-arabia ul li,
#block-menu-menu-studyabroad ul li.leaf, #block-menu-menu-studyabroad ul li.collapsed, #block-menu-menu-studyabroad ul li.expanded, #block-menu-menu-studyabroad ul li.expanded.active-trail,
#block-menu-menu-institutional ul li.leaf, #block-menu-menu-institutional ul li.collapsed, #block-menu-menu-institutional ul li.expanded, #block-menu-menu-institutional ul li.expanded.active-trail,
#block-menu-menu-academiccultural ul li.leaf,  #block-menu-menu-academiccultural ul li.collapsed, #block-menu-menu-academiccultural ul li.expanded, #block-menu-menu-academiccultural ul li.expanded.active-trail,
#block-menu-menu-englishlanguage ul li.leaf,  #block-menu-menu-englishlanguage ul li.collapsed, #block-menu-menu-englishlanguage ul li.expanded, #block-menu-menu-englishlanguage ul li.expanded.active-trail,
#block-menu-menu-testingmenu ul li.leaf,  #block-menu-menu-testingmenu ul li.collapsed, #block-menu-menu-testingmenu ul li.expanded, #block-menu-menu-testingmenu ul li.expanded.active-trail,  
#block-menu-block-1 ul li, #sidebar ul li, #block-menu-menu-educationalservices ul li {display: block;height: auto;background-color: #105da5;margin: 0 0 0 0;border-bottom: solid 1px #b9e1f0;padding: 0 0 0 0;}


#block-menu-menu-oman ul li a,
#block-menu-menu-learn-english-menu-ar li.leaf a, #block-menu-menu-learn-english-menu-ar ul li.collapsed a, 
#block-menu-menu-ltd li.leaf a, #block-menu-menu-ltd ul li.collapsed a, 
#block-menu-menu-usstudy li.leaf a, #block-menu-menu-usstudy ul li.collapsed a, 
#block-menu-menu-msnmenu li.leaf a, #block-menu-menu-msnmenu ul li.collapsed a, 
#block-menu-menu-pfdpmenu ul li a,
#block-menu-menu-fulbright ul li a,
#block-menu-menu-newsresources ul li a,
#block-menu-menu-westbankgaza ul li a,
#block-menu-menu-saudi-arabia ul li a,
#block-menu-menu-studyabroad ul li.leaf a, #block-menu-menu-studyabroad ul li.collapsed a, 
#block-menu-menu-institutional ul li.leaf a, #block-menu-menu-institutional ul li.collapsed a, 
#block-menu-menu-academiccultural ul li.leaf a, #block-menu-menu-academiccultural ul li.collapsed a, 
#block-menu-menu-englishlanguage ul li.leaf a, #block-menu-menu-englishlanguage ul li.collapsed a,
#block-menu-menu-testingmenu ul li.leaf a, #block-menu-menu-testingmenu ul li.collapsed a,
#block-menu-block-1 ul li a, #sidebar ul li a, #block-menu-menu-educationalservices ul li a{font-size: 18px; text-decoration: none; padding: 0 30px 0 0;color: #ddeaf7;line-height: 35px; background-image:
url(/sites/default/files/images/plus.gif); background-repeat:no-repeat;background-position: right;display: block;width: 90%;}


#block-menu-menu-oman ul li.first.leaf a.active, #block-menu-menu-oman ul li a.active-trail.active,
#block-menu-menu-learn-english-menu-ar ul li.first.leaf a.active, #block-menu-menu-learn-english-menu-ar ul li a.active-trail.active,
#block-menu-menu-ltd ul li.first.leaf a.active, #block-menu-menu-ltd ul li a.active-trail.active,
#block-menu-menu-usstudy ul li.first.leaf a.active, #block-menu-menu-usstudy ul li a.active-trail.active,
#block-menu-menu-msnmenu ul li.first.leaf a.active, #block-menu-menu-msnmenu ul li a.active-trail.active,
#block-menu-menu-pfdpmenu ul li.first.leaf a.active, #block-menu-menu-pfdpmenu ul li a.active-trail.active,
#block-menu-menu-fulbright ul li.first.leaf a.active, #block-menu-menu-fulbright ul li a.active-trail.active,
#sidebar ul li.leaf a.active, #sidebar ul li.last.leaf a.active, #sidebar ul li.first.leaf a.active, #sidebar ul li a.active-trail.active,
#block-menu-menu-newsresources ul li.first.leaf a.active, #block-menu-menu-newsresources ul li a.active-trail.active,
#block-menu-menu-westbankgaza ul li.first.leaf a.active, #block-menu-menu-westbankgaza ul li a.active-trail.active,
#block-menu-menu-saudi-arabia ul li.first.leaf a.active, #block-menu-menu-saudi-arabia ul li a.active-trail.active,
#block-menu-menu-studyabroad ul li.first.leaf a.active, #block-menu-menu-studyabroad ul li a.active-trail.active,
#block-menu-menu-institutional ul li.first.leaf a.active, #block-menu-menu-institutional ul li a.active-trail.active,
#block-menu-menu-academiccultural ul li.first.leaf a.active, #block-menu-menu-academiccultural ul li a.active-trail.active,
#block-menu-menu-educationalservices ul li a.active, #block-menu-menu-educationalservices ul li a.active-trail.active,
#block-menu-menu-englishlanguage ul li.first.leaf a.active, #block-menu-menu-englishlanguage ul li a.active-trail.active,
#block-menu-menu-testingmenu ul li.first.leaf a.active, #block-menu-menu-testingmenu ul li a.active-trail.active, #block-menu-block-1 ul li.first.leaf a.active, #block-menu-block-1 ul li a.active-trail.active{ background-image:
url(/sites/default/files/images/minus.gif); background-repeat:no-repeat; background-position: right;}


#block-menu-menu-oman ul li.expanded a,
#block-menu-menu-learn-english-menu-ar ul li.expanded a, 
#block-menu-menu-ltd ul li.expanded a, 
#block-menu-menu-usstudy ul li.expanded a, 
#block-menu-menu-msnmenu ul li.expanded a, 
#block-menu-menu-pfdpmenu ul li.expanded a,
#block-menu-menu-fulbright ul li.expanded a,
#block-menu-menu-newsresources ul li.expanded a,
#block-menu-menu-westbankgaza ul li.expanded a,
#block-menu-menu-saudi-arabia ul li.expanded a,
#block-menu-menu-studyabroad ul li.expanded a,
#block-menu-menu-institutional ul li.expanded a,
#block-menu-menu-academiccultural ul li.expanded a, 
#block-menu-menu-englishlanguage ul li.expanded a, 
#block-menu-menu-testingmenu ul li.expanded a{font-size: 18px; text-decoration: none; padding: 0 30px 0 0;color: #ddeaf7;line-height: 35px; background-image:
url(/sites/default/files/images/minus.gif); background-repeat:no-repeat;background-position: right;display: block;
width: 90%;}





/*********  SECOND LEVEL BLOCK NAV  *********/

#block-menu-menu-learn-english-menu-ar ul.menu li ul.menu, 
#block-menu-menu-ltd ul.menu li ul.menu, 
#block-menu-menu-usstudy ul.menu li ul.menu, 
#block-menu-menu-msnmenu ul.menu li ul.menu, 
#block-menu-menu-studyabroad ul.menu li ul.menu, 
#block-menu-menu-institutional ul.menu li ul.menu, 
#block-menu-menu-academiccultural ul.menu li ul.menu, 
#block-menu-menu-englishlanguage ul.menu li ul.menu, 
#block-menu-menu-testingmenu ul.menu li ul.menu {padding: 0 0 0 0;margin: 0 0 0 0;background-color: #7197bb;}


#block-menu-menu-learn-english-menu-ar li ul.menu li.first.leaf, #block-menu-menu-learn-english-menu-ar ul.menu li ul.menu li.leaf,
#block-menu-menu-ltd ul.menu li ul.menu li.first.leaf, #block-menu-menu-ltd ul.menu li ul.menu li.leaf,
#block-menu-menu-usstudy ul.menu li ul.menu li.first.leaf, #block-menu-menu-usstudy ul.menu li ul.menu li.leaf,
#block-menu-menu-msnmenu ul.menu li ul.menu li.first.leaf, #block-menu-menu-msnmenu ul.menu li ul.menu li.leaf,
#block-menu-menu-studyabroad ul.menu li ul.menu li.first.leaf, #block-menu-menu-studyabroad ul.menu li ul.menu li.leaf, 
#block-menu-menu-institutional ul.menu li ul.menu li.first.leaf, #block-menu-menu-institutional ul.menu li ul.menu li.leaf, 
#block-menu-menu-academiccultural ul.menu li ul.menu li.first.leaf, #block-menu-menu-academiccultural ul.menu li ul.menu li.leaf,
#block-menu-menu-englishlanguage ul.menu li ul.menu li.first.leaf, #block-menu-menu-englishlanguage ul.menu li ul.menu li.leaf,
#block-menu-menu-testingmenu ul.menu li ul.menu li.first.expanded.active-trail {border-top: none;padding: 0 0 0 0px;background-color:#7197bb;}


#block-menu-menu-learn-english-menu-ar ul.menu li ul.menu li.last.leaf,
#block-menu-menu-ltd ul.menu li ul.menu li.last.leaf,
#block-menu-menu-usstudy ul.menu li ul.menu li.last.leaf,
#block-menu-menu-msnmenu ul.menu li ul.menu li.last.leaf,
#block-menu-menu-studyabroad ul.menu li ul.menu li.last.leaf,
#block-menu-menu-institutional ul.menu li ul.menu li.last.leaf,
#block-menu-menu-academiccultural ul.menu li ul.menu li.last.leaf,
#block-menu-menu-englishlanguage ul.menu li ul.menu li.last.leaf {border-bottom: none;padding: 0 0 0 0px;background-color:#7197bb;}


#block-menu-menu-learn-english-menu-ar li ul.menu li.first.leaf,
#block-menu-menu-ltd ul.menu li ul.menu li.first.leaf,
#block-menu-menu-usstudy ul.menu li ul.menu li.first.leaf, 
#block-menu-menu-msnmenu ul.menu li ul.menu li.first.leaf, 
#block-menu-menu-studyabroad ul.menu li ul.menu li.first.leaf, 
#block-menu-menu-institutional ul.menu li ul.menu li.first.leaf, 
#block-menu-menu-academiccultural ul.menu li ul.menu li.first.leaf, 
#block-menu-menu-englishlanguage ul.menu li ul.menu li.first.leaf, 
#block-menu-menu-testingmenu ul.menu li ul.menu li.first.expanded.active-trail {border-top: solid 1px #b9e1f0;padding: 0 0 0 0px;background-color:#7197bb;}


#block-menu-menu-learn-english-menu-ar li ul.menu li.expanded.active-trail, #block-menu-menu-learn-english-menu-ar ul.menu li ul.menu li.collapsed, #block-menu-menu-learn-english-menu-ar ul.menu li ul.menu li.first.collapsed, #block-menu-menu-learn-english-menu-ar ul.menu li ul.menu li.last.collapsed,
#block-menu-menu-ltd ul.menu li ul.menu li.expanded.active-trail, #block-menu-menu-ltd ul.menu li ul.menu li.collapsed, #block-menu-menu-ltd ul.menu li ul.menu li.first.collapsed, #block-menu-menu-ltd ul.menu li ul.menu li.last.collapsed,
#block-menu-menu-usstudy ul.menu li ul.menu li.expanded.active-trail, #block-menu-menu-usstudy ul.menu li ul.menu li.collapsed, #block-menu-menu-usstudy ul.menu li ul.menu li.first.collapsed, #block-menu-menu-usstudy ul.menu li ul.menu li.last.collapsed,
#block-menu-menu-msnmenu ul.menu li ul.menu li.expanded.active-trail, #block-menu-menu-msnmenu ul.menu li ul.menu li.collapsed, #block-menu-menu-msnmenu ul.menu li ul.menu li.first.collapsed, #block-menu-menu-msnmenu ul.menu li ul.menu li.last.collapsed,
#block-menu-menu-studyabroad ul.menu li ul.menu li.expanded.active-trail, #block-menu-menu-studyabroad ul.menu li ul.menu li.collapsed, #block-menu-menu-studyabroad ul.menu li ul.menu li.first.collapsed, #block-menu-menu-studyabroad ul.menu li ul.menu li.last.collapsed,
#block-menu-menu-institutional ul.menu li ul.menu li.expanded.active-trail, #block-menu-menu-institutional ul.menu li ul.menu li.collapsed, #block-menu-menu-institutional ul.menu li ul.menu li.first.collapsed, #block-menu-menu-institutional ul.menu li ul.menu li.last.collapsed,
#block-menu-menu-academiccultural ul.menu li ul.menu li.expanded.active-trail, #block-menu-menu-academiccultural ul.menu li ul.menu li.collapsed, #block-menu-menu-academiccultural ul.menu li ul.menu li.first.collapsed, #block-menu-menu-academiccultural ul.menu li ul.menu li.last.collapsed,
#block-menu-menu-englishlanguage ul.menu li ul.menu li.expanded.active-trail, #block-menu-menu-englishlanguage ul.menu li ul.menu li.collapsed, #block-menu-menu-englishlanguage ul.menu li ul.menu li.first.collapsed, #block-menu-menu-englishlanguage ul.menu li ul.menu li.last.collapsed,
#block-menu-menu-testingmenu ul.menu li ul.menu li.expanded.active-trail, #block-menu-menu-testingmenu ul.menu li ul.menu li.collapsed, #block-menu-menu-testingmenu ul.menu li ul.menu li.first.collapsed, #block-menu-menu-testingmenu ul.menu li ul.menu li.last.collapsed{ background-color:#7197bb;}


#block-menu-menu-learn-english-menu-ar li ul.menu li.expanded.active-trail,
#block-menu-menu-ltd li ul.menu li.expanded.active-trail,
#block-menu-menu-usstudy li ul.menu li.expanded.active-trail,
#block-menu-menu-msnmenu li ul.menu li.expanded.active-trail,
#block-menu-menu-studyabroad li ul.menu li.expanded.active-trail,
#block-menu-menu-institutional li ul.menu li.expanded.active-trail,
#block-menu-menu-academiccultural li ul.menu li.expanded.active-trail,
#block-menu-menu-englishlanguage li ul.menu li.expanded.active-trail,
#block-menu-menu-testingmenu ul.menu li ul.menu li.expanded.active-trail { border-bottom:none; background-color:#7197bb;}


#block-menu-menu-learn-english-menu-ar li ul.menu li.first.collapsed, 
#block-menu-menu-ltd ul.menu li ul.menu li.first.collapsed, 
#block-menu-menu-usstudy ul.menu li ul.menu li.first.collapsed, 
#block-menu-menu-msnmenu ul.menu li ul.menu li.first.collapsed, 
#block-menu-menu-studyabroad ul.menu li ul.menu li.first.collapsed, 
#block-menu-menu-institutional ul.menu li ul.menu li.first.collapsed, 
#block-menu-menu-academiccultural ul.menu li ul.menu li.first.collapsed, 
#block-menu-menu-englishlanguage ul.menu li ul.menu li.first.collapsed, 
#block-menu-menu-testingmenu ul.menu li ul.menu li.first.collapsed{border-top: solid 1px #b9e1f0; background-color:#7197bb;}


#block-menu-menu-learn-english-menu-ar ul li.leaf ul li.leaf, #block-menu-menu-learn-english-menu-ar ul li.collapsed ul li.collapsed, #block-menu-menu-learn-english-menu-ar ul li.expanded ul li.expanded,
#block-menu-menu-ltd ul li.leaf ul li.leaf, #block-menu-menu-ltd ul li.collapsed ul li.collapsed, #block-menu-menu-ltd ul li.expanded ul li.expanded,
#block-menu-menu-usstudy ul li.leaf ul li.leaf, #block-menu-menu-usstudy ul li.collapsed ul li.collapsed, #block-menu-menu-usstudy ul li.expanded ul li.expanded,
#block-menu-menu-msnmenu ul li.leaf ul li.leaf, #block-menu-menu-msnmenu ul li.collapsed ul li.collapsed, #block-menu-menu-msnmenu ul li.expanded ul li.expanded,
#block-menu-menu-studyabroad ul li.leaf ul li.leaf, #block-menu-menu-studyabroad ul li.collapsed ul li.collapsed, #block-menu-menu-studyabroad ul li.expanded ul li.expanded, 
#block-menu-menu-institutional ul li.leaf ul li.leaf, #block-menu-menu-institutional ul li.collapsed ul li.collapsed, #block-menu-menu-institutional ul li.expanded ul li.expanded, 
#block-menu-menu-academiccultural ul li.leaf ul li.leaf, #block-menu-menu-academiccultural ul li.collapsed ul li.collapsed, #block-menu-menu-academiccultural ul li.expanded ul li.expanded, 
#block-menu-menu-englishlanguage ul li.leaf ul li.leaf, #block-menu-menu-englishlanguage ul li.collapsed ul li.collapsed, #block-menu-menu-englishlanguage ul li.expanded ul li.expanded, 
#block-menu-menu-testingmenu ul li.leaf ul li.leaf, #block-menu-menu-testingmenu ul li.collapsed ul li.collapsed, #block-menu-menu-testingmenu ul li.expanded ul li.expanded {display: block;height: auto;background-color: #ffffff;margin: 0 0 0 0;border-bottom: solid 1px #b9e1f0;padding: 0 0 0 0;}


#block-menu-menu-learn-english-menu-ar ul li ul li.first.leaf a, #block-menu-menu-learn-english-menu-ar ul li ul li.leaf a, #block-menu-menu-learn-english-menu-ar ul li ul li.last.leaf a,
#block-menu-menu-ltd ul li ul li.first.leaf a, #block-menu-menu-ltd ul li ul li.leaf a, #block-menu-menu-ltd ul li ul li.last.leaf a,
#block-menu-menu-usstudy ul li ul li.first.leaf a, #block-menu-menu-usstudy ul li ul li.leaf a, #block-menu-menu-usstudy ul li ul li.last.leaf a,
#block-menu-menu-msnmenu ul li ul li.first.leaf a, #block-menu-menu-msnmenu ul li ul li.leaf a, #block-menu-menu-msnmenu ul li ul li.last.leaf a,
#block-menu-menu-studyabroad ul li ul li.first.leaf a, #block-menu-menu-studyabroad ul li ul li.leaf a, #block-menu-menu-studyabroad ul li ul li.last.leaf a, #block-menu-menu-studyabroad ul li ul li.last.collapsed a, #block-menu-menu-studyabroad ul li ul li.collapsed a, #block-menu-menu-studyabroad ul li ul li.first.collapsed a,
#block-menu-menu-institutional ul li ul li.first.leaf a, #block-menu-menu-institutional ul li ul li.leaf a, #block-menu-menu-institutional ul li ul li.last.leaf a,
#block-menu-menu-academiccultural ul li ul li.first.leaf a, #block-menu-menu-academiccultural ul li ul li.leaf a, #block-menu-menu-academiccultural ul li ul li.last.leaf a,
#block-menu-menu-englishlanguage ul li ul li.first.leaf a, #block-menu-menu-englishlanguage ul li ul li.leaf a, #block-menu-menu-englishlanguage ul li ul li.last.leaf a,
#block-menu-menu-testingmenu ul li ul li.collapsed a {color:#ffffff; padding-right:30px;background-image:url(/sites/default/files/images/plus.gif); background-repeat:no-repeat; background-position: right; position: relative;right: 20px;display: block;width: 85%;}


#block-menu-menu-learn-english-menu-ar ul li ul li a.active-trail, #block-menu-menu-learn-english-menu-ar ul li ul li a.active-trail.active, 
#block-menu-menu-ltd ul li ul li a.active-trail, #block-menu-menu-ltd ul li ul li a.active-trail.active, 
#block-menu-menu-usstudy ul li ul li a.active-trail, #block-menu-menu-usstudy ul li ul li a.active-trail.active, 
#block-menu-menu-msnmenu ul li ul li a.active-trail, #block-menu-menu-msnmenu ul li ul li a.active-trail.active, 
#block-menu-menu-studyabroad ul li ul li a.active-trail, #block-menu-menu-studyabroad ul li ul li a.active-trail.active,
#block-menu-menu-institutional ul li ul li a.active-trail, #block-menu-menu-institutional ul li ul li a.active-trail.active,
#block-menu-menu-academiccultural ul li ul li a.active-trail, #block-menu-menu-academiccultural ul li ul li a.active-trail.active, 
#block-menu-menu-englishlanguage ul li ul li a.active-trail, #block-menu-menu-englishlanguage ul li ul li a.active-trail.active, 
#block-menu-menu-testingmenu ul li ul li a.active-trail, #block-menu-menu-testingmenu ul li ul li a.active-trail.active {color:#ffffff; padding-right:30px;background-image:
url(/sites/default/files/images/minus.gif); background-repeat:no-repeat; background-position: right; position: relative;right: 20px;display: block;width: 85%;}





/*********  THIRD LEVEL BLOCK NAV  *********/


#block-menu-menu-studyabroad ul.menu li ul.menu li ul.menu,
#block-menu-menu-testingmenu ul.menu li ul.menu li ul.menu {padding: 0 0 0 0;margin: 0 0 0 0;background-color: #ffffff;}

#block-menu-menu-studyabroad ul.menu li ul.menu li ul.menu li.leaf, #block-menu-menu-studyabroad ul.menu li ul.menu li ul.menu li.expanded.active-trail, #block-menu-menu-studyabroad ul.menu li ul.menu li ul.menu li.collapsed,
#block-menu-menu-testingmenu ul.menu li ul.menu li ul.menu li.leaf, #block-menu-menu-testingmenu ul.menu li ul.menu li ul.menu li.expanded.active-trail, #block-menu-menu-testingmenu ul.menu li ul.menu li ul.menu li.collapsed {display: block;height: auto;;margin: 0 0 0 0;border-bottom: solid 1px #b9e1f0;padding: 0 0 0 0;background-color: #ffffff;}

#block-menu-menu-studyabroad ul.menu li ul.menu li ul.menu li.last.leaf,
#block-menu-menu-testingmenu ul.menu li ul.menu li ul.menu li.last.leaf{ border-bottom:none;}

#block-menu-menu-studyabroad ul li ul li ul li.last.collapsed a, #block-menu-menu-studyabroad ul li ul li ul li.first.collapsed a, #block-menu-menu-studyabroad ul li ul li ul li.collapsed a, #block-menu-menu-studyabroad ul li ul li ul li a.active-trail.active, 
#block-menu-menu-testingmenu ul li ul li ul li.last.leaf a, #block-menu-menu-testingmenu ul li ul li ul li.first.leaf a, #block-menu-menu-testingmenu ul li ul li ul li.leaf a, #block-menu-menu-testingmenu ul li ul li ul li a.active-trail.active{color:#000000; padding-right:30px;background-image:
url(/sites/default/files/images/plus_dark.gif); background-repeat:no-repeat; background-position: right; position: relative;right: 40px;display: block;width: 80%;}

#block-menu-menu-studyabroad ul li ul li ul li a.active-trail.active, #block-menu-menu-studyabroad ul li ul li ul li.first.leaf a.active-trail.active, #block-menu-menu-studyabroad ul li ul li ul li a.active-trail, #block-menu-menu-studyabroad ul li ul li ul li.first.last.expanded a.active-trail, #block-menu-menu-studyabroad ul li ul li ul li.expanded a, 
#block-menu-menu-testingmenu ul li ul li ul li a.active-trail.active, #block-menu-menu-testingmenu ul li ul li ul li.first.leaf a.active-trail.active{color:#000000; padding-right:30px;background-image:
url(/sites/default/files/images/minus_dark.gif); background-repeat:no-repeat; background-position: right; position: relative;right: 40px;display: block;width: 80%;}

#block-menu-menu-studyabroad ul li ul li ul li.first.leaf a, #block-menu-menu-studyabroad ul li ul li ul li.leaf a, 
#block-menu-menu-testingmenu ul li ul li ul li.last.leaf a, #block-menu-menu-testingmenu ul li ul li ul li.first.leaf a, #block-menu-menu-testingmenu ul li ul li ul li.leaf a{padding: 0 30px 0 0;}

#block-menu-menu-studyabroad ul li ul li ul li.last.leaf a {color:#000000; padding-right:30px;background-image:
url(/sites/default/files/images/plus_dark.gif); background-repeat:no-repeat; background-position: right; position: relative;right: 40px;display: block;width: 80%;}



/*********  FOURTH LEVEL BLOCK NAV  *********/

#block-menu-menu-studyabroad ul.menu li ul.menu li ul.menu li ul.menu {padding: 0 0 0 0;margin: 0 0 0 0;background-color: #ffffff;}

#block-menu-menu-studyabroad ul.menu li ul.menu li ul.menu li ul.menu li.leaf {display: block;height: auto;;margin: 0 0 0 0;border-bottom: solid 1px #b9e1f0;padding: 0 0 0 0;background-color: #ffffff;}

#block-menu-menu-studyabroad ul.menu li ul.menu li ul.menu li ul.menu li.last.leaf{ border-bottom:none;}

#block-menu-menu-studyabroad ul li ul li ul li ul li.last.leaf a, #block-menu-menu-studyabroad ul li ul li ul li ul li.first.leaf a, #block-menu-menu-studyabroad ul li ul li ul li ul li.leaf a, #block-menu-menu-studyabroad ul li ul li ul li ul li a.active-trail.active{color:#000000; padding-right:30px;background-image:
url(/sites/default/files/images/plus_dark.gif); background-repeat:no-repeat; background-position: right; position: relative;right: 70px;display: block;width: 60%;}

#block-menu-menu-studyabroad ul li ul li ul li ul li a.active-trail.active, #block-menu-menu-studyabroad ul li ul li ul li ul li.first.leaf a.active-trail.active, #block-menu-menu-studyabroad ul li ul li ul li ul li.leaf.active-trail a.active-trail.active{color:#000000; padding-right:30px;background-image:
url(/sites/default/files/images/minus_dark.gif); background-repeat:no-repeat; background-position: right; position: relative;right: 70px;display: block;width: 60%;}

#block-menu-menu-studyabroad ul li ul li ul li ul li.last.leaf a, #block-menu-menu-studyabroad ul li ul li ul li ul li.first.leaf a, #block-menu-menu-studyabroad ul li ul li ul li ul li.leaf a{padding: 0 30px 0 0;}

ul.feature2 div.img {
float: left;
display: inline;
position: relative;
margin-left: 10px;
margin-bottom: 10px;
border: none;
margin-top: 0px;
width: 130px;
height: 80px;
vertical-align: bottom;
top: 7px;
}

ul.feature2 {
position: static;
padding: 0px 5px 10px 0px;
margin: 0px;
background: none;
border: none;
width: 98%;
}

#homepage7bottomright h2 {
padding: 0;
margin: 0;
color: #505050;
font-size: 16px;
font-weight: bold;
text-align: right;
vertical-align: middle;
text-transform: uppercase;
border-bottom: solid 5px #DFDFDF;
position: relative;
top: 10px;
right: 20px;
width: 90%;
}

ul.homepage7bottomright {
padding: 0;
margin-bottom: 0px;
position: relative;
right: 22px;
top: 10px;
}

ul.homepage7bottomright li {
text-align: right;
padding: 0;
list-style-type: none;
position: relative;
top: 5px;
}

ul.quicklinks_home2 {
padding: 0;
position: relative;
right: 20px;
top: 10px;
width: 98%;
}

ul.quicklinks_home2 li {
padding: 0px 0px 0px 0px;
margin: 0px 0px 0px 0px;
list-style: none;
background: none;
text-align: right;
width: 100%;
}

.featurebox1 {
padding: 0px 0px 20px 0px;
width: 98%;
float: none;
height: auto;
background-color: #f3f3f3;
position: relative;
top: 5px;
right: 5px;
margin-bottom: 5px;
}

.featureboxbody {
font-size: 11px;
color: #353333;
text-decoration: none;
position: relative;
padding-right: 0;
padding-left: 0;
line-height: 14px;
top: 5px;
right: 11px;
width: 94%;
}

.featurebox2 {
padding: 0px 0px 20px 0px;
width: 98%;
float: none;
height: auto;
background-color: #f3f3f3;
position: relative;
top: 5px;
right: 5px;
margin-bottom: 5px;
}

.featurebox3 {
padding: 0px 0px 20px 0px;
width: 98%;
float: none;
height: auto;
background-color: #f3f3f3;
position: relative;
top: 5px;
right: 5px;
margin-bottom: 10px;
}

#homepage7middle {
padding: 0 0 20px 0;
background-image: url(/themes/garland/images/quicklinksback2.jpg);
background-position: top;
background-repeat: repeat-x;
margin-top: 0;
border: solid 1px #D9D9D9;
margin-bottom: 0px;
width: 98%;
height: auto;
text-align: right;
}


ul.quicklinks_home3 li {
padding: 0;
margin: 0;
position: relative;
top: 15px;
right: 20px;
width: auto;
padding-bottom: 10px;
line-height: 12px;
background: none;
list-style-type: none;
}

#homepage7middle h2 {
padding: 0;
margin: 0;
color: #505050;
font-size: 16px;
font-weight: bold;
text-align: right;
vertical-align: middle;
text-transform: uppercase;
border-bottom: solid 5px #DFDFDF;
position: relative;
top: 10px;
right: 20px;
width: 92%;
}

#block-block-304 {
display: block;
padding: 3px 5px 3px 0px;
}

.column {
margin-right: 10px;
margin-left: 30px;
overflow: hidden;

float: right;
display: inline;
}


#country_box{display:block}

#country_box fieldset.collapsible.collapse-processed {position: relative;display: 

block;border: solid 1px #dfdfdf; }

#country_box fieldset.collapsible.collapse-processed.collapsed {
position: relative;display: block;border-top: solid 1px #dfdfdf;border-right:none; 

border-left:none; border-bottom:none;}

#country_box ul{display: block;margin: 0 0 0 0;padding: 0 0 0 10px;}

#country_box ul li{list-style-type: disc;padding: 0 0 5px 0px;list-style-position: 

outside;margin: 0 0 0 10px;}

#country_box ul li a{display:block;}

html.js fieldset.collapsed .fieldset-legend {
background-position: 5px 50%; background-image:none;
}

.element-invisible {
position: absolute !important;
clip: rect(1px, 1px, 1px, 1px);
overflow: hidden;
height: 1px;
}

.fieldset-legend span.summary {
color: #999;
font-size: 0.9em;
margin-left: 0.5em;
}


/********* FACES OF AMIDEAST *********/

.panels-flexible-region-85-left, .panels-flexible-region-85-right {width: 100%;}

.newprof2 h2 {display: block;width: 98%;margin-top: 0px;margin-bottom: 10px;height: auto;clear: both;background-color: #145ea5;color: #ffffff;padding-top: 5px;padding-right: 10px;padding-bottom: 10px;font-size: 16px;line-height: 15px;}

#newprof2 {display: block;width: 100%;margin-top: 5px;margin-bottom: 5px;height: 80px;position: relative;clear: both;}

#newprof2_imgbox {display: block;width: 80px;position: relative;right: 10px;float: right;margin-bottom: 0px;}

#newprof2 img {display: block;width: 100%;height: 80px;}

#newprof2_2box {display: block;float: right;width: 70%;position: relative;right: 10px;top: 0px;}

#newprof2_header, #newprof_header a:link, #newprof_header a:active, #newprof_header a:visited {font-family: Arial, Helvetica, sans-serif;font-size: 15px;color: #145ea5;text-decoration: none;position: relative;right: 10px;font-weight: bold;line-height: 17px;}

#newprof2_program {font-family: Arial, Helvetica, sans-serif;font-size: 13px;text-transform: uppercase;color: #686868;position: relative;right: 10px;font-weight: normal;line-height: 15px;top: 5px;}

.panels-flexible-region-83-center {width: 100%;}

.newprofmore, .newprofmore a:link, .newprofmore a:active, .newprofmore a:visited {font-size: 12px;line-height: 20px;display: block;width: 100px;position: relative;right: 10px;top: -3px;font-weight: bold;text-decoration: none;}

.panels-flexible-region-inside-first {padding-left: 0;padding-right: 0;}

.panels-flexible-region-inside-last {padding-right: 0;padding-left: 0;}

#newprof {display: block;width: 100%;margin-top: 20px;margin-bottom: 10px;height: 110px;clear: both;}

#newprof_imgbox {display: block;width: 150px;position: relative;right: 10px;float: right;margin-bottom: 10px;}

#newprof img {display: block;width: 100%;height: auto;}

#newprof_2box {display: block;float: right;width: 97%;position: relative;right: 0px;top: 0px;}

#newprof_program {font-family: Arial, Helvetica, sans-serif;font-size: 12px;text-transform: uppercase;color: #686868;position: relative;right: 10px;}

#newprof p {font-family: Arial, Helvetica, sans-serif;font-size: 14px;color: #181818;position: relative;right: 10px;line-height: 18px;margin: 10px 0 30px 0;padding: 0 0 0 0;}





/********* LEARN ENGLISH *********/

#right_region {
display: block;
float: right;
position: relative;
top: 0px;
right: 5px;
padding-bottom: 10px;
}

#right_region .box {
float: right;
margin-bottom: 10px;
width: 210px;
position: relative;
display: block;
margin-left: 0px;
border: solid 1px #c2c2c2;
margin-top: 10px;
padding: 5px;
height: 127px;
}

#right_region .box2 {
float: right;
margin-bottom: 1px;
width: 210px;
position: relative;
display: block;
margin-left: 0px;
border: solid 1px #c2c2c2;
margin-top: 0px;
padding: 5px;
height: auto;
}

#right_region h2, #right_region h2 a:active, #right_region h2 a:link, #right_region h2 a:visited, #right_region h2 a:hover {
margin: 0 0 0 0;
padding: 7PX;
color: #FFFFFF;
font-size: 16px;
font-weight: bold;
line-height: 19px;
background-color: #097999;
text-decoration: none;
}

#right_region p {
font-size: 13px;
padding-right: 5px;
padding-left: 5px;
margin-top: 5px;
line-height: 14px;
margin-bottom: 5px;
}

#left_region {
display: block;
float: right;
position: relative;
top: 10px;
right: 3px;
}

#left_region p {
font-size: 13px;
color: #1b334b;
line-height: 15px;
clear: both;
}

#left_region .box {
display: block;
float: right;
margin-left: 0px;
margin-bottom: 0px;
}
#left_region a:link, #left_region a:active, #left_region a:visited {
font-size: 16px;
}

#left_region .box ul li {
list-style-type: none;
padding-left: 0px;
}

#banner_img_container2 {
display: block;
width: 100%;
height: auto;
background-color: #f0f0f0;
background-image: none;
background-position: top;
background-repeat: no-repeat;
}

#banner_img_container2 .box1 {
display: block;
width: 100%;
height: auto;
position: relative;
top: 2px;
right: 4px;
background-color: transparent;
}

#banner_img_container2 img {
width: 98%;
height: auto;
position: relative;
top: 3px;
right: 3px;
}

#banner_img_container2 .box2 {
display: block;
width: 98%;
height: 230px;
position: relative;
top: 15px;
right: 5px;
}

#banner_img_container2 .crumb {
font-family: verdana, geneva, sans-serif;
font-size: 14px;
color: #666666;
margin-bottom: 10px;
border-bottom: solid 1px;
border-color: #dadada;
text-transform: uppercase;
}

#banner_img_container2 h6, #banner_img_container h6 a:link, #banner_img_container h6 a:active, #banner_img_container h6 a:visited {
margin: 0px 0px 0px 0px;
padding: 0px 0px 5px 0px;
text-decoration: none;
color: #333333;
font-size: 18px;
}


/********* AMIDEAST PROFILE *********/

#profile2rightbox {display: block;position: relative;left: 20px;background-color: #266cb2;width: 300px;right: 5px;padding: 0 0 10px 0;}

#profile2program {display: block;position: relative;font-family: Arial, Helvetica, sans-serif;font-size: 13px;font-weight: bold;color: #f1eed0;text-transform: uppercase;right: 20px;margin-top: 15px;width: 260px;border-top: solid;border-color: #999;}

#profile2name {display: block;position: relative;right: 20px;font-family: Arial, Helvetica, sans-serif;font-size: 20px;color: #ffffff;margin-top: 10px;width: 260px;line-height: 22px;}