/* PRINTER-FRIENDLY STYLES */

#wrapper {margin: 0 auto; display:block; width: 100%;}

#block-system-main img{width:90%; height:auto;}

p {font-family:Verdana, Geneva, sans-serif; padding:0 0 0 5px;font-size:14px;color:#333333}

a{ color:#039;}

h1 { font-family:Verdana, Geneva, sans-serif; font-size:18px;}

h2{font-family:Verdana, Geneva, sans-serif;display:block; padding:0 0 0 5px;font-size:16px;color:#115AA1;margin: 10px 0 0 0;}

h6.with-tabs, .clear-block h6 {margin: 0;padding: 10px 0 0 5px;color: #000000;font-size: 18px;font-weight: bold;line-height: 20px;}

h3 {font-size: 16px;margin: 0;font-weight: bold;color: #974d06;font-family: Arial, Helvetica, sans-serif;padding: 10px 0 10px 0;}

#logo {display:block; position: relative; top:0px; height:47px; background-color:#145da3; width:100%;}

#logo img{ position:relative; top:5px; left:5px;}

body {margin:0px; width:auto;font-family:Verdana, Geneva, sans-serif; font-size:14px;}

.body_header1 {padding: 0px 0 5px 5px;margin: 0 0 -2px 0;width: 223px;color: #115aa1;font-size: 17px;font-weight: bold;text-align: left;vertical-align: middle;}

#highlighted{display:block;}

#content-wrapper{margin:0px;}

.pane-content {width:98%}

#block-system-main { padding:0 0 0 5px;}

iframe.media-youtube-player {width:100%; height:auto;}

#main-menu {display: block;background-color: #e7e7e7;padding: 5px 0 5px 0;}

#main-menu ul {border: none;list-style: none;text-align: left;margin: 0px;padding: 0px;position: relative;left: 0px;}

#main-menu li, #main-menu li a:link, #main-menu li a:visited, #main-menu li a:hover {display:inline; margin:0px; text-decoration:none; color:#000; font-weight:bold; font-size: 13px;}

#main-menu li a:active {color:#000;}
#sidebar h3{ font-size:16px; margin:0px; padding:0px;position:relative; left:5px;}
#content {position: relative;left: 0px;}
#footer{ background-color:#333333; display:block; clear:both;}
#footer p{ color:#ffffff;}
#footer a{ color:#ffffff;}
#block-block-304{display: block;padding: 3px 0px 3px 5px;}
#search {display: inline;float: right;padding: 10px 0 0 0;}

form#search-block-form{height:auto; height:20px; position:relative; top:-15px;}


#block-nice-menus-2 {display:block; width:100%;}

ul#nice-menu-2.nice-menu.nice-menu-down.nice-menu-menu-top-nav{display:block; width:100%;}

#block-nice-menus-2 h2, #block-superfish-1 h2{display:none;} 

ul.nice-menu-down li.menuparent   {background: #eee url("sites/all/modules/nice_menus/images/arrow-down.png") 20% 50% no-repeat;width: 100%;font-size: 15px;}

#superfish-1-select {width: 100%;background-color: #eeeeee;font-size: 16px;padding:5px; border:none;}

#block-block-307 h2, #block-menu-menu-newsresources h2, #block-menu-menu-westbankgaza h2, #block-menu-menu-saudi-arabia h2, #block-menu-menu-studyabroad h2, #block-menu-block-1 h2, #block-menu-menu-educationalservices h2,#block-menu-menu-testingmenu h2, #block-menu-menu-englishlanguage h2, #block-menu-menu-academiccultural h2, #block-menu-menu-institutional h2{display: block;font-size: 16px;font-weight: normal;background-color: #333333;height: 30px;position: relative;margin: 0 0 0 0;padding: 5px 0 0 5px; color:#ffffff}




/*********  FIRST LEVEL BLOCK NAV  *********/

#block-menu-menu-newsresources ul.menu,
#block-menu-menu-westbankgaza ul.menu, 
#block-menu-menu-saudi-arabia ul.menu, 
#block-menu-menu-studyabroad ul.menu,
#block-menu-menu-institutional ul.menu, 
#block-menu-menu-academiccultural ul.menu, 
#block-menu-menu-testingmenu ul.menu, 
#block-menu-menu-englishlanguage ul.menu, 
#block-menu-block-1 ul, #sidebar ul, #block-menu-menu-educationalservices ul
{padding: 0 0 0 0;margin: 0 0 0 0;}

#block-menu-menu-newsresources ul li,
#block-menu-menu-westbankgaza ul li,
#block-menu-menu-saudi-arabia ul li,
#block-menu-menu-studyabroad ul li.leaf, #block-menu-menu-studyabroad ul li.collapsed, #block-menu-menu-studyabroad ul li.expanded, #block-menu-menu-studyabroad ul li.expanded.active-trail,
#block-menu-menu-institutional ul li.leaf, #block-menu-menu-institutional ul li.collapsed, #block-menu-menu-institutional ul li.expanded, #block-menu-menu-institutional ul li.expanded.active-trail,
#block-menu-menu-academiccultural ul li.leaf,  #block-menu-menu-academiccultural ul li.collapsed, #block-menu-menu-academiccultural ul li.expanded, #block-menu-menu-academiccultural ul li.expanded.active-trail,
#block-menu-menu-englishlanguage ul li.leaf,  #block-menu-menu-englishlanguage ul li.collapsed, #block-menu-menu-englishlanguage ul li.expanded, #block-menu-menu-englishlanguage ul li.expanded.active-trail,
#block-menu-menu-testingmenu ul li.leaf,  #block-menu-menu-testingmenu ul li.collapsed, #block-menu-menu-testingmenu ul li.expanded, #block-menu-menu-testingmenu ul li.expanded.active-trail,  
#block-menu-block-1 ul li, #sidebar ul li, #block-menu-menu-educationalservices ul li {display: block;height: auto;background-color: #105da5;margin: 0 0 0 0;border-bottom: solid 1px #b9e1f0;padding: 0 0 0 0;}

#block-menu-menu-newsresources ul li a,
#block-menu-menu-westbankgaza ul li a,
#block-menu-menu-saudi-arabia ul li a,
#block-menu-menu-studyabroad ul li.leaf a, #block-menu-menu-studyabroad ul li.collapsed a, 
#block-menu-menu-institutional ul li.leaf a, #block-menu-menu-institutional ul li.collapsed a, 
#block-menu-menu-academiccultural ul li.leaf a, #block-menu-menu-academiccultural ul li.collapsed a, 
#block-menu-menu-englishlanguage ul li.leaf a, #block-menu-menu-englishlanguage ul li.collapsed a,
#block-menu-menu-testingmenu ul li.leaf a, #block-menu-menu-testingmenu ul li.collapsed a,
#block-menu-block-1 ul li a, #sidebar ul li a, #block-menu-menu-educationalservices ul li a{font-size: 16px; text-decoration: none; padding: 0 0 0 30px;color: #ddeaf7;line-height: 30px; background-image:
url(/sites/default/files/images/plus.gif); background-repeat:no-repeat;background-position: 5px;display: block;width: 90%;}


#sidebar ul li.leaf a.active, #sidebar ul li.last.leaf a.active, #sidebar ul li.first.leaf a.active, #sidebar ul li a.active-trail.active,
#block-menu-menu-newsresources ul li.first.leaf a.active, #block-menu-menu-newsresources ul li a.active-trail.active,
#block-menu-menu-westbankgaza ul li.first.leaf a.active, #block-menu-menu-westbankgaza ul li a.active-trail.active,
#block-menu-menu-saudi-arabia ul li.first.leaf a.active, #block-menu-menu-saudi-arabia ul li a.active-trail.active,
#block-menu-menu-studyabroad ul li.first.leaf a.active, #block-menu-menu-studyabroad ul li a.active-trail.active,
#block-menu-menu-institutional ul li.first.leaf a.active, #block-menu-menu-institutional ul li a.active-trail.active,
#block-menu-menu-academiccultural ul li.first.leaf a.active, #block-menu-menu-academiccultural ul li a.active-trail.active,
#block-menu-menu-educationalservices ul li a.active, #block-menu-menu-educationalservices ul li a.active-trail.active,
#block-menu-menu-englishlanguage ul li.first.leaf a.active, #block-menu-menu-englishlanguage ul li a.active-trail.active,
#block-menu-menu-testingmenu ul li.first.leaf a.active, #block-menu-menu-testingmenu ul li a.active-trail.active, #block-menu-block-1 ul li.first.leaf a.active, #block-menu-block-1 ul li a.active-trail.active{ background-image:
url(/sites/default/files/images/minus.gif); background-repeat:no-repeat; background-position: 5px;}

#block-menu-menu-newsresources ul li.expanded a,
#block-menu-menu-westbankgaza ul li.expanded a,
#block-menu-menu-saudi-arabia ul li.expanded a,
#block-menu-menu-studyabroad ul li.expanded a,
#block-menu-menu-institutional ul li.expanded a,
#block-menu-menu-academiccultural ul li.expanded a, 
#block-menu-menu-englishlanguage ul li.expanded a, 
#block-menu-menu-testingmenu ul li.expanded a{font-size: 16px; text-decoration: none; padding: 0 0 0 30px;color: #ddeaf7;line-height: 30px; background-image:
url(/sites/default/files/images/minus.gif); background-repeat:no-repeat;background-position: 5px;display: block;
width: 90%;}





/*********  SECOND LEVEL BLOCK NAV  *********/

#block-menu-menu-studyabroad ul.menu li ul.menu, 
#block-menu-menu-institutional ul.menu li ul.menu, 
#block-menu-menu-academiccultural ul.menu li ul.menu, 
#block-menu-menu-englishlanguage ul.menu li ul.menu, 
#block-menu-menu-testingmenu ul.menu li ul.menu {padding: 0 0 0 0;margin: 0 0 0 0;background-color: #7197bb;}

#block-menu-menu-studyabroad ul.menu li ul.menu li.first.leaf, #block-menu-menu-studyabroad ul.menu li ul.menu li.leaf, 
#block-menu-menu-institutional ul.menu li ul.menu li.first.leaf, #block-menu-menu-institutional ul.menu li ul.menu li.leaf, 
#block-menu-menu-academiccultural ul.menu li ul.menu li.first.leaf, #block-menu-menu-academiccultural ul.menu li ul.menu li.leaf,
#block-menu-menu-englishlanguage ul.menu li ul.menu li.first.leaf, #block-menu-menu-englishlanguage ul.menu li ul.menu li.leaf,
#block-menu-menu-testingmenu ul.menu li ul.menu li.first.expanded.active-trail {border-top: none;padding: 0 0 0 0px;background-color:#7197bb;}

#block-menu-menu-studyabroad ul.menu li ul.menu li.last.leaf,
#block-menu-menu-institutional ul.menu li ul.menu li.last.leaf,
#block-menu-menu-academiccultural ul.menu li ul.menu li.last.leaf,
#block-menu-menu-englishlanguage ul.menu li ul.menu li.last.leaf {border-bottom: none;padding: 0 0 0 0px;background-color:#7197bb;}

#block-menu-menu-studyabroad ul.menu li ul.menu li.first.leaf, 
#block-menu-menu-institutional ul.menu li ul.menu li.first.leaf, 
#block-menu-menu-academiccultural ul.menu li ul.menu li.first.leaf, 
#block-menu-menu-englishlanguage ul.menu li ul.menu li.first.leaf, 
#block-menu-menu-testingmenu ul.menu li ul.menu li.first.expanded.active-trail {border-top: solid 1px #b9e1f0;padding: 0 0 0 0px;background-color:#7197bb;}

#block-menu-menu-studyabroad ul.menu li ul.menu li.expanded.active-trail, #block-menu-menu-studyabroad ul.menu li ul.menu li.collapsed, #block-menu-menu-studyabroad ul.menu li ul.menu li.first.collapsed, #block-menu-menu-studyabroad ul.menu li ul.menu li.last.collapsed,
#block-menu-menu-institutional ul.menu li ul.menu li.expanded.active-trail, #block-menu-menu-institutional ul.menu li ul.menu li.collapsed, #block-menu-menu-institutional ul.menu li ul.menu li.first.collapsed, #block-menu-menu-institutional ul.menu li ul.menu li.last.collapsed,
#block-menu-menu-academiccultural ul.menu li ul.menu li.expanded.active-trail, #block-menu-menu-academiccultural ul.menu li ul.menu li.collapsed, #block-menu-menu-academiccultural ul.menu li ul.menu li.first.collapsed, #block-menu-menu-academiccultural ul.menu li ul.menu li.last.collapsed,
#block-menu-menu-englishlanguage ul.menu li ul.menu li.expanded.active-trail, #block-menu-menu-englishlanguage ul.menu li ul.menu li.collapsed, #block-menu-menu-englishlanguage ul.menu li ul.menu li.first.collapsed, #block-menu-menu-englishlanguage ul.menu li ul.menu li.last.collapsed,
#block-menu-menu-testingmenu ul.menu li ul.menu li.expanded.active-trail, #block-menu-menu-testingmenu ul.menu li ul.menu li.collapsed, #block-menu-menu-testingmenu ul.menu li ul.menu li.first.collapsed, #block-menu-menu-testingmenu ul.menu li ul.menu li.last.collapsed{ background-color:#7197bb;}

#block-menu-menu-studyabroad li ul.menu li.expanded.active-trail,
#block-menu-menu-institutional li ul.menu li.expanded.active-trail,
#block-menu-menu-academiccultural li ul.menu li.expanded.active-trail,
#block-menu-menu-englishlanguage li ul.menu li.expanded.active-trail,
#block-menu-menu-testingmenu ul.menu li ul.menu li.expanded.active-trail { border-bottom:none; background-color:#7197bb;}

#block-menu-menu-studyabroad ul.menu li ul.menu li.first.collapsed, 
#block-menu-menu-institutional ul.menu li ul.menu li.first.collapsed, 
#block-menu-menu-academiccultural ul.menu li ul.menu li.first.collapsed, 
#block-menu-menu-englishlanguage ul.menu li ul.menu li.first.collapsed, 
#block-menu-menu-testingmenu ul.menu li ul.menu li.first.collapsed{border-top: solid 1px #b9e1f0; background-color:#7197bb;}

#block-menu-menu-studyabroad ul li.leaf ul li.leaf, #block-menu-menu-studyabroad ul li.collapsed ul li.collapsed, #block-menu-menu-studyabroad ul li.expanded ul li.expanded, 
#block-menu-menu-institutional ul li.leaf ul li.leaf, #block-menu-menu-institutional ul li.collapsed ul li.collapsed, #block-menu-menu-institutional ul li.expanded ul li.expanded, 
#block-menu-menu-academiccultural ul li.leaf ul li.leaf, #block-menu-menu-academiccultural ul li.collapsed ul li.collapsed, #block-menu-menu-academiccultural ul li.expanded ul li.expanded, 
#block-menu-menu-englishlanguage ul li.leaf ul li.leaf, #block-menu-menu-englishlanguage ul li.collapsed ul li.collapsed, #block-menu-menu-englishlanguage ul li.expanded ul li.expanded, 
#block-menu-menu-testingmenu ul li.leaf ul li.leaf, #block-menu-menu-testingmenu ul li.collapsed ul li.collapsed, #block-menu-menu-testingmenu ul li.expanded ul li.expanded {display: block;height: auto;background-color: #ffffff;margin: 0 0 0 0;border-bottom: solid 1px #b9e1f0;padding: 0 0 0 0;}

#block-menu-menu-studyabroad ul li ul li.first.leaf a, #block-menu-menu-studyabroad ul li ul li.leaf a, #block-menu-menu-studyabroad ul li ul li.last.leaf a, #block-menu-menu-studyabroad ul li ul li.last.collapsed a, #block-menu-menu-studyabroad ul li ul li.collapsed a, #block-menu-menu-studyabroad ul li ul li.first.collapsed a,
#block-menu-menu-institutional ul li ul li.first.leaf a, #block-menu-menu-institutional ul li ul li.leaf a, #block-menu-menu-institutional ul li ul li.last.leaf a,
#block-menu-menu-academiccultural ul li ul li.first.leaf a, #block-menu-menu-academiccultural ul li ul li.leaf a, #block-menu-menu-academiccultural ul li ul li.last.leaf a,
#block-menu-menu-englishlanguage ul li ul li.first.leaf a, #block-menu-menu-englishlanguage ul li ul li.leaf a, #block-menu-menu-englishlanguage ul li ul li.last.leaf a,
#block-menu-menu-testingmenu ul li ul li.collapsed a {color:#ffffff; padding-left:30px;background-image:url(/sites/default/files/images/plus.gif); background-repeat:no-repeat; background-position: 5px; position: relative;left: 20px;display: block;width: 85%;}

#block-menu-menu-studyabroad ul li ul li a.active-trail, #block-menu-menu-studyabroad ul li ul li a.active-trail.active,
#block-menu-menu-institutional ul li ul li a.active-trail, #block-menu-menu-institutional ul li ul li a.active-trail.active,
#block-menu-menu-academiccultural ul li ul li a.active-trail, #block-menu-menu-academiccultural ul li ul li a.active-trail.active, 
#block-menu-menu-englishlanguage ul li ul li a.active-trail, #block-menu-menu-englishlanguage ul li ul li a.active-trail.active, 
#block-menu-menu-testingmenu ul li ul li a.active-trail, #block-menu-menu-testingmenu ul li ul li a.active-trail.active {color:#ffffff; padding-left:30px;background-image:
url(/sites/default/files/images/minus.gif); background-repeat:no-repeat; background-position: 5px; position: relative;left: 20px;display: block;width: 85%;}





/*********  THIRD LEVEL BLOCK NAV  *********/


#block-menu-menu-studyabroad ul.menu li ul.menu li ul.menu,
#block-menu-menu-testingmenu ul.menu li ul.menu li ul.menu {padding: 0 0 0 0;margin: 0 0 0 0;background-color: #ffffff;}

#block-menu-menu-studyabroad ul.menu li ul.menu li ul.menu li.leaf, #block-menu-menu-studyabroad ul.menu li ul.menu li ul.menu li.expanded.active-trail, #block-menu-menu-studyabroad ul.menu li ul.menu li ul.menu li.collapsed,
#block-menu-menu-testingmenu ul.menu li ul.menu li ul.menu li.leaf, #block-menu-menu-testingmenu ul.menu li ul.menu li ul.menu li.expanded.active-trail, #block-menu-menu-testingmenu ul.menu li ul.menu li ul.menu li.collapsed {display: block;height: auto;;margin: 0 0 0 0;border-bottom: solid 1px #b9e1f0;padding: 0 0 0 0;background-color: #ffffff;}

#block-menu-menu-studyabroad ul.menu li ul.menu li ul.menu li.last.leaf,
#block-menu-menu-testingmenu ul.menu li ul.menu li ul.menu li.last.leaf{ border-bottom:none;}

#block-menu-menu-studyabroad ul li ul li ul li.last.collapsed a, #block-menu-menu-studyabroad ul li ul li ul li.first.collapsed a, #block-menu-menu-studyabroad ul li ul li ul li.collapsed a, #block-menu-menu-studyabroad ul li ul li ul li a.active-trail.active, 
#block-menu-menu-testingmenu ul li ul li ul li.last.leaf a, #block-menu-menu-testingmenu ul li ul li ul li.first.leaf a, #block-menu-menu-testingmenu ul li ul li ul li.leaf a, #block-menu-menu-testingmenu ul li ul li ul li a.active-trail.active{color:#000000; padding-left:30px;background-image:
url(/sites/default/files/images/plus_dark.gif); background-repeat:no-repeat; background-position: 5px; position: relative;left: 40px;display: block;width: 80%;}

#block-menu-menu-studyabroad ul li ul li ul li a.active-trail.active, #block-menu-menu-studyabroad ul li ul li ul li.first.leaf a.active-trail.active, #block-menu-menu-studyabroad ul li ul li ul li a.active-trail, #block-menu-menu-studyabroad ul li ul li ul li.first.last.expanded a.active-trail, #block-menu-menu-studyabroad ul li ul li ul li.expanded a, 
#block-menu-menu-testingmenu ul li ul li ul li a.active-trail.active, #block-menu-menu-testingmenu ul li ul li ul li.first.leaf a.active-trail.active{color:#000000; padding-left:30px;background-image:
url(/sites/default/files/images/minus_dark.gif); background-repeat:no-repeat; background-position: 5px; position: relative;left: 40px;display: block;width: 80%;}

#block-menu-menu-studyabroad ul li ul li ul li.first.leaf a, #block-menu-menu-studyabroad ul li ul li ul li.leaf a, 
#block-menu-menu-testingmenu ul li ul li ul li.last.leaf a, #block-menu-menu-testingmenu ul li ul li ul li.first.leaf a, #block-menu-menu-testingmenu ul li ul li ul li.leaf a{padding: 0 0 0 30px;}

#block-menu-menu-studyabroad ul li ul li ul li.last.leaf a {color:#000000; padding-left:30px;background-image:
url(/sites/default/files/images/plus_dark.gif); background-repeat:no-repeat; background-position: 5px; position: relative;left: 40px;display: block;width: 80%;}



/*********  FOURTH LEVEL BLOCK NAV  *********/

#block-menu-menu-studyabroad ul.menu li ul.menu li ul.menu li ul.menu {padding: 0 0 0 0;margin: 0 0 0 0;background-color: #ffffff;}

#block-menu-menu-studyabroad ul.menu li ul.menu li ul.menu li ul.menu li.leaf {display: block;height: auto;;margin: 0 0 0 0;border-bottom: solid 1px #b9e1f0;padding: 0 0 0 0;background-color: #ffffff;}

#block-menu-menu-studyabroad ul.menu li ul.menu li ul.menu li ul.menu li.last.leaf{ border-bottom:none;}

#block-menu-menu-studyabroad ul li ul li ul li ul li.last.leaf a, #block-menu-menu-studyabroad ul li ul li ul li ul li.first.leaf a, #block-menu-menu-studyabroad ul li ul li ul li ul li.leaf a, #block-menu-menu-studyabroad ul li ul li ul li ul li a.active-trail.active{color:#000000; padding-left:30px;background-image:
url(/sites/default/files/images/plus_dark.gif); background-repeat:no-repeat; background-position: 5px; position: relative;left: 70px;display: block;width: 60%;}

#block-menu-menu-studyabroad ul li ul li ul li ul li a.active-trail.active, #block-menu-menu-studyabroad ul li ul li ul li ul li.first.leaf a.active-trail.active, #block-menu-menu-studyabroad ul li ul li ul li ul li.leaf.active-trail a.active-trail.active{color:#000000; padding-left:30px;background-image:
url(/sites/default/files/images/minus_dark.gif); background-repeat:no-repeat; background-position: 5px; position: relative;left: 70px;display: block;width: 60%;}

#block-menu-menu-studyabroad ul li ul li ul li ul li.last.leaf a, #block-menu-menu-studyabroad ul li ul li ul li ul li.first.leaf a, #block-menu-menu-studyabroad ul li ul li ul li ul li.leaf a{padding: 0 0 0 30px;}



/*********  VIEW RELATED ARTICLES  *********/

#block-views-announcements-block-1, #block-views-pr-block-1, #block-views-5936242245e00a09d031e915af5cb49d, #block-views-284c8b0ec590e21f7cd9e845e741f584, #block-views-ed52d4d973b66b31c75d3aa1478c47eb, #block-views-20d6c93e80624f60f3d8c4b8faf1e3fd, #block-views-b118886c6b698c545e05b80549f8cd88, #block-views-f4da4cb317b07bb0a6c5d254b3fcecc2, #block-views-2c1c682474d40ad020f2e1e232e690b7, #block-views-0808d1ee59f908487eaf5cb5b9ae8203, #block-views-b109ba618b4e15570d61598028b61ba1{display:block;padding:20px 0 10px 0;}

#block-views-announcements-block-1 h2, #block-views-pr-block-1 h2, #block-views-5936242245e00a09d031e915af5cb49d h2, #block-views-284c8b0ec590e21f7cd9e845e741f584 h2, #block-views-ed52d4d973b66b31c75d3aa1478c47eb h2, #block-views-20d6c93e80624f60f3d8c4b8faf1e3fd h2, #block-views-b118886c6b698c545e05b80549f8cd88 h2, #block-views-f4da4cb317b07bb0a6c5d254b3fcecc2 h2, #block-views-2c1c682474d40ad020f2e1e232e690b7 h2, #block-views-0808d1ee59f908487eaf5cb5b9ae8203 h2, #block-views-b109ba618b4e15570d61598028b61ba1 h2{color: #333333;padding: 0 0 10px 5px;}


#country_box{display:block}

#country_box fieldset.collapsible.collapse-processed {position: relative;display: block;border: solid 1px #dfdfdf; }

#country_box fieldset.collapsible.collapse-processed.collapsed {
position: relative;display: block;border-top: solid 1px #dfdfdf;border-right:none; border-left:none; border-bottom:none;}

#country_box ul{display: block;margin: 0 0 0 0;padding: 0 0 0 10px;}

#country_box ul li{list-style-type: disc;padding: 0 0 5px 0px;list-style-position: outside;margin: 0 0 0 10px;}

#country_box ul li a{display:block;}




/********* NEWS & RESOURCES *********/


#banner_img_container {display: block;width: 98%;height: auto;background-color: #f0f0f0;background-image: none;background-position: top;background-repeat: no-repeat;position:relative; left:3px;top:3px;padding-bottom:10px;}

#banner_img_container .caption {width: 94%;height: auto;position: relative;top: 5px;left: 12px;color: #626262;font-family: Arial;font-size: 11px;font-weight: normal;line-height: 12px; font-style: italic;}

#banner_img_container .crumb {display:none;}

#banner_img_container h6, #banner_img_container h6 a:link, #banner_img_container h6 a:active, #banner_img_container h6 a:visited {margin: 0px 0px 0px 0px;padding: 5px 0px 5px 0px;text-decoration: none;color: #333333;font-size: 18px;font-weight: normal;width: 95%;position: relative;left: 03px;top: 5px;}

#banner_img_container img {width: 98%;height: auto;position: relative;top: 3px;left: 3px;}

#block-menu_block-1 h2 {padding: 10px 0 10px 5px;
margin: 0 0 0px 0;width: 228px;color: #115aa1;font-size: 17px;font-weight: bold;text-align: left;vertical-align: middle;}


ul.feature {position: static;padding: 0px 0px 0px 5px;margin: 0px;background: none;border: none;width: 95%;}

ul.feature li {color: #666666;position: static;margin-left: 0;padding: 0px 0 0px 0;margin-bottom: 0px;list-style: none;clear: both;line-height: 12pt;text-decoration: none;font-size: 9pt;background: none;margin-top: 0px;}

ul.feature div.img {float: right;display: inline;position: relative;margin-left: 10px;margin-bottom: 10px;border: 1px #3b77b2 solid;margin-top: 0px;width: 120px;height: 80px;vertical-align: bottom;top: 10px;}

.homepageleft_header, .homepageleft_header a:link, .homepageleft_header a:active, .homepageleft_header a:visited {display: block;font-size: 13px;margin: 0;font-weight: bold;color: #115aa1;font-family: Arial, Helvetica, sans-serif;padding: 5px 0 0px 0;margin-bottom: 0px;position: relative;top: 0px;left: 0px;text-decoration: none;}

.feature_box1 {display: block;width: 285px;float: left;margin-left: 10px;margin-top: 15px;border: solid 1px #c2c2c2;height: auto;background-color: #e9f4ff;}

.featureboxheader, .featureboxheader a:link, .featureboxheader a:active, .featureboxheader a:visited, .featureboxheader a:hover {display: block;background-color: #1f629f;font: arial;font-size: 12px;color: #FFF;font-weight: bold;padding: 5px;text-decoration: none;}

#picinset {display:block;}

#picinset .tag6 {display: block;width: 615px;margin: 30px 0px 20px 0px;background-color: #ffffff;height: auto;padding: 0px 0px 0px 0px;color: #065097;}

#picinset .tag6 img {width: 98%;height: auto;}

#picinset .caption {color: #626262;font-family: Arial;font-size: 11px;text-decoration: none;font-weight: normal;margin: 0;line-height: 12px;padding-bottom: 10px;}


ul.announcement {position: static;padding: 10px 0px 0px 5px;margin: 0px 0px 0px 5px;background: none;border: none;width: 90%;border-bottom: 1px solid #CCCCCC;padding-bottom: 10px;list-style-type: none;}

.announcement_header, .announcement_header a:link, .announcement_header a:active, .announcement_header a:visited {margin: 0 0 5px 0;padding: 0;color: #115aa1;font-size: 12px;font-weight: bold;line-height: 17px;}

ul.feature {position: static;padding: 0px 0px 0px 10px;margin: 0px;background: none;border: none;width: 95%;}

ul.feature li {color: #666666;position: static;margin-left: 0;padding: 0px 0 0px 0;margin-bottom: 0px;list-style: none;clear: both;line-height: 12pt;text-decoration: none;font-size: 9pt;background: none;margin-top: 0px;}

ul.feature div.img {float: right;display: inline;position: relative;margin-left: 10px;margin-bottom: 10px;border: none;margin-top: 0px;width: 120px;height: 80px;vertical-align: bottom;top: 10px;}

.homepageleft_header, .homepageleft_header a:link, .homepageleft_header a:active, .homepageleft_header a:visited {display: block;font-size: 13px;margin: 0;font-weight: bold;color: #115aa1;font-family: Arial, Helvetica, sans-serif;padding: 5px 0 0px 0;margin-bottom: 0px;position: relative;top: 0px;left: 0px;text-decoration: none;}





/********* COUNTRY PROGRAM PAGE *********/

.program-logos {height: auto;width: 140px;float: right;margin: 10px 0px 0px 10px;padding: 0 10px 20px 0px;}

#bodyinset4 {display: block;width: 140px;margin: 10px 0px 10px 10px;background-color: #ffffff;border-left: 1px dotted #8c3303;height: auto;float: right;padding: 0 10px 0px 0px;color: #065097;clear: both;}

#bodyinset4 .apply-now {float: right;}

.not_recruiting {display: block;padding: 5px;border: solid 1px #999;font-size: 13px;color: #900;font-family: Arial, Helvetica, sans-serif;width: 115px;margin-bottom: 15px;}

#bodyinset4 .more-info {float: right;}





/********* AMIDEAST PROFILE *********/

#profiletitle {display: none;color: #454545;font-size: 30px;margin-bottom: 30px;line-height: 32px;}

#profile2rightwrap {display: block;width: 320px;background-color: #ffffff;margin-bottom: 30px;}

#profile2rightbox {display: block;position: relative;right: 20px;background-color: #266cb2;width: 300px;left: 5px;padding: 0 0 10px 0;}

#profile2rightbox img {width: 100%;height: auto;}

#profile2name {display: block;position: relative;left: 20px;font-family: Arial, Helvetica, sans-serif;font-size: 20px;color: #ffffff;margin-top: 10px;width: 260px;line-height: 22px;}

#profile2program {display: block;position: relative;font-family: Arial, Helvetica, sans-serif;font-size: 13px;font-weight: bold;color: #f1eed0;text-transform: uppercase;left: 20px;margin-top: 15px;width: 260px;border-top: solid;border-color: #999;}

.profile2moreinfo, .profile2moreinfo a:link, .profile2moreinfo a:hover, .profile2moreinfo a:visited {position: relative;font-family: Arial, Helvetica, sans-serif;text-transform: none;font-size: 12px;font-weight: normal;color: #ffffff;text-decoration: none;margin-top: 5px;margin-bottom: 10px;}




/********* ABOUT AMIDEAST *********/

#bodyinset .tag1, #bodyinset .tag2, #bodyinset .tag3, #bodyinset .tag4 {
display: block;
width: 90%;
margin: 0 20px 10px 0;
background-color: #ffffff;
height: auto;
line-height: 25px;
padding: 0 10px 0 0px;
color: #065097;
}



/********* OUR WORK *********/

.container_OurWork4 {display: block;width: inherit;margin: none;background-color: #075198;height: auto;}

ul.list4 {position: static;padding: 20px 20px 40px 20px;margin-left: 0px;background: url(/themes/garland/images/nav-bg5.jpg) repeat-x bottom;}

ul.list4 li, ul.list4 li a:link, ul.list4 li a:active, ul.list4 li a:visited {color: #ffffff;position: static;margin-left: 0;border-bottom: 1px solid #6da4da;padding: 0px 0 15px 0;margin-bottom: 10px;list-style: none;clear: both;line-height: 16px;text-decoration: none;font-size: 13px;}

.body_header6 {color: #d4ffcb;font-family: arial;font-size: 15px;font-weight: bold;line-height: 16px;padding: 0 0 0 0;}

.container_OurWork {display: block;width: 98%;background-color: #ffffff;height: auto;border: 1px solid #a9ccef;}

ul.list {position: static;padding: 0px 10px 10px 10px;margin-left: 0px;margin: 10px 0 10px 0;}

ul.list li {color: #151515;position: static;margin-left: 0;border-bottom: 1px solid #6da4da;padding: 0px 0 15px 0;margin-bottom: 10px;list-style: none;clear: both;line-height: 16px;text-decoration: none;font-size: 14px;}

ul.list li.last {margin-bottom: 0PX;padding-bottom: 60PX;border-bottom: none;height: 65px;}

ul.list div.img {float: left;display: inline;position: relative;margin-right: 0px;margin-bottom: 0px;border: 1px #FFF solid;width: 130px;height: 70px;padding: 0 0 0 0;}

.body_header3 {color: #115AA1;font-family: arial;font-size: 16px;font-weight: bold;text-shadow: #FFF;line-height: 16px;padding: 0 0 0 0;}


.row {width:98%;margin-bottom: 10px;overflow: hidden;}

.column {margin-right: 30px;margin-left: 0px;overflow: hidden;float: left;display: inline;}

.grid_header {font-family: verdana;font-size: 12px;text-transform: uppercase;font-weight: bold;border-bottom: solid 5px #CCC;display: block;margin-top: 10px;padding-bottom: 5px;}





/********* EDUCATION ABROAD *********/


#abroadright {width: 98%;position: relative;display: block;margin-left: 0px;margin-right: 0px;border: 0px;margin-top: 0px;}

#abroadright h2 {
background: transparent url(/themes/garland/images/titlebar2.gif) repeat-x scroll left bottom;padding: 10px 0 10px 5px;margin: 0 0 -2px 0;color: #115aa1;font-size: 17px;font-weight: bold;text-align: left;vertical-align: middle;}

#abroadright div.item-list ul {margin: 10px 0 0 0;padding-left: 0px;}

#abroadright .item-list ul li {margin: 10px 0 0.25em 5px;padding: 0;list-style-type: none;list-style-position: outside;list-style-image: none;}

.panel-2col-stacked .panel-col-first {float: left;width: 100%;}

.panel-2col-stacked .panel-col-last {float: none;width: 100%;}

#node-2829 .panel-2col .panel-col-first {float: none;width:100%}

#node-2829 .panel-2col .panel-col-last {float: none;width: 100%;}




/********* HOME PAGE *********/

.flash_home {
width: 649px;
float: left;
text-align: left;
position: relative;
display: none;
}

ul.feature2 {
position: static;
padding: 0px 0px 10px 5px;
margin: 0px;
background: none;
border: none;
width: 98%;
}

ul.feature2 li {
color: #666666;
position: static;
margin-left: 0;
padding: 0px 0 0px 0;
margin-bottom: 0px;
list-style: none;
clear: both;
line-height: 12pt;
text-decoration: none;
font-size: 9pt;
background: none;
margin-top: 0px;
}

ul.feature2 div.img {
float: right;
display: inline;
position: relative;
margin-left: 10px;
margin-bottom: 10px;
border: none;
margin-top: 0px;
width: 130px;
height: 80px;
vertical-align: bottom;
top: 7px;
}

#homepage7bottomright {
float: none;
width: 98%;
display: block;
}

#homepage7bottomrightbox {
padding: 0px;
margin: 0;
background-color: #F1F1F1;
text-align: left;
border: solid 1px #D9D9D9;
height: 200px;
}

#homepage7bottomrightbox img {width:32px; height:auto;}

#homepage7bottomright h2 {
padding: 0;
margin: 0;
color: #505050;
font-size: 16px;
font-weight: bold;
text-align: left;
vertical-align: middle;
text-transform: uppercase;
border-bottom: solid 5px #DFDFDF;
position: relative;
top: 10px;
left: 20px;
width: 220px;
}

ul.homepage7bottomright {
padding: 0;
margin-bottom: 0px;
position: relative;
left: 22px;
top: 10px;
}

ul.homepage7bottomright li {
text-align: left;
padding: 0;
list-style-type: none;
position: relative;
top: 5px;
}

homepage7bottomrightbox2 {
padding: 0px;
margin: 0;
text-align: left;
border: solid 1px #D9D9D9;
height: 115px;
position: relative;
top: 5px;
background-image: url(/themes/garland/images/quicklinksback2.jpg);
background-position: top;
background-repeat: repeat-x;
}

ul.quicklinks_home2 {
padding: 0;
position: relative;
left: 20px;
top: 10px;
width: 98%;
}

ul.quicklinks_home2 li {
padding: 0px 0px 0px 0px;
margin: 0px 0px 0px 0px;
list-style: none;
background: none;
text-align: left;
width: 100%;
}

#featurebox {
width: 98%;
float: none;
position: relative;
display: block;
top: 5px;
background-repeat: repeat-x;
background-position: top;
background-color: #AFAFAF;
height: auto;
}

.featurebox1 {
padding: 0px 0px 0px 0px;
width: 100%;
float: none;
height: auto;
background-color: #f3f3f3;
position: relative;
top: 5px;
left: 5px;
}

.featureboxheader, .featureboxheader a:link, .featureboxheader a:active, .featureboxheader a:visited, .featureboxheader a:hover {
display: block;
background-color: #1f629f;
font-size: 12px;
color: #FFF;
font-weight: bold;
padding: 5px;
text-decoration: none;
}

.featureboxbody {
font-size: 11px;
color: #353333;
text-decoration: none;
position: relative;
padding-right: 0;
padding-left: 0;
line-height: 14px;
top: 5px;
left: 11px;
width: 180px;
}

.featurebox2 {
padding: 0px 0px 0px 0px;
width: 100%;
float: none;
height: auto;
background-color: #f3f3f3;
position: relative;
top: 5px;
left: 10px;
}

.featurebox3 {
padding: 0px 0px 0px 0px;
width: 100%;
float: none;
height:auto;
background-color: #f3f3f3;
position: relative;
top: 5px;
left: 15px;
}

element.style {
}
#homepage7middle {
padding: 0;
background-image: url(/themes/garland/images/quicklinksback2.jpg);
background-position: top;
background-repeat: repeat-x;
margin-top: 0;
border: solid 1px #D9D9D9;
margin-bottom: 0px;
width: 258px;
position: absolute;
top: 0px;
height: 230px;
text-align: left;
left: 0px;
}

#homepage7middle h2 {
padding: 0;
margin: 0;
color: #505050;
font-size: 16px;
font-weight: bold;
text-align: left;
vertical-align: middle;
text-transform: uppercase;
border-bottom: solid 5px #DFDFDF;
position: relative;
top: 10px;
left: 20px;
width: 220px;
}