/* PRINTER-FRIENDLY STYLES */

#wrapper {margin: 0 auto; display:block; width: 100%;}

p {font-family:Verdana, Geneva, sans-serif; padding:0 0 0 5px;font-size:14px;color:#333333}

h1 { font-family:Verdana, Geneva, sans-serif; font-size:18px;}

#logo {display:block; position: relative; top:0px; height:47px; background-color:#145da3; width:100%;}

#logo img{ position:relative; top:5px; left:5px;}

body {margin:0px; width:auto;font-family:Verdana, Geneva, sans-serif; font-size:14px;}

#highlighted{display:block;}
#content-wrapper{margin:0px;}

h2, h6.with-tabs{font-family:Verdana, Geneva, sans-serif;display:block; padding:0 0 0 5px;font-size:16px;color:#333333}

#main-menu {display: block;background-color: #e7e7e7;padding: 5px 0 5px 0;}

.body_header6{font-family:Verdana, Geneva, sans-serif; font-size:14px;color:#333333}
#main-menu ul {border: none;list-style: none;text-align: left;margin: 0px;padding: 0px;position: relative;left: 0px;}

#main-menu li, #main-menu li a:link, #main-menu li a:visited, #main-menu li a:hover {display:inline; margin:0px; text-decoration:none; color:#000; font-weight:bold; font-size: 13px;}

#main-menu li a:active {color:#000;}
#sidebar h3{ font-size:16px; margin:0px; padding:0px;position:relative; left:5px;}
#content {position: relative;left: 0px;}
#content img {width: 90%!important;height:auto!important;}
#footer{ background-color:#333333; display:block; clear:both;}
#footer p{ color:#ffffff;}
#footer a{ color:#ffffff;}
#block-block-304{display: block;padding: 3px 0px 3px 5px;}
#search {display: inline;float: right;padding: 10px 0 0 0;}


#block-nice-menus-2 {display:block; width:100%;}

ul#nice-menu-2.nice-menu.nice-menu-down.nice-menu-menu-top-nav{display:block; width:100%;}

#block-nice-menus-2 h2, #block-superfish-1 h2{display:none;} 

ul.nice-menu-down li.menuparent   {background: #eee url("sites/all/modules/nice_menus/images/arrow-down.png") 20% 50% no-repeat;width: 100%;font-size: 15px;}

#superfish-1-select {width: 100%;background-color: #eeeeee;font-size: 16px;padding:5px; border:none;}

#block-menu-block-1 h2, #block-menu-menu-educationalservices h2,#block-menu-menu-testingmenu h2{display: block;font-size: 16px;font-weight: normal;background-color: #333333;height: 30px;position: relative;margin: 0 0 0 0;padding: 5px 0 0 5px; color:#ffffff}


#block-menu-block-1 ul, #sidebar ul, #block-menu-menu-educationalservices ul, #block-menu-menu-testingmenu ul.menu 
{padding: 0 0 0 0;margin: 0 0 0 0;}

#block-menu-menu-testingmenu ul.menu li  ul.menu  
{padding: 0 0 0 0;margin: 0 0 0 0;background-color: #ffffff;}


#block-menu-block-1 ul li, #sidebar ul li, #block-menu-menu-educationalservices ul li, #block-menu-menu-testingmenu ul li.leaf, #block-menu-menu-testingmenu ul li.collapsed, #block-menu-menu-testingmenu ul li.expanded {display: block;height: auto;background-color: #e5f8ff;margin: 0 0 0 0;border-bottom: solid 1px #b9e1f0;padding: 0 0 0 0;}

#block-menu-menu-testingmenu ul.menu li  ul.menu li.first.collapsed, #block-menu-menu-testingmenu ul.menu li  ul.menu li.expanded.active-trail, #block-menu-menu-testingmenu ul.menu li  ul.menu li.collapsed {display: block;height: auto;;margin: 0 0 0 0;border-bottom: solid 1px #b9e1f0;padding: 0 0 0 0;background-color: #ffffff;}

#block-menu-menu-testingmenu ul.menu li ul.menu li ul.menu li.leaf, #block-menu-menu-testingmenu ul.menu li ul.menu li ul.menu li.expanded.active-trail, #block-menu-menu-testingmenu ul.menu li ul.menu li ul.menu li.collapsed {display: block;height: auto;;margin: 0 0 0 0;border-bottom: solid 1px #b9e1f0;padding: 0 0 0 0;background-color: #fffac1;}

#block-menu-menu-testingmenu ul.menu li  ul.menu li.last.collapsed   {display: block;height: auto;margin: 0 0 0 0;border-bottom: 0;padding: 0 0 0 0;background-color: #ffffff;}


#block-menu-menu-testingmenu ul li.leaf ul li.leaf, #block-menu-menu-testingmenu ul li.collapsed ul li.collapsed, #block-menu-menu-testingmenu ul li.expanded ul li.expanded {display: block;height: auto;background-color: #ffffff;margin: 0 0 0 0;border-bottom: solid 1px #b9e1f0;padding: 0 0 0 5px;}


#block-menu-block-1 ul li a, #sidebar ul li a, #block-menu-menu-educationalservices ul li a, #block-menu-menu-testingmenu ul li.leaf a, #block-menu-menu-testingmenu ul li.collapsed a, #block-menu-menu-testingmenu ul li.expanded a{font-size: 16px; text-decoration: none; padding: 0 0 0 5px;color: #333333;line-height: 30px;}

#block-menu-menu-testingmenu ul li ul li.first.collapsed a, #block-menu-menu-testingmenu ul li ul li.collapsed a, #block-menu-menu-testingmenu ul li ul li.last.collapsed a, #block-menu-menu-testingmenu ul li ul li.first.expanded.active-trail a, #block-menu-menu-testingmenu ul li ul li.last.expanded.active-trail a, #block-menu-menu-testingmenu ul li ul li.expanded.active-trail a{padding: 0 0 0 15px;}

#block-menu-menu-testingmenu ul li ul li ul li.last.leaf a, #block-menu-menu-testingmenu ul li ul li ul li.first.leaf a, #block-menu-menu-testingmenu ul li ul li ul li.leaf a{padding: 0 0 0 30px;}

#block-menu-menu-testingmenu{}



#country_box{display:block}

#country_box fieldset.collapsible.collapse-processed {position: relative;display: block;border: solid 1px #dfdfdf; }

#country_box fieldset.collapsible.collapse-processed.collapsed {
position: relative;display: block;border-top: solid 1px #dfdfdf;border-right:none; border-left:none; border-bottom:none;}

#country_box ul{display: block;margin: 0 0 0 0;padding: 0 0 0 10px;}

#country_box ul li{list-style-type: disc;padding: 0 0 5px 0px;list-style-position: outside;margin: 0 0 0 10px;}

#country_box ul li a{display:block;}


