/* TYPE/FONT STYLES */

body {
  line-height: 1.6em;
  color: #000;
  font-family: Helvetica, sans-serif;
  font-size: 100%;
}

a {
  font-weight: bold;
}
a:link, a:visited {
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
  font-family: Helvetica, Trebuchet, 'Trebuchet MS', sans-serif;
  font-weight: bold;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.4em;
}
h4 {
  font-size: 1.3em;
}
h5 {
  font-size: 1.2em;
}
h6 {
  font-size: 1.1em;
}

p { 
  margin: 1em 0;font-family:Verdana, Geneva, sans-serif;
}  
    
pre {
  font-size: .9em;
}

ol, ul, ul.menu, li.leaf {
  list-style: none;
}

ul.menu li {
  padding-top:0;
}

li a.active {
    color: #fff;
    background-color: #1058A9;
    padding: 0 4px;
}


#navigation, #footer ul.menu {
  font-size:1.125em;
  font-weight:normal;
}
  ul.navigation-menu a.active {

  }

.tabs {
  font-size: .9em;
}

ul.tabs.primary li.active {
    font-size: 1.3em;
  }

thead th, th {
border-bottom: 0;
font-weight: normal;
padding: 10px 20px 10px 4px;
color: #000;
}   

ul.links li {
padding:0 0.75em;
}

ul.links li.first {
padding-left:0;
}


ul.primary {
border: 0;
margin:5px 5px 0;
padding:0;
}

ul.primary li.active a {
background:#FFFFFF;
border-width:0;
}

.submitted {
  font-style: italic;
}
#navigation h2 {
  display: none;
}
#comments {
  font-size: .95em;
}