@charset "utf-8";
/* CSS Document */

body {background: url(/sites/default/files/homepage_background_image.jpg) no-repeat center center fixed;   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;}
.home_primary {    display: block;
    background-color: rgba(255,255,255,0.9);
    padding: 20px 30px 20px 30px;    margin-bottom: 20px;}
.home_primary h3 {margin-top:0px;text-align:center;margin-bottom:20px;}
.home_primary h3 a{color:#215999;font-size:35px; }
.home_primary p {font-size:18px;text-align:center;}
#block-block-366 p{    font-size: 40px;color: #ffffff;font-weight: 600;padding-left:15px;}
.logo_home{    padding: 20px 20px 30px 20px;background-color: rgba(255,255,255,0.9);}
#block-block-367{background-color:#ffffff;text-align: center;padding-bottom:60px;}
#block-block-367 .box {display:block;padding: 60px 30px 30px 30px;}
#block-block-367 h2.title {    width: 50%;
    font-size: 45px;
    letter-spacing: 10px;
    font-weight: 900;
    border-bottom: solid 1px;
    text-align: center;
    display: block;
    margin: auto;
    padding-top: 100px;padding-bottom:10px;}
#block-block-367 h3 a{color:#215999; }


.view-Testimonials.highlighted.column .views-field-body p { font-size: 25px; padding: 10px 0; }
.view-Testimonials.highlighted.column .views-field-body p:after { color: #000; font-size: 90px; left: -50px; top: 10px; }

.view-Testimonials.highlighted.column .views-field-body, 
.view-Testimonials.highlighted.column .views-field-title, 
.view-Testimonials.highlighted.column .views-field-field-subtitle { padding: 0 0 0 50px; }
.view-Testimonials.highlighted.column .views-field-field-subtitle { text-transform: uppercase; }

#bottom-content {background-color:#ffffff;}

.view.view-Testimonials {padding-top: 80px;
    padding-bottom: 80px;}

.view.view-Testimonials .views-row {    display: block;
    background-color: rgba(255,255,255,0.8);
    margin-right: 15px;
    padding: 20px 40px 40px 10px;}

@media (min-width: 992px){
.view.view-Testimonials .views-row {
    width: 31.33333333%;
	}
}

#block-views-testimonials-block-3 h2.title{    width: 50%;
    font-size: 45px;
    letter-spacing: 10px;
    font-weight: 900;
    border-bottom: solid 1px;
    text-align: center;
    display: block;
    margin: auto;
    padding-top: 30px;padding-bottom:10px;color:#ffffff;}

#block-views-testimonials-block-3{background: url(images/2-bg.jpg) 50% 50% no-repeat fixed;
    margin: -1px 0 0 0;
    position: relative;
    z-index: 2;}

#block-views-promo-full-width-block-1 {padding:50px 0px 80px 0px;}
#block-views-promo-full-width-block-1 p{font-size:20px;margin-bottom:20px;}
#block-views-promo-full-width-block-1 img {float:left;    margin-right: 50px;}

#block-views-promo-full-width-block-1 .col-md-12{padding-left:0px;}

#block-views-promo-full-width-block-1 h2.header1{    font-size: 45px;
    font-family: 'Lato', Helvetica Neue, Arial, Sans-serif;
    line-height: 1.20;
    padding: 0px 0px 25px 0px;
    margin: 0px 0 10px 0;
    font-weight: 900;
    text-transform: uppercase;
    color: inherit;letter-spacing:3px;}

#block-block-368 h2.title{    width: 50%;
    font-size: 30px;
    letter-spacing: 10px;
    font-weight: bold;
    border-bottom: solid 1px;
    text-align: center;
    display: block;
    margin: auto;
    padding-top: 30px;padding-bottom:10px;color:#000000;margin-bottom:30px;}

#block-block-368 img{margin-right:30px;width:200px;height:auto;}

#block-block-368{margin-bottom:60px;margin-top:60px;text-align:center;}


/** ANIMATIONS **/


    .star {
        visibility: hidden;
    }

    .fadeIn {
        -webkit-animation: animat_show 2s;
        animation: animat_show 2s;
        visibility: visible !important;
    }

    @-webkit-keyframes animat_show{
        0%{opacity:0}
        100%{opacity:1}
    }

/*==============================================
slideUp
==============================================
*/

.slide {
        visibility: hidden;
    }

.slideUp{
	animation-name: slideUp;
	-webkit-animation-name: slideUp;	

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;
	visibility: visible !important;

		
}

@keyframes slideUp {
	0% {
		transform: translateY(100%);
	}		
	100% {
		transform: translateY(0%);
	}	
}

@-webkit-keyframes slideUp {
	0% {
		-webkit-transform: translateY(100%);
	}			
	100% {
		-webkit-transform: translateY(0%);
	}	
}


@media (max-width: 480px) {
	body {background: url(/sites/default/files/homepage_background_image.jpg) no-repeat top center fixed;   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: auto;}
	
	#block-block-367 h2.title {
    width: 70%;
    font-size: 30px;
   
}
	
#block-views-testimonials-block-3 h2.title{    width: 90%;
    font-size: 30px;
   }
	
	#block-views-promo-full-width-block-1 h2.header1 {
    font-size: 35px;
}
	#block-block-368 h2.title {
    width: 80%;

}
}
#search-block-form .form-actions:after, .block-search .form-actions:after {
    color: #ffffff;
}

/*