﻿/* Fonts families */
body.pff-1, .pff-1 input, .pff-1 select, .pff-1 textarea, .pff-1 blockquote { font-family: 'Merriweather', Georgia, Times New Roman, Serif; }
body.pff-2, .pff-2 input, .pff-2 select, .pff-2 textarea, .pff-2 blockquote { font-family: 'Source Sans Pro', Helvetica Neue, Arial, Sans-serif; }
body.pff-3, .pff-3 input, .pff-3 select, .pff-3 textarea, .pff-3 blockquote { font-family: 'Ubuntu', Helvetica Neue, Arial, Sans-serif; }
body.pff-4, .pff-4 input, .pff-4 select, .pff-4 textarea, .pff-4 blockquote { font-family: 'PT Sans', Helvetica Neue, Arial, Sans-serif; }
body.pff-5, .pff-5 input, .pff-5 select, .pff-5 textarea, .pff-5 blockquote { font-family: 'Roboto', Helvetica Neue, Arial, Sans-serif; }
body.pff-6, .pff-6 input, .pff-6 select, .pff-6 textarea, .pff-6 blockquote { font-family: 'Open Sans', Helvetica Neue, Arial, Sans-serif; }
body.pff-7, .pff-7 input, .pff-7 select, .pff-7 textarea, .pff-7 blockquote { font-family: 'Lato', Helvetica Neue, Arial, Sans-serif; }
body.pff-8, .pff-8 input, .pff-8 select, .pff-8 textarea, .pff-8 blockquote { font-family: 'Roboto Condensed', Arial Narrow, Arial, Sans-serif; }
body.pff-9, .pff-9 input, .pff-9 select, .pff-9 textarea, .pff-9 blockquote { font-family: 'Exo', Helvetica Neue, Arial, Sans-serif; }
body.pff-10, .pff-10 input, .pff-10 select, .pff-10 textarea, .pff-10 blockquote { font-family: 'Roboto Slab', Trebuchet MS, Sans-serif; }
body.pff-11, .pff-11 input, .pff-11 select, .pff-11 textarea, .pff-11 blockquote { font-family: 'Raleway', Helvetica Neue, Arial, Sans-serif; }
body.pff-12, .pff-12 input, .pff-12 select, .pff-12 textarea, .pff-12 blockquote { font-family: 'Josefin Sans', Georgia, Times New Roman, Serif; }
body.pff-13, .pff-13 input, .pff-13 select, .pff-13 textarea, .pff-13 blockquote { font-family: Georgia, Times New Roman, Serif; }
body.pff-14, .pff-14 input, .pff-14 select, .pff-14 textarea, .pff-14 blockquote { font-family: 'Playfair Display', Times New Roman, Serif; }
body.pff-15, .pff-15 input, .pff-15 select, .pff-15 textarea, .pff-15 blockquote { font-family: 'Philosopher', Georgia, Times New Roman, Serif; }
body.pff-16, .pff-16 input, .pff-16 select, .pff-16 textarea, .pff-16 blockquote { font-family: 'Oswald', Helvetica Neue, Arial, Sans-serif; }
body.pff-17, .pff-17 input, .pff-17 select, .pff-17 textarea, .pff-17 blockquote { font-family: 'Playfair Display SC', Georgia, Times New Roman, Serif; }
body.pff-18, .pff-18 input, .pff-18 select, .pff-18 textarea, .pff-18 blockquote { font-family: 'Cabin', Helvetica Neue, Arial, Sans-serif; }
body.pff-19, .pff-19 input, .pff-19 select, .pff-19 textarea, .pff-19 blockquote { font-family: 'Noto Sans', Arial, Helvetica Neue, Sans-serif; }
body.pff-20, .pff-20 input, .pff-20 select, .pff-20 textarea, .pff-20 blockquote { font-family: Helvetica Neue, Arial, Sans-serif; }
body.pff-21, .pff-21 input, .pff-21 select, .pff-21 textarea, .pff-21 blockquote { font-family: 'Droid Serif', Georgia, Times, Times New Roman, Serif; }
body.pff-22, .pff-22 input, .pff-22 select, .pff-22 textarea, .pff-22 blockquote { font-family: 'PT Serif', Georgia, Times, Times New Roman, Serif; }
body.pff-23, .pff-23 input, .pff-23 select, .pff-23 textarea, .pff-23 blockquote { font-family: 'Vollkorn', Georgia, Times, Times New Roman, Serif; }
body.pff-24, .pff-24 input, .pff-24 select, .pff-24 textarea, .pff-24 blockquote { font-family: 'Alegreya', Georgia, Times, Times New Roman, Serif; }
body.pff-25, .pff-25 input, .pff-25 select, .pff-25 textarea, .pff-25 blockquote { font-family: 'Noto Serif', Georgia, Times, Times New Roman, Serif; }
body.pff-26, .pff-26 input, .pff-26 select, .pff-26 textarea, .pff-26 blockquote { font-family: 'Crimson Text', Georgia, Times, Times New Roman, Serif; }
body.pff-27, .pff-27 input, .pff-27 select, .pff-27 textarea, .pff-27 blockquote { font-family: 'Gentium Book Basic', Georgia, Times, Times New Roman, Serif; }
body.pff-28, .pff-28 input, .pff-28 select, .pff-28 textarea, .pff-28 blockquote { font-family: 'Volkhov', Georgia, Times, Times New Roman, Serif; }
body.pff-29, .pff-29 input, .pff-29 select, .pff-29 textarea, .pff-29 blockquote { font-family: Times, Times New Roman, Serif; }
body.pff-30, .pff-30 input, .pff-30 select, .pff-30 textarea, .pff-30 blockquote { font-family: 'Fira Sans', Helvetica Neue, Arial, Sans-serif; }
body.pff-31, .pff-31 input, .pff-31 select, .pff-31 textarea, .pff-31 blockquote { font-family: 'Lora', Georgia, Times, Times New Roman, Serif; }
body.pff-32, .pff-32 input, .pff-32 select, .pff-32 textarea, .pff-32 blockquote { font-family: 'Quattrocento Sans', Helvetica Neue, Arial, sans-serif; }

.hff-1 h1,.hff-1 h2,.hff-1 h3,.hff-1 h4,.hff-1 h5,.hff-1 h6, .hff-1 .title-teaser-text .title, .sff-1 #site-name, 
.sff-1 #subfooter-site-name, .slff-1 #site-slogan { font-family: 'Merriweather', Georgia, Times New Roman, Serif; }
.hff-2 h1,.hff-2 h2,.hff-2 h3,.hff-2 h4,.hff-2 h5,.hff-2 h6, .hff-2 .title-teaser-text .title, .sff-2 #site-name, 
.sff-2 #subfooter-site-name, .slff-2 #site-slogan { font-family: 'Source Sans Pro', Helvetica Neue, Arial, Sans-serif; }
.hff-3 h1,.hff-3 h2,.hff-3 h3,.hff-3 h4,.hff-3 h5,.hff-3 h6, .hff-3 .title-teaser-text .title, .sff-3 #site-name, 
.sff-3 #subfooter-site-name, .slff-3 #site-slogan { font-family: 'Ubuntu', Helvetica Neue, Arial, Sans-serif; }
.hff-4 h1,.hff-4 h2,.hff-4 h3,.hff-4 h4,.hff-4 h5,.hff-4 h6, .hff-4 .title-teaser-text .title, .sff-4 #site-name, 
.sff-4 #subfooter-site-name, .slff-4 #site-slogan { font-family: 'PT Sans', Helvetica Neue, Arial, Sans-serif; }
.hff-5 h1,.hff-5 h2,.hff-5 h3,.hff-5 h4,.hff-5 h5,.hff-5 h6, .hff-5 .title-teaser-text .title, .sff-5 #site-name, 
.sff-5 #subfooter-site-name, .slff-5 #site-slogan { font-family: 'Roboto', Helvetica Neue, Arial, Sans-serif; }
.hff-6 h1,.hff-6 h2,.hff-6 h3,.hff-6 h4,.hff-6 h5,.hff-6 h6, .hff-6 .title-teaser-text .title, .sff-6 #site-name, 
.sff-6 #subfooter-site-name, .slff-6 #site-slogan { font-family: 'Open Sans', Helvetica Neue, Arial, Sans-serif; }
.hff-7 h1,.hff-7 h2,.hff-7 h3,.hff-7 h4,.hff-7 h5,.hff-7 h6, .hff-7 .title-teaser-text .title, .sff-7 #site-name, 
.sff-7 #subfooter-site-name, .slff-7 #site-slogan { font-family: 'Lato', Helvetica Neue, Arial, Sans-serif; }
.hff-8 h1,.hff-8 h2,.hff-8 h3,.hff-8 h4,.hff-8 h5,.hff-8 h6, .hff-8 .title-teaser-text .title, .sff-8 #site-name, 
.sff-8 #subfooter-site-name, .slff-8 #site-slogan { font-family: 'Roboto Condensed', Arial Narrow, Arial, Sans-serif; }
.hff-9 h1,.hff-9 h2,.hff-9 h3,.hff-9 h4,.hff-9 h5,.hff-9 h6, .hff-9 .title-teaser-text .title, .sff-9 #site-name, 
.sff-9 #subfooter-site-name, .slff-9 #site-slogan { font-family: 'Exo', Helvetica Neue, Arial, Sans-serif; }
.hff-10 h1,.hff-10 h2,.hff-10 h3,.hff-10 h4,.hff-10 h5,.hff-10 h6, .hff-10 .title-teaser-text .title, .sff-10 #site-name, 
.sff-10 #subfooter-site-name, .slff-10 #site-slogan { font-family: 'Roboto Slab', Trebuchet MS, Sans-serif; }
.hff-11 h1,.hff-11 h2,.hff-11 h3,.hff-11 h4,.hff-11 h5,.hff-11 h6, .hff-11 .title-teaser-text .title, .sff-11 #site-name, 
.sff-11 #subfooter-site-name, .slff-11 #site-slogan { font-family: 'Raleway', Helvetica Neue, Arial, Sans-serif; }
.hff-12 h1,.hff-12 h2,.hff-12 h3,.hff-12 h4,.hff-12 h5,.hff-12 h6, .hff-12 .title-teaser-text .title, .sff-12 #site-name, 
.sff-12 #subfooter-site-name, .slff-12 #site-slogan { font-family: 'Josefin Sans', Georgia, Times New Roman, Serif; }
.hff-13 h1,.hff-13 h2,.hff-13 h3,.hff-13 h4,.hff-13 h5,.hff-13 h6, .hff-13 .title-teaser-text .title, .sff-13 #site-name, 
.sff-13 #subfooter-site-name, .slff-13 #site-slogan { font-family: Georgia, Times New Roman, Serif; }
.hff-14 h1,.hff-14 h2,.hff-14 h3,.hff-14 h4,.hff-14 h5,.hff-14 h6, .hff-14 .title-teaser-text .title, .sff-14 #site-name, 
.sff-14 #subfooter-site-name, .slff-14 #site-slogan { font-family: 'Playfair Display', Times New Roman, Serif; }
.hff-15 h1,.hff-15 h2,.hff-15 h3,.hff-15 h4,.hff-15 h5,.hff-15 h6, .hff-15 .title-teaser-text .title, .sff-15 #site-name, 
.sff-15 #subfooter-site-name, .slff-15 #site-slogan { font-family: 'Philosopher', Georgia, Times New Roman, Serif; }
.hff-16 h1,.hff-16 h2,.hff-16 h3,.hff-16 h4,.hff-16 h5,.hff-16 h6, .hff-16 .title-teaser-text .title, .sff-16 #site-name, 
.sff-16 #subfooter-site-name, .slff-16 #site-slogan { font-family: 'Cinzel', Georgia, Times New Roman, Serif; }
.hff-17 h1,.hff-17 h2,.hff-17 h3,.hff-17 h4,.hff-17 h5,.hff-17 h6, .hff-17 .title-teaser-text .title, .sff-17 #site-name, 
.sff-17 #subfooter-site-name, .slff-17 #site-slogan { font-family: 'Oswald', Helvetica Neue, Arial, Sans-serif; }
.hff-18 h1,.hff-18 h2,.hff-18 h3,.hff-18 h4,.hff-18 h5,.hff-18 h6, .hff-18 .title-teaser-text .title, .sff-18 #site-name, 
.sff-18 #subfooter-site-name, .slff-18 #site-slogan { font-family: 'Playfair Display SC', Georgia, Times New Roman, Serif; }
.hff-19 h1,.hff-19 h2,.hff-19 h3,.hff-19 h4,.hff-19 h5,.hff-19 h6, .hff-19 .title-teaser-text .title, .sff-19 #site-name, 
.sff-19 #subfooter-site-name, .slff-19 #site-slogan { font-family: 'Cabin', Helvetica Neue, Arial, Sans-serif; }
.hff-20 h1,.hff-20 h2,.hff-20 h3,.hff-20 h4,.hff-20 h5,.hff-20 h6, .hff-20 .title-teaser-text .title, .sff-20 #site-name, 
.sff-20 #subfooter-site-name, .slff-20 #site-slogan { font-family: 'Noto Sans', Arial, Helvetica Neue, Sans-serif; }
.hff-21 h1,.hff-21 h2,.hff-21 h3,.hff-21 h4,.hff-21 h5,.hff-21 h6, .hff-21 .title-teaser-text .title, .sff-21 #site-name, 
.sff-21 #subfooter-site-name, .slff-21 #site-slogan { font-family: Helvetica Neue, Arial, Sans-serif; }
.hff-22 h1,.hff-22 h2,.hff-22 h3,.hff-22 h4,.hff-22 h5,.hff-22 h6, .hff-22 .title-teaser-text .title, .sff-22 #site-name, 
.sff-22 #subfooter-site-name, .slff-22 #site-slogan { font-family: 'Droid Serif', Georgia, Times, Times New Roman, Serif; }
.hff-23 h1,.hff-23 h2,.hff-23 h3,.hff-23 h4,.hff-23 h5,.hff-23 h6, .hff-23 .title-teaser-text .title, .sff-23 #site-name, 
.sff-23 #subfooter-site-name, .slff-23 #site-slogan { font-family: 'PT Serif', Georgia, Times, Times New Roman, Serif; }
.hff-24 h1,.hff-24 h2,.hff-24 h3,.hff-24 h4,.hff-24 h5,.hff-24 h6, .hff-24 .title-teaser-text .title, .sff-24 #site-name, 
.sff-24 #subfooter-site-name, .slff-24 #site-slogan { font-family: 'Vollkorn', Georgia, Times, Times New Roman, Serif; }
.hff-25 h1,.hff-25 h2,.hff-25 h3,.hff-25 h4,.hff-25 h5,.hff-25 h6, .hff-25 .title-teaser-text .title, .sff-25 #site-name, 
.sff-25 #subfooter-site-name, .slff-25 #site-slogan { font-family: 'Alegreya', Georgia, Times, Times New Roman, Serif; }
.hff-26 h1,.hff-26 h2,.hff-26 h3,.hff-26 h4,.hff-26 h5,.hff-26 h6, .hff-26 .title-teaser-text .title, .sff-26 #site-name, 
.sff-26 #subfooter-site-name, .slff-26 #site-slogan { font-family: 'Noto Serif', Georgia, Times, Times New Roman, Serif; }
.hff-27 h1,.hff-27 h2,.hff-27 h3,.hff-27 h4,.hff-27 h5,.hff-27 h6, .hff-27 .title-teaser-text .title, .sff-27 #site-name, 
.sff-27 #subfooter-site-name, .slff-27 #site-slogan { font-family: 'Crimson Text', Georgia, Times, Times New Roman, Serif; }
.hff-28 h1,.hff-28 h2,.hff-28 h3,.hff-28 h4,.hff-28 h5,.hff-28 h6, .hff-28 .title-teaser-text .title, .sff-28 #site-name, 
.sff-28 #subfooter-site-name, .slff-28 #site-slogan { font-family: 'Gentium Book Basic', Georgia, Times, Times New Roman, Serif; }
.hff-29 h1,.hff-29 h2,.hff-29 h3,.hff-29 h4,.hff-29 h5,.hff-29 h6, .hff-29 .title-teaser-text .title, .sff-29 #site-name, 
.sff-29 #subfooter-site-name, .slff-29 #site-slogan { font-family: 'Volkhov', Georgia, Times, Times New Roman, Serif; }
.hff-30 h1,.hff-30 h2,.hff-30 h3,.hff-30 h4,.hff-30 h5,.hff-30 h6, .hff-30 .title-teaser-text .title, .sff-30 #site-name, 
.sff-30 #subfooter-site-name, .slff-30 #site-slogan { font-family: Times, Times New Roman, Serif; }
.hff-31 h1,.hff-31 h2,.hff-31 h3,.hff-31 h4,.hff-31 h5,.hff-31 h6, .hff-31 .title-teaser-text .title, .sff-31 #site-name, 
.sff-31 #subfooter-site-name, .slff-31 #site-slogan { font-family: 'Alegreya SC', Georgia, Times, Times New Roman, Serif; }
.hff-32 h1,.hff-32 h2,.hff-32 h3,.hff-32 h4,.hff-32 h5,.hff-32 h6, .hff-32 .title-teaser-text .title, .sff-32 #site-name, 
.sff-32 #subfooter-site-name, .slff-32 #site-slogan { font-family: 'Montserrat', Helvetica Neue, Arial, Sans-serif; }
.hff-33 h1,.hff-33 h2,.hff-33 h3,.hff-33 h4,.hff-33 h5,.hff-33 h6, .hff-33 .title-teaser-text .title, .sff-33 #site-name, 
.sff-33 #subfooter-site-name, .slff-33 #site-slogan { font-family: 'Fira Sans', Helvetica Neue, Arial, Sans-serif; }
.hff-34 h1,.hff-34 h2,.hff-34 h3,.hff-34 h4,.hff-34 h5,.hff-34 h6, .hff-34 .title-teaser-text .title, .sff-34 #site-name, 
.sff-34 #subfooter-site-name, .slff-34 #site-slogan { font-family: 'Lora', Georgia, Times, Times New Roman, Serif; }
.hff-35 h1,.hff-35 h2,.hff-35 h3,.hff-35 h4,.hff-35 h5,.hff-35 h6, .hff-35 .title-teaser-text .title, .sff-35 #site-name, 
.sff-35 #subfooter-site-name, .slff-35 #site-slogan { font-family: 'Quattrocento Sans', Helvetica Neue, Arial, sans-serif; }
.hff-36 h1,.hff-36 h2,.hff-36 h3,.hff-36 h4,.hff-36 h5,.hff-36 h6, .hff-36 .title-teaser-text .title, .sff-36 #site-name, 
.sff-36 #subfooter-site-name, .slff-36 #site-slogan { font-family: 'Julius Sans One', Helvetica Neue, Arial, sans-serif; }

.maintenance-page #site-name, .maintenance-page h1, body.maintenance-page, .maintenance-page #site-slogan { font-family: 'Lato', Helvetica Neue, Arial, Sans-serif; }

/* Reset unusual Firefox-on-Android default style, see https://github.com/necolas/normalize.css/issues/214*/
@media (max-width: 1199px) { 
	.form-text, .form-textarea, .block-superfish select, .block-search .form-submit, #search-block-form .form-submit { background-image: none; } 
}

body { font-size: 15px; font-weight: 400; line-height: 1.45; color: #1e1e1e; }

p { margin: 0; padding: 0 0 15px 0; }

p.large { font-size: 21px; line-height: 1.33; }

a { -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; 
-o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; color: #2a68af; }

a:hover { text-decoration: underline; color: #4187d1; }

a:focus { outline: none; text-decoration: none; color: #4187d1; }

img {  height: auto; max-width: 100%; }

code, pre { word-wrap: break-word; word-break: break-all; white-space: pre; white-space: pre-wrap; font-family: 'Source Code Pro', Consolas, Monaco, Courier; }

pre { background: #e1e1e1; border:none; border-left: 10px solid #d3d1cd; -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px; color: #222222; padding: 20px;
font-size: 14px; max-height: 62px; overflow: hidden; margin: 40px 0 40px 45px; }

pre:hover { max-height: 10000px; -webkit-transition: all ease-in-out 2s; -moz-transition: all ease-in-out 2s; -o-transition: all ease-in-out 2s;
-ms-transition: all ease-in-out 2s; transition: all ease-in-out 2s; }

blockquote { font-size: 24px; font-style: italic; padding:0 0 0 150px; border-left: none; position: relative; margin: 40px 0 50px; }

blockquote p { font-weight: 400; line-height: 1.44; }

.footer-area blockquote { padding-left: 70px; }

/*blockquote quote symbol*/
blockquote:after { position: absolute; font-family: 'PT Serif', Georgia, Times, Times New Roman, Serif; content: "“"; left: 45px; top: 0; color: #4187d1; 
font-style: normal; font-size: 160px; line-height: 1; }

.footer-area blockquote:after { left: 0; font-size: 130px; }

@media (max-width: 991px) { 
	.footer-area blockquote { padding-left: 40px; font-size: 18px; }	
	.footer-area blockquote:after { left: 0; font-size: 90px; }
}

@media (max-width: 767px) { 
	blockquote { padding: 0 0 0 75px; }
	blockquote:after { left: 0; font-size: 130px; }
}

hr { border-top: 1px solid #c2c2c2; margin-bottom: 40px; margin-top: 40px; }

/*Headings*/
h1, h2, h3, h4, h5, h6 { line-height: 1.20; padding: 0; margin: 20px 0 10px 0; font-weight: 700; text-transform: uppercase; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color: #1e1e1e; }

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover { color: #4187d1; }

h1 { font-size: 35px; }

h2 { font-size: 28px; font-weight: 400; }

h3 { font-size: 21px; }

h4 { font-size: 19px; }

h5 { font-size: 16px; }

h1.title { margin-top:0; }

.front h1.title { margin-top:76px; }

.footer-area h2.title { font-size: 16px; margin-bottom: 25px; }

.sidebar h2.title { font-size: 21px; font-weight: 700; margin: 4px 0 15px 0; }

#block-views-promoted-posts-block-1 h2.title { text-align: center; margin-bottom: 20px; }

#block-views-showcases-block-1 h2.title, #highlighted h2.title { margin-bottom: 25px; padding-bottom: 15px; border-bottom: 1px solid #acacac; text-align: center; 
position: relative; }

#block-views-showcases-block-1 h2.title { margin-bottom: 5px; }

#top-content h2.title { text-align: center; margin: 0 0 5px 0; }

#block-views-showcases-block-1 h2.title:after, #highlighted h2.title:after { width: 280px; height: 2px; position: absolute; background-color: #acacac; bottom: 0; 
content: ""; left:50%; margin-left: -140px; }

.subtitle { font-size: 14px; font-weight: 700; }

.page-subtitle { margin-top: 0; }


/*blocks*/
.block { padding: 0 0 25px 0; }

.block-superfish.block,
#search-area .block,
#block-system-main.block,
#block-views-slideshow-boxed-block-1,
#block-views-slideshow-full-block-1,
#main-navigation .block-menu.block, /*NON ORIGINAL*/ #block-views-slideshow-full-block-2, #block-views-slideshow-full-block-3, #block-block-318, #block-views-slideshow-boxed-block-2, #block-views-slideshow-full-block-4, #block-views-slideshow-full-block-6 { padding:0; }

#footer-bottom .block, #subfooter .block  { padding:10px 0; }

.sidebar .block { padding: 0 0 40px 0; }

.block-quicktabs .block { border-bottom: 1px solid #c2c2c2; padding: 0; }

.footer-area .block-quicktabs .block { border-bottom: 1px solid #252525; }

.internal-banner-block { margin-bottom: -75px; }

/*Layout*/
@media (max-width: 767px) {
	body { padding-top: 0!important; }
}

/*ORIGINAL -- #header-inside { padding: 35px 0 30px; position: relative;}*/
#header-inside { padding: 0px 0 0px; position: relative;}

#header-inside-left {/** ORIGINAL  padding: 0 0 10px 0;**/    padding: 0 0 0px 0; }



#header-inside-right {/**ORIGINAL  padding: 0 0 20px 0; **/ padding: 0 0 0px 0; }

@media (max-width: 767px) { 
	#header-inside { padding: 0 0 30px; }
	.logged-in #header-inside { padding-top: 110px; }
	#header { position: relative!important; padding: 0; border: none!important; }
}

@media (max-width: 480px) { 
	.logged-in #header-inside { padding-top: 140px; }
}

@media (min-width: 768px) { 
	#search-area { width: 30px; float: right; padding: 1px 10px 0 0; }
	/*ORIGINAL -- #main-navigation.with-search-bar { padding-right: 30px; } */
	#main-navigation.with-search-bar { padding-right: 50px; }
}

@media (min-width: 1200px) { 
	#search-area { width: 60px; }
	#main-navigation.with-search-bar { /**ORIGINAL padding-right:60px;**/padding-right: 30px; }
}

#page-intro { position: relative; min-height: 50px; }

#page-intro-inside { position: absolute; background: #f4f4f4; bottom: 0; left: 0; width: 100%; }

.no-banner #page-intro-inside.no-internal-banner-image { border-bottom: 1px solid #cfd0d2; }

@media (max-width: 767px) { 
	#page-intro-inside { position: relative; bottom:0; border-bottom: 1px solid #cfd0d2; }
}

.front #page { padding: 0; }

#page { padding: 30px 0; }

.front #top-content { padding-top: 65px; }

.not-front #main, .not-front .sidebar { padding: 30px 0 0; }

.front .region-content { padding: 60px 0 40px; }

.front .region-sidebar-second, .front .region-sidebar-first { padding: 76px 0 40px; }

#highlighted { background: #e9e9e9; padding: 40px 0 0; position: relative; border-top:5px solid #fff; } 

#highlighted:before { position: absolute; font-family: 'FontAwesome'; content: "\f0d7"; top: -27px; font-size: 66px; color: #fff; visibility: visible; 
line-height: 1; left: 50%; margin-left: -19px; }

#highlighted:after { position: absolute; font-family: 'FontAwesome'; content: "\f0d7"; bottom: -40px; font-size: 66px; color: #e9e9e9; visibility: visible;
line-height: 1; left: 50%; margin-left: -19px; z-index: 4; }

.not-front #highlighted { margin-bottom: 40px; }

#highlighted-bottom { width: 100%; padding: 105px 0 85px; }

.parallax-active #highlighted-bottom { background: url("images/parallax-bg.jpg") 50% 50% no-repeat fixed; margin: -1px 0 0 0; position: relative; z-index: 2;}

#highlighted-bottom-transparent-bg { background-color: rgba(255,255,255,0); content: ""; position: absolute; width: 100%; height: 100%; top:0; left: 0; }

#bottom-content { padding: 30px 0 0 0; }

#footer-top {  background-color: #dcdcdc; padding: 25px 0 0; }

#footer { background-color: #101010; padding: 35px 0; }

#subfooter { background-color: #080808; padding: 25px 0 15px; }

@media (min-width: 1200px) { 
	.fix-sidebar-second { padding-left: 65px; }
	.fix-sidebar-first { padding-right: 65px; }
}

/* Main navigation */
#main-navigation ul.menu { /* ORIGINAL margin: 0; padding: 0px 0 5px 0; list-style: none; text-align: right; */ margin: 0; padding: 0px 0 0px 0; list-style: none; text-align: right; }

#main-navigation ul.menu li {/** ORIGINAL  background: none; padding:0; margin:0; display:inline-block; float:none; z-index: 497;**/  padding:0;     margin-left: 0px; display:inline-block; float:none; z-index: 497; }

#main-navigation ul.main-menu.menu>li.active-trail>a { border-bottom:2px solid #252525; }

#main-navigation ul.menu li:before { content: ""; }

#main-navigation ul.menu li a { /** ORIGINAL font-size: 14px; font-weight:700; padding: 5px 17px 5px; text-transform:uppercase; margin: 0 5px;
border-bottom: 2px solid transparent; color: #000; **/ font-size: 14px;
    font-weight: normal;
    padding: 10px 17px 10px 20px;
    text-transform: none;
    margin: 0 5px;
    border-bottom: 2px solid transparent;
    color: #c8e2ff;}

#main-navigation ul.menu li ul li a {color:#ffffff;}

#main-navigation ul.menu li a:hover, 
#main-navigation ul.main-menu.menu>li.active-trail>a:hover { color: #3f3f3f; background-color: transparent; border-bottom:2px solid #252525; }

#main-navigation ul.menu li.expanded > a:before, #main-navigation ul.menu li.collapsed > a:before { content: ""; }

#main-navigation ul.menu ul.menu { display:none; }

@media (max-width: 1199px) { 
	#main-navigation ul.menu li a { margin: 0; padding: 5px 15px; }
	#main-navigation ul.menu { text-align: left; }
}

@media (max-width: 991px) { 
	#main-navigation ul.menu li a { margin: 0 5px; padding: 5px 17px; }
}
/*superfish support*/
.mean-container .sf-menu { display: none!important; height: 0!important; }

.sf-menu ul { display: none; }

#main-navigation .sf-menu ul { text-align: left; padding: 1px 0 0 0; left: 0; top: 100%; }

#main-navigation .sf-menu>li>ul { /*ORIGINAL right: 0!important; */ right: 0!important;background-color: #ffffff; }

#main-navigation .sf-menu>li.active-trail>a {  border-bottom:none; } 

#main-navigation .sf-menu>li>a:hover,
#main-navigation .sf-menu>li.sfHover>a { color: #2a68af; border-bottom:2px solid #252525; }

#main-navigation .sf-menu ul { display: none; }

#main-navigation .sf-menu ul li a { background: #333333 /* ORIGINAL 
rgba(243,243,243,0.95) */; padding: 9px 23px 10px; display: block; margin: 0 0 1px 0; border-bottom: none;}

#main-navigation .sf-menu ul li a:hover,
#main-navigation .sf-menu ul li.sfHover>a { background: #252525; color: #fff; border-bottom: none; }

#main-navigation .sf-menu ul ul { padding: 0 0 0 1px; top:0; }

/*superfish menu arrows*/
#main-navigation ul.sf-menu>li>a.menuparent:after { content: "\f107"; font-family: 'FontAwesome'; position: absolute;
top: 6px; right: 3px; font-size: 12px; font-weight: 400; -webkit-transition: all linear 0.2s; -moz-transition: all linear 0.2s; -o-transition: all linear 0.2s;
-ms-transition: all linear 0.2s; transition: all linear 0.2s; color: #9c9c9c; line-height: 20px; }

#main-navigation ul.sf-menu>li.sfHover>a.menuparent:after {   
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2); -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg);
-ms-transform: rotate(180deg);-o-transform: rotate(180deg); transform: rotate(180deg); }

#main-navigation ul.sf-menu ul li a.menuparent:after { font-family: 'FontAwesome'; content: "\f105"; right: 10px; top: 9px;
position: absolute; font-weight: 400;}

/*responsive multilevel menu*/
.mean-container .meanmenu-wrapper { display: none!important; height: 0!important; }

.mean-container .mean-bar { background: transparent; z-index: 499; }

.mean-container a.meanmenu-reveal { color: #000; font-size: 18px; text-indent: 0; }

.mean-container a.meanmenu-reveal span { background: #000; }

.mean-container a.meanmenu-reveal.meanclose:after { font-family: "FontAwesome"; content: "\f00d"; font-size: 22px; font-weight: 400; }

.mean-container .mean-nav { position: absolute; background: #e5e5e5; color: #000; }

.mean-container .mean-nav ul { width: 100%!important; }

.mean-container .mean-nav ul * { float: left!important; }

.mean-container .mean-nav ul li a { color: #000; border-bottom: 1px solid #ddd; text-transform: none; border-top: none; }

.mean-container .mean-nav ul li a:hover { background-color: #252525; color: #fff; }

.mean-container .mean-nav ul li a.mean-expand { border-left: 1px solid #ddd !important; margin-top:0; border-bottom: none!important; height: 27px; 
width: 26px!important; background: #e5e5e5; line-height: 27px; }

.mean-container .mean-nav ul li li a.mean-expand { height: 28px; }

.mean-container .mean-nav ul li li a { opacity: 1; filter: alpha(opacity=100); width: 80%!important; } 

.mean-container .mean-nav ul li li li a { width: 70%!important; } 

.mean-container .mean-nav ul li li li li a { width: 60%!important; }

.mean-container .mean-nav ul li li li li li a {	width: 50%!important; }

/*Menus*/
ul.menu { margin: 0; padding: 0; list-style: none; }

ul.menu li { margin:0; position: relative; list-style: none; padding: 0; }


/* NON ORIGINAL For Arrows */

#block-menu-block-20 ul.menu li {padding-left:20px;}

/* ---------------- */


ul.menu li a { padding: 7px 0 8px /*ORIGINAL 25px */ 0px; line-height: 150%; display: block; }

ul.menu li a.active, ul.menu li a.active-trail { color: #1d1d1d; }

ul.menu li a:hover { text-decoration: none; background-color: #252525; color: #ffffff; }

ul.menu li.expanded ul { padding-left: 25px; }

/*menu arrows  */
ul.menu li.collapsed > a:before { content: "\f105"; font-family: 'FontAwesome'; position: absolute; left: 0px; font-size: 20px; top: 7px; color: #2a68af;
-webkit-transition: no; -moz-transition: all linear 0.2s; -o-transition: all linear 0.2s;  -ms-transition: all linear 0.2s; 
transition: all linear 0.2s; font-weight: 700; }

ul.menu li.expanded > a:before { content: "\f107"; font-family: 'FontAwesome'; position: absolute; left: 0px; font-size: 20px; top: 7px; color: #2a68af;
-webkit-transition: all linear 0.2s; -moz-transition: all linear 0.2s; -o-transition: all linear 0.2s;  -ms-transition: all linear 0.2s; 
transition: all linear 0.2s; font-weight: 700; }

ul.menu li.active-trail > a:before, ul.menu li.active-trail a.active:before { color: #1d1d1d; }

ul.menu li > a:hover:before { left: 10px; color: #2a68af; }

ul.menu li.expanded > a:hover:before { left: 5px; color: #2a68af; }

/*footer menu*/
.footer-area ul.menu li a { color: #e1e1e1; padding: 7px 0 8px 25px; text-decoration: none; }

.footer-area ul.menu li a:hover { color: #4187d1; text-decoration: underline; background-color: transparent; }

/*footer menu arrows  */
.footer-area ul.menu li > a:before { top:7px; }

.footer-area ul.menu li > a:hover:before { left: 5px; }

.footer-area ul.menu li.active-trail > a:before { color: #2a68af; }

@media (max-width: 767px) {
	.footer-area ul.menu { text-align: center; padding: 0 0 0 2px; }
	.footer-area ul.menu li a { padding: 7px 25px 8px 25px;}
	.footer-area ul.menu li > a:before { content: ""; }
}

/*Subfooter menu*/
#subfooter ul.menu { margin: 0; padding: 0; list-style-type: none; text-align: right; }

#subfooter ul.menu li { display: inline-block; }

#subfooter ul.menu ul.menu { display: none; }

#subfooter ul.menu li a { font-size: 12px; font-weight:700; text-transform:uppercase; margin:0; color: #e1e1e1; 
padding: 0 10px 0 8px; border-right: 1px solid #e1e1e1;  line-height: 1; }  

#subfooter ul.menu li.last a { border-right: none; padding-right: 0; }

#subfooter ul.menu li a:hover { color: #ffffff; background-color: transparent; text-decoration: underline;}

#subfooter ul.menu li.expanded > a:before, #subfooter ul.menu li > a:before { content: ""; }

@media (max-width: 991px) { 
	#subfooter ul.menu { text-align: center; padding: 0 0 0 2px; }
}

@media (max-width: 767px) { 
	#subfooter ul.menu li { display: block; padding: 10px 20px; }
	#subfooter ul.menu li.last a, #subfooter ul.menu li a { border-right: none; padding: 0 10px; }	
}

/* Search block*/
#search-block-form .form-text, .block-search .form-text { padding: 10px 15px; -webkit-border-radius: 25px; -moz-border-radius: 25px; border-radius: 25px; 
font-size: 14px; color: #000; }

#search-block-form, .block-search { position: relative; }

#search-block-form .form-actions, .block-search .form-actions { position: absolute; top:0px; right: 0px; font-size: 16px;}

#search-block-form .form-actions:after, .block-search .form-actions:after { font-family: 'FontAwesome'; content: "\f002"; position: absolute;
top: 0; left: 0; z-index: 0; line-height: 40px; width: 20px; display: block; }

#search-block-form input.form-submit, .block-search input.form-submit { background-color: transparent; min-width: 0;
color: #000; position: relative; z-index: 1; height: 40px; margin: 0; padding: 15px;}

#search-block-form input.form-submit:focus, #search-block-form input.form-submit:hover,
.block-search input.form-submit:focus, .block-search input.form-submit:hover { outline: none; background: transparent; }

.footer-area #search-block-form .form-actions:after,
.footer-area .block-search .form-actions:after { line-height: 40px; color: #1e1e1e; } 

.footer-area #search-block-form input.form-submit, .footer-area .block-search input.form-submit { height: 40px; } 

/*Navigation search bar*/
#search-area { position: relative; margin: 10px 0 0 0; }

#search-area h2.element-invisible { width: 0; }

#search-area .form-text { background: transparent; width: 0; position: absolute; z-index: 498; right: 0; 
-webkit-transition: all linear 0.35s; -moz-transition: all linear 0.35s; -o-transition: all linear 0.35s; -ms-transition: all linear 0.35s; 
transition: all linear 0.35s; padding: 10px 15px; -webkit-border-radius: 25px; -moz-border-radius: 25px; border-radius: 25px; border-bottom: none; 
font-size: 14px; color: #fff; }

#search-area .form-actions { position: absolute; top:0px; right: 0px; font-size: 16px;}

#search-area .form-actions:after { font-family: 'FontAwesome'; content: "\f002"; position: absolute; top: 0; left: 0; z-index: 498; line-height: 40px;
width: 20px; }

#search-area input[type="submit"] {/** ORIGINAL background-color: transparent; min-width: 0; color: #000; position: relative; z-index: 499;
height: 44px; margin: 0 10px 0 0; padding: 10px;**/    background-color: transparent;
    min-width: 0;
    color: #000;
    position: relative;
    z-index: 499;
    height: 44px;
    margin: 0 0px 0 0;
    padding: 5px; }

#search-area input[type="submit"]:hover { outline: none; background: transparent; }

@media (min-width: 768px) { 
	#search-area:hover .form-text, #search-area .form-text:focus { width: 350px; background-color: #dddddd; color: #000; }
}

@media (max-width: 767px) { 
	#search-area .form-text, #search-area .form-text:hover { position: relative; width: 100%; background-color: #dddddd; color: #000; }
	#search-area .form-text, #search-area .form-actions:after { z-index: 1; }
	#search-area input[type="submit"] { z-index: 2; }
}

/* Logo - Site name*/
#logo { padding: 0; float: left; margin-right: 5px; display: inline-block; }

#logo:hover { opacity: 0.8; filter: alpha(opacity=80); -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; 
-o-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }

#site-name { padding:0; margin: 10px 0 0 0; }

#site-name a { font-size: 32px; font-weight: 700; line-height:1.1; color: #252525; }

#site-name a:hover { text-decoration: none; opacity: 0.8; filter: alpha(opacity=80); -webkit-transition: all 0.2s ease-in-out; 
-moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }

#site-slogan { font-size: 13px; line-height:1.30; color: #252525; padding:0; font-weight: 700; }

@media (min-width: 992px) and (max-width: 1199px) { 
	#site-name a { font-size: 24px; }
	#site-slogan { font-size: 12px; }
}

@media (max-width: 767px) { 
	#logo { float: none; margin-right: 0; display: block; text-align: center; display: block!important; visibility: visible!important; 
	-webkit-transform: scale(0.75); -moz-transform: scale(0.75); -ms-transform: scale(0.75); -o-transform: scale(0.75); transform: scale(0.75); }
	#site-name, #site-slogan { text-align: center; }
	#site-name {margin: 5px 0 0 0;}
	#site-slogan { display: block!important; visibility: visible!important; padding: 5px 0 0 0!important; }	
}

/*pager*/
.item-list ul.pager { margin: 20px 0 20px; text-align: left; }

.page-blog .item-list ul.pager { padding: 0 0 0 75px; }

.item-list ul.pager li { padding:0; margin:0; border-bottom: none; font-size: 14px; }

ul.pager li > a { padding: 11px 25px; border: none; border-bottom: 1px solid transparent; color: #1e1e1e; -webkit-border-radius: 0px; -moz-border-radius: 0px; 
border-radius: 0px; line-height: 1; }

ul.pager li > a:hover { background-color: transparent; border-bottom: 1px solid #4187d1; color: #4187d1; }

ul.pager li.pager-current, .item-list ul li.pager-current.last { border-bottom: 1px solid #2a68af; color: #2a68af; padding: 10px 25px; line-height: 1; }

ul.pager li > a:focus { background:none; }

/*breadcrumb*/
#breadcrumb { font-size: 11px; padding: 17px 0; font-weight: 700; text-transform: uppercase; line-height: 1.46; }

#breadcrumb-inside { padding-left: 75px; }

#breadcrumb a, #breadcrumb .breadcrumb-separator { display: inline-block; overflow: hidden; vertical-align: top; line-height: 1.46; }

#breadcrumb a:hover { color:#4187d1; }

#breadcrumb .breadcrumb-separator { position: relative; line-height: 1; font-size: 10px; padding-top: 2px; color: #1e1e1e; }

#breadcrumb .breadcrumb-separator:after { padding: 0 9px 0 7px; font-family: "FontAwesome"; content: "/"; font-weight: 400; }

#breadcrumb a:nth-child(1) { font: 0/0 a; color: transparent; text-shadow: none; border: 0; 
width: 55px; background-color: #cfd0d2; height: 50px; position: absolute; bottom: 0; left: 15px; text-align: center; }

#breadcrumb a:nth-child(1):after { font-family: "FontAwesome"; content: "\f015"; color: #fff; font-size: 30px; line-height: 50px;}

#breadcrumb a:nth-child(1):hover { text-decoration: none; }

.no-banner .no-internal-banner-image #breadcrumb a:nth-child(1) { background-color: transparent; }

.no-banner .no-internal-banner-image #breadcrumb a:nth-child(1):after { color: #cfd0d2; }

#breadcrumb span:nth-child(2) { display: none; }

.internal-banner-image { max-height: 500px; overflow: hidden; }

.internal-banner-image img { width: 100%; /*NON ORIGINAL */margin-top:-10%; }

@media (max-width: 767px) { 
	#breadcrumb a:nth-child(1) { background-color: transparent; }
	#breadcrumb a:nth-child(1):after { color: #cfd0d2; }
}

/*Main*/
.submitted-user { font-size:11px; margin-top:-5px; /*NON ORIGINAL*/ display:none;}

/*Node*/
.node { position: relative; }

.node.node-teaser { padding: 0 0 30px 0; /*NON ORIGINAL margin-bottom: 40px; */ margin-bottom: 0px; }

.node.node-teaser ul.links { display: none; }

.node-blog, .node-article { position: relative; }

.node header { padding: 0 0 15px 0; }

.node header .user-picture { padding: 5px 0; }

.feed-icon { display: block; margin: 0px 0 60px; }

/*Post submitted info*/
.post-submitted-info { width: 55px; float: left; font-weight: 700; text-align: center; line-height: 1; position: absolute; 
top:0; left: 0; }

.submitted-date { margin:26px 0 0 0; border-right: 1px solid #c2c2c2; padding-bottom: 10px; }

.comments-count { margin-top: 26px; border-right: 1px solid #c2c2c2; }

.page-node- .comments-count { margin-top: 0; }

.submitted-date + .comments-count {  border-top: 1px solid #c2c2c2; margin-top: 0; }

.node-type-mt-showcase .submitted-date { margin-top: 31px; }

.node-type-mt-showcase .comments-count { margin-top: 32px; }

.node-type-mt-showcase .submitted-date + .comments-count { margin-top: 0; }

.post-submitted-info .month { margin-top: -2px; }

.post-submitted-info .month, .post-submitted-info .year { font-size: 14px; text-transform: uppercase; }

.post-submitted-info .day { font-size: 29px; font-weight: 900; margin-bottom: 2px; }

.post-submitted-info i { color: #4187d1; margin-bottom: 5px; width: 100%; padding-top: 17px; }

.comment-counter { font-size: 11px; color: #2a68af; padding-bottom: 15px; }

.node-main-content.custom-width { margin-left: 75px; }

.node-main-content.full-width { margin-left: 0; }

/*Subheader*/
.field.field-name-field-subheader-body.field-type-text-with-summary.field-label-hidden,  .field-name-field-intro, /**NON ORIGINAL**/.print_intro { font-size: 21px; padding: 0 0 25px 0; line-height: 1.33; }/*ORIGINAL */

.subheader { padding: 0 0 40px; }

/*Comments*/
#comments { margin-top:55px; }

#comments h2.title { margin: 20px 0 50px 0; font-size: 21px; font-weight: 700; }

/*Comment*/
.comment { margin: 0 0 40px 0; overflow: hidden; }

.comment header { padding: 0; }

.comment .user-picture { float: left; padding: 0 20px 20px 0; min-width: 75px; max-width: 75px; position: relative; }

.comment .user-picture img { width: 55px; -webkit-border-radius: 100%; -moz-border-radius: 100%; border-radius: 100%; }

.user-picture img { -webkit-border-radius: 100%; -moz-border-radius: 100%; border-radius: 100%; }

.comment .content { float:left; width:85%; position: relative; margin: 0; border-bottom: 1px solid #c2c2c2; }

.comment h3.title { margin: 0 0 10px 0; font-size: 16px; }

.comment .submitted { font-size: 11px; color:#898989; margin: 0 0 15px; }

.comment .username { color: #1e1e1e; }

.comment ul.links { text-align: right; display: block; padding: 0 0 5px 0; }

.comment ul.links li { font-size: 11px; color: #898989; }

.comment ul.links li a { background: transparent; font-size: 11px; padding: 0; margin: 0; text-transform: none; color: #2a68af; display: inline; min-width: 0;
text-align: left; padding: 0 5px; }

.comment ul.links li.last a { padding-right: 0; }

.comment ul.links li.first a { padding-right: 5px; }

.comment ul.links li a:hover { background: transparent; text-decoration: underline; color: #4187d1; }

.indented { margin-left: 75px; }

@media (max-width: 1199px) {
	.comment .content { width:80%; }
}

@media (max-width: 767px) {
	.indented { margin-left: 65px; }
	.comment .content, .comment .user-picture { float:none; width:100%; }
	.comment .user-picture { max-width: 100%; min-width: 0; }
	.comment .user-picture img { display: block; margin: 0 auto 20px; }
}

@media (max-width: 480px) {
	.indented { margin-left: 30px; }
}

/*Taxonomy term reference*/
/* ORIGINAL .field-type-taxonomy-term-reference { display: block; overflow: hidden; position: relative; font-size: 11px; margin: 15px 0 30px 0; } */

.field-type-taxonomy-term-reference .field-item { display:inline; margin-right: 2px; }

.field-type-taxonomy-term-reference .field-item a { color: #7d7d7d; padding:6px 8px; line-height: 1; background-color: #d2d2d2; 
-webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; display: inline-block; margin: 3px 0 2px 0; }

.field-type-taxonomy-term-reference .field-item a:hover { background-color: #000; text-decoration: none; color:#fff; }
	
/*Polls*/
.poll .vote-form { text-align: left; }

.poll .vote-form .choices { display: block; }

/*Call to action*/
.call-to-action p { font-size: 28px; margin: 0; padding: 10px 0; }

.call-to-action a.more { background-color: #000; }

.call-to-action a.more:hover { background-color: #333; }

/*Promoted Items block*/
.view-promoted-items { margin-bottom:15px; }

.view-promoted-items .views-row { margin-top: 30px!important; }

.view-promoted-items .icon { width: 80px; height: 80px; -webkit-border-radius: 100%; -moz-border-radius: 100%; border-radius: 100%; margin: 0 auto 35px; 
text-align: center; display: block; color: #a3a3a3; background: #252525; }

.view-promoted-items .icon:hover { background: #454545; }

.view-promoted-items .icon i { font-size: 36px; width: 100%; height: 100%; line-height: 80px; }

.view-promoted-items .views-field-field-image { margin: 0 auto 25px; }

.view-promoted-items .views-field-title a { margin: 0; display: inline; }

.view-promoted-items h2 { margin-top:0; }

.view-promoted-items .views-field-field-image { border: 1px solid #e5e5e5; }

.view-benefits.view-promoted-items .views-field-field-image { border:none; }

/**NON ORIGINAL**/
.view.view-Benefits.view-id-Benefits {text-align:center;}

@media (max-width: 767px) { 
	.view-promoted-items .views-row { margin-bottom: 70px!important; }
	.view-promoted-items .views-field-field-image { margin-left: -15px; margin-right: -15px; }
}

/*Showcase*/
.view-showcases .views-row { margin-bottom: 40px; }

.view-showcases h2 { margin:0 0 15px; font-size: 18px; font-weight: 700; }

.view-showcases h2 a { color: #252525; }

.view-showcases .info { position: absolute; bottom: 8px; right: 5px; z-index: 11; }

.view-showcases .info span, .view-showcases .info a { padding: 5px 8px; line-height: 1;font-size: 11px; background-color: #080808; color: #fff; -webkit-border-radius: 2px; 
-moz-border-radius: 2px; border-radius: 2px;}

.view-showcases .info span:hover { cursor: default; }

.view-showcases .info a.comments { padding-left: 30px; position: relative; }

.view-showcases .info a.comments:hover { text-decoration: none; }

.view-showcases .info a.comments:after { font-family: 'FontAwesome'; position: absolute; content: "\f075"; color: #4187d1; left: 7px; top: 5px; font-size: 13px; }

.view-showcases .nav-pills > li { margin-top: 5px; }

/*Showcase with Isotope filtering*/
.filter-items { display: none; }

.filters { margin: 15px 0 5px 0; display: none; }

.isotope ul { padding: 0; }

.isotope-item { list-style: none; }

@media (max-width: 767px) { 
.isotope-item { max-width: 100%; }
}

/*Latest item view*/
.latest-item { padding: 10px 0; -webkit-transition: all linear 0.2s; -moz-transition: all linear 0.2s; -o-transition: all linear 0.2s;
-ms-transition: all linear 0.2s; transition: all linear 0.2s; clear: both; }

.latest-item:hover { background: #252525; color: #fff; }

.latest-item .views-field-field-image { width: 40%; margin-right: 20px; float: left; }

.latest-item .views-field-title, .latest-item .views-field-body { display: inline-block; width: 53%; }

.latest-item .views-field-title a { color: #1e1e1e; text-transform: uppercase; font-weight: 700; display: block; margin-bottom: 5px; }

.latest-item:hover .views-field-title a { color: #fff; }

.latest-item .views-field-title a:hover { text-decoration: underline; }

.latest-item .views-field-body p { padding:0; }

.footer-area .latest-item .views-field-title a { color: #e1e1e1; }

.footer-area .latest-item .views-field-title,.footer-area .latest-item .views-field-body { width: 52%; }

@media (min-width: 992px){ 
	.two-sidebars .sidebar .latest-item .views-field-field-image { display: none; }
	.two-sidebars .sidebar .latest-item .views-field-title, .two-sidebars .sidebar .latest-item .views-field-body { width: 100%; }
}

@media (min-width: 768px) and (max-width: 991px){ 
	.latest-item .views-field-title, .latest-item .views-field-body { width: 55%; }
}

@media (max-width: 480px) { 
	.latest-item .views-field-field-image { margin-right: 7%; }
}

.latest-item:after { content: ""; display: table; clear: both; }

/*Generic views block*/
.views-field-title a { margin: 0 0 5px; display: block; color: #2a68af; }

#top-content .views-field-title a { /** ORIGINAL color: #1e1e1e; **/ }

#top-content .views-field-title a:hover, .views-field-title a:hover { text-decoration: underline; color: #4187d1; }

/*Views row clear*/
@media (min-width: 768px) and (max-width: 991px) { 
.views-row.col-sm-6:nth-child(2n+1),
.views-row.col-sm-4:nth-child(3n+1),
.views-row.col-sm-3:nth-child(4n+1) { clear:both; }
}

@media (min-width: 992px) {
.views-row.col-md-6:nth-child(2n+1),
.views-row.col-md-4:nth-child(3n+1),
.views-row.col-md-3:nth-child(4n+1) { clear:both; }
}

/*Testimonials block*/
.view-testimonials .views-row { margin: 0 0 15px 0; }

.view-testimonials .views-field-body, .view-testimonials .views-field-title, .view-testimonials .views-field-field-subtitle { padding: 0 0 0 55px; }

.view-testimonials .views-field-body p { font-style: italic; padding: 0 0 10px; position: relative; }

.view-testimonials .views-field-body p:after { position: absolute; font-family: 'PT Serif', Georgia, Times, Times New Roman, Serif; content: "“";
left: -60px; top: 0px; color: #4187d1; font-size: 96px; font-style: normal; line-height: 1; }

.view-testimonials .views-field-title { font-size: 16px; }

.view-testimonials .views-field-title a { margin: 0; }

.view-testimonials .views-field-field-subtitle { font-size: 12px; text-transform: uppercase; font-weight: 700; }

/*Highlighted Testimonial block*/
@media (min-width: 1200px) {
	.region-highlighted-bottom-left .view-testimonials.highlighted { padding-right: 110px; }
}

.view-testimonials.highlighted .views-field-body p { font-size: 28px; padding: 10px 0; }

.view-testimonials.highlighted .views-field-body p:after { color: #000; font-size: 160px; left: -87px; top: 10px; }

.footer-area .view-testimonials.highlighted .views-field-body p:after { color: #4187d1; }

.view-testimonials.highlighted .views-field-body, 
.view-testimonials.highlighted .views-field-title, 
.view-testimonials.highlighted .views-field-field-subtitle { padding: 0 0 0 100px; }

@media (max-width: 767px) { 
	.view-testimonials.highlighted .views-field-body, 
	.view-testimonials.highlighted .views-field-title, 
	.view-testimonials.highlighted .views-field-field-subtitle { padding: 0 0 0 75px; }
	.view-testimonials.highlighted .views-field-body p:after { left: -85px; font-size: 130px; }
}

/*Testimonial page*/
.node-type-mt-testimonial .field-name-body,
.node-type-mt-testimonial .field-name-field-subtitle { padding: 0 0 0 55px; }

.node-type-mt-testimonial .field-name-body p { font-style: italic; margin: 0; position: relative; padding: 5px; }

.node-type-mt-testimonial .field-name-body p:after { position: absolute; font-family: 'PT Serif', Georgia, Times, Times New Roman, Serif; content: "“";
left: -60px; top: 0px; color: #4187d1; font-size: 96px; font-style: normal; line-height: 1; }

.field-name-field-subtitle { font-size: 12px; text-transform: uppercase; font-weight: 700; }

/*Footer*/
.footer-area { color: #e1e1e1; line-height: 1.4285; font-size: 14px; }

.footer-area a { color: #2a68af; }

.footer-area a:hover { color: #4187d1; }

@media (max-width: 767px) {
	.footer-area { text-align: center; }
}

/*Footer columns clear*/
@media (min-width: 768px) { 
  #footer .col-sm-6:nth-child(2n+1) { clear:both; }
}

@media (min-width: 992px) {
  #footer .col-sm-6.col-md-3:nth-child(2n+1) { clear:none; }
}

/*View tweets block*/
.view-tweets .views-row { margin: 0 0 20px 0; }

.view-tweets .views-field-created-time { display: block; color: #555555; margin: 5px 0 0 0; font-size: 11px; }

/*Popular tags block*/
.view-popular-tags .views-row { display: inline-block; margin: 0 1px 3px 0;  }

.view-popular-tags .views-row a { padding: 5px 8px; background-color: #080808; color: #e1e1e1; display: block; 
-webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; font-size: 11px; text-decoration: none; }

.footer-area .view-popular-tags .views-row a { color: #555; }

.view-popular-tags .views-row a:hover { text-decoration: none; color: #fff; }

/*Team member*/
.team-member { margin-bottom: 60px; border-bottom: 1px solid #c2c2c2; }

.team-member h3 { margin-bottom: 5px; }

.team-member .subtitle { padding-bottom: 20px; }

.team-member .contact-info li { padding: 0 0 0 60px; margin: 0 0 10px 0; }

.team-member .contact-info li i { color: #1e1e1e; left: 22px; }

.email a, .email{ word-wrap: break-word; word-break: break-all; white-space: pre; white-space: pre-wrap;  }

.team-member ul.social-bookmarks { margin:20px 0;  }

.team-member ul.social-bookmarks li { margin: 5px; }

.team-member ul.social-bookmarks li a { color: #1e1e1e; width: 45px; height: 45px; background-color: transparent; border: 1px solid #1e1e1e; }

.team-member ul.social-bookmarks li i { line-height: 43px; }

.team-member ul.social-bookmarks li a:hover { background-color: #2a68af; color: #fff; border-color: #2a68af; }

/*Contact info block*/
.contact-info .icon { width: 80px; height: 80px; -webkit-border-radius: 100%; -moz-border-radius: 100%; border-radius: 100%; margin: 9px auto 30px; 
text-align: center; display: block; color: #a3a3a3; background: #252525; }

.contact-info .icon i { font-size: 36px; width: 100%; height: 100%; line-height: 80px; }

.contact-info ul, ul.contact-info { list-style: none; margin: 0; padding: 0; }

.contact-info li { padding: 0 0 0 45px; margin: 0 0 30px 0; position: relative; }

.contact-info li i { color: #a3a3a3; position: absolute; left: 10px; top:2px; font-size: 20px; }

/*Social bookmarks & brands blocks*/
ul.social-bookmarks, ul.brands { list-style: none; margin:0; padding:0; }

ul.social-bookmarks li, ul.brands li { display: inline-block;  margin: 4px 10px; }

ul.social-bookmarks li a, ul.brands li a { color: #6d6e71; display: block; width: 45px; height: 45px; -webkit-border-radius: 100%; -moz-border-radius: 100%; 
border-radius: 100%; text-align: center; border: 1px solid #6d6e71; }

.footer-area ul.social-bookmarks li a, .footer-area ul.brands li a,
.subfooter-area ul.social-bookmarks li a, .subfooter-area ul.brands li a { color: #e1e1e1; }

ul.social-bookmarks li i, ul.brands li i { width: 100%; height: 100%; font-size: 23px; line-height: 45px; }

ul.social-bookmarks li a:hover, ul.brands li a:hover { text-decoration: none; background-color: #2f2f32; color: #dcdcdc; border: 1px solid #2f2f32; }

.footer-area ul.social-bookmarks li a:hover, .footer-area ul.brands li a:hover,
.subfooter-area ul.social-bookmarks li a:hover, .subfooter-area ul.brands li a:hover { background-color: transparent; border-color: #4187d1; }

ul.social-bookmarks .text, ul.brands .text { font-size: 19px; text-transform: uppercase; margin: 10px 0 0 0; float: left; text-align: left; }

@media (min-width: 992px) and (max-width: 1199px) {
	ul.social-bookmarks li, ul.brands li { margin: 4px 5px; }
}

@media (max-width: 991px) {
	ul.social-bookmarks, ul.brands { text-align: center; }
	ul.social-bookmarks .text, ul.brands .text { margin: 10px 0; float: none!important; display: block; float: none; text-align: center; }
}

/*Social media info*/
ul.social-media-info { list-style: none; margin:20px 0 0 0; padding:0 0 5px; border-bottom: 1px solid #c2c2c2; font-size: 20px; }

ul.social-media-info li { display: inline; margin-right: 20px; }

ul.social-media-info li a { color: #1e1e1e; }

.footer-area ul.social-media-info li a { color: #2a68af; }

ul.social-media-info li a i { color: #c2c2c2; margin-right: 10px; }

ul.social-media-info li a:hover { text-decoration: none; }

ul.social-media-info li a:hover i { color: #2a68af; }

/*Subfooter*/
.subfooter-area { color: #d7d7d7; font-size: 14px; }

@media (max-width: 991px) { 
	.subfooter-area { text-align: center; }
}

/*Forms*/
.form-item, .form-actions { margin:20px 0; }

input.form-text, textarea, select { background: #e5e5e5; color: #454545; font-size: 12px; padding: 14px 15px; outline:none; border: none;
-webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; width: 100%; }

table input.form-text {  background: #fff; color: #1e1e1e; }

.form-style-2 .webform-component input.form-text, 
.form-style-2 .webform-component textarea,
#webform-client-form-32 .webform-component input.form-text,
#webform-client-form-32 .webform-component textarea { background: transparent; font-size: 15px; color: #1e1e1e; padding: 5px 15px; -webkit-border-radius: 0; 
-moz-border-radius: 0; -o-border-radius: 0; border-radius: 0; border-bottom: 1px solid #c2c2c2; }

.form-style-2 .webform-component label, 
#webform-client-form-32 .webform-component label { display: none; }

.search-form { margin:20px 0 50px; }

.search-form .form-text { margin: 5px 0 15px; }

textarea { resize:none; }

#mm0, #superfish-1-select { text-transform: uppercase; margin: 20px 0; padding:5px; }

label { display: block; }

fieldset { border:1px solid #dddddd; padding: 0.5em; margin: 20px 0 35px; }

fieldset legend { border:1px solid #dddddd; display: inline-block; width: auto; padding: 5px;/* ORIGINAL font-size: 12px; */ text-transform: uppercase; margin-left: 10px; /* NON ORIGINAL */ font-size:14px; font-weight: bold;}

input[type="radio"], input[type="checkbox"] { margin: 0px 0 3px; }

/*form placeholder*/
::-webkit-input-placeholder { color: #898989; font-size: 12px }

:-moz-placeholder { color: #898989; font-size: 12px }

::-moz-placeholder { color: #898989; font-size: 12px }

:-ms-input-placeholder { color: #898989; font-size: 12px }

/*Tabs*/
.item-list ul.quicktabs-tabs { border-bottom: 1px solid #c2c2c2; margin:15px 0 10px; }

.nav-tabs { border-bottom: 1px solid #c2c2c2; margin: 25px 0 30px; /*ORIGINAL  margin: 25px 0 20px;*/ }

.item-list ul.quicktabs-tabs > li, .nav-tabs > li { float: left; margin-bottom: -1px; padding: 0; }

.item-list ul.quicktabs-tabs > li > a, .nav-tabs > li > a { margin-right: 2px; border: 1px solid transparent; padding: 15px 20px /* ORIGINAL padding: 8px 10px */; display: block; font-weight: 700;
text-transform: uppercase; color: #ffffff /* ORIGINAL color: #1e1e1e */; border-radius: 0; -webkit-transition: none; -moz-transition: none; -ms-transition: none; 
-o-transition: none; transition: none; /* NON ORIGINAL */ background-color:#2572ac;}

.nav-tabs li a i { padding-right: 10px; font-size: 20px; }

.item-list ul.quicktabs-tabs > li > a:hover,
.nav-tabs > li > a:hover { border-color: #252525 #252525 #252525; background: #252525; text-decoration: none; color: #fff; }

.item-list ul.quicktabs-tabs > li.active > a,
.nav-tabs > li.active > a { cursor: default; background-color: transparent; border: 1px solid #c2c2c2; border-bottom-color: #fff; }

.item-list ul.quicktabs-tabs > li.active > a:hover,
.nav-tabs > li.active > a:hover { color: #1e1e1e; }

.item-list ul.quicktabs-tabs:after { display: table; content: " "; clear: both; }

/*Footer Tabs*/
.footer-area .item-list ul.quicktabs-tabs { border-bottom: 1px solid #252525; }

.footer-area .item-list ul.quicktabs-tabs > li.active > a,
.footer-area .nav-tabs > li.active > a { border-color: #252525 #252525 #252525; background: #252525; text-decoration: none; color: #fff; }

.footer-area .item-list ul.quicktabs-tabs > li > a,
.footer-area .nav-tabs > li > a,
.footer-area .item-list ul.quicktabs-tabs > li.active > a,
.footer-area .nav-tabs > li.active > a { color: #e1e1e1; }

/*nav pills*/
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus { background-color: #252525; }

.nav-pills > li > a { text-transform: capitalize; }

/*Accordion*/
.panel-group { margin: 25px 0; }

.panel-group .panel { -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px; }

.panel-default > .panel-heading { background: transparent; color: #000000; font-size: 12px; padding: 0; outline:none; border: none;
-webkit-border-radius: 0; -moz-border-radius: 0; -o-border-radius: 0; border-radius: 0; width: 100%; }

.panel-heading:hover { text-decoration: none; background: #252525; color: #fff; }

.panel-title a { font-weight: 400; padding: 15px; display: inline-block; width: 100%; }

.panel-title a.collapsed { color: #1e1e1e!important; }

.panel-title a:hover { color: #fff!important; text-decoration: none; }

.panel-title a i { padding-right: 10px; font-size: 20px; }

/*Tables*/
table { border-collapse: collapse; width:100%; color: #000000; margin: 25px 0 40px; }

table th { font-size: 16px; text-transform: uppercase; border: 1px solid #fff; background: #252525; color: #ffffff; }

table th, table td { vertical-align: top; padding:10px 20px; text-align:left; }

table th a { color:#ffffff; }

table td { /*ORIGINAL border:1px solid #fff;*/  }

/* NON ORIGINAL*/

#block-block-72 table td { border:none;color:#ffffff; }

#block-block-72 td {
    padding: 10px 20px 0px 0px;
}

/*-----------*/


table tr.even, table tr.odd  { border-bottom: 1px solid #fff; background:#e4e4e4; font-size: 14px; }

.footer-area table td { border:1px solid #555; }

.footer-area table tr.even,.footer-area table tr.odd  { background: transparent; }

.footer-area table th, .footer-area table td, .banner-area table th, .banner-area table td { padding: 10px; }

/*Buttons*/
ul.links li a, a.more, input[type="submit"], input[type="reset"], input[type="button"], .checkout-buttons .checkout-cancel, 
.checkout-buttons .checkout-back, .view-showcases .more-link a  { font-size: 14px; text-transform: uppercase; padding: 15px 23px; background-color: #2a68af; 
color: #ffffff; display: inline-block; line-height: 1; -webkit-border-radius: 24px; -moz-border-radius: 24px; border-radius: 24px; min-width: 160px; border: none; 
-webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; 
-o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; margin:10px 0;text-align: center; }

input[type="submit"], input[type="reset"], input[type="button"] { margin-right: 5px; }

ul.links li a:hover, a.more:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover, .view-showcases .more-link a:hover, 
.checkout-buttons .checkout-cancel:hover, .checkout-buttons .checkout-back:hover { text-decoration: none; background-color: #4187d1; color: #ffffff; }

span.button-operator { margin:0 10px 0 5px; }

.comment_forbidden a:last-child { margin: 0 10px 10px 0; }

footer .comment_forbidden a:last-child { margin: 0 10px 10px 10px; }

/*More links*/
.view-showcases .more-link { text-align: center; }

.more-link a, .view-showcases .view-content .more-link a { margin: 0 0 10px 0px; display: block; background: transparent; padding:0; font-size: 15px; 
text-align: left; text-transform: uppercase; }

.view-showcases .view-content .more-link a { color: #2a68af; font-size: 13px; }

.more-link a:after, .view-showcases .view-content .more-link a:after { content: "\f101"; font-family: 'FontAwesome'; font-style: normal; font-size: 12px; }

.view-showcases .more-link a:after { content: ""; }

.view-showcases .view-content .more-link a:hover { color: #4187d1; text-decoration: underline; }

.footer-area .more-link a { font-size: 14px; text-transform: none; }

.footer-area .more-link a:after { font-size: 11px; }

.block-quicktabs .more-link a { margin:10px 0 5px 0; margin-left: 137px; }

.two-sidebars .block-quicktabs .more-link a { margin-left: 0; }

@media (min-width: 1200px) { 
	.block-quicktabs .more-link a  { margin-left: 144px; }
}

@media (max-width: 991px) { 
	.block-quicktabs .more-link a  { margin-left: 0; }
}

@media (max-width: 767px) {
	.footer-area .more-link a { text-align: center; }
}

/* Drupal system links */
ul.links { padding: 10px 0; margin: 0; list-style: none; }

ul.links li a { margin:5px 5px 5px 0; }

ul.links li a.active { color: #ffffff; }

ul.inline li { padding:0; display: inline-block; }

ul.inline li a { margin: 0 10px 10px 0; }

/*Drupal item list*/
.item-list ul { list-style-position:inside; list-style-type:square; }

.item-list ul li { margin: 0 0 15px 0; }

.item-list ul li.last, #footer .item-list ul li.last, #banner .item-list ul li.last { padding: 0;} 

.item-list ul li span { font-size: 13px; font-style: italic; font-weight: 400; padding-left: 5px; }

#block-user-login .item-list ul li { padding:0; margin: 0; border-bottom: none; }

/*Status messages*/
div.messages { color: #ffffff; margin: 0 0 10px; padding: 15px 75px; position: relative; }

div.messages a { color: #ffffff; text-decoration:underline; }

div.messages.status { background: #7aa239; }

div.messages.error { background: #c53300; }

div.messages.warning { background: #eb8314; }

.front div.messages { margin: 30px 0 10px; }

@media (max-width: 1199px) {
	.front div.messages { margin: 90px 0 10px; }
}

/*Status messages symbols*/
div.messages.status:before { content: "\f00c"; font-family: "FontAwesome"; font-size: 20px; position: absolute; left: 0; top: 0; background-color: #547f1f;
width: 55px; text-align: center; height: 100%; padding-top: 13px; }

div.messages.error:before { content: "\f00d"; font-family: "FontAwesome"; font-size: 24px; position: absolute; left: 0; top:0; background-color: #980a00;
width: 55px; text-align: center; height: 100%; padding-top: 15px; }

div.messages.warning:before { content: "\f12a"; font-family: "FontAwesome"; font-size: 24px; position: absolute; left: 0; top:0; background-color: #e2630b;
width: 55px; text-align: center; height: 100%; padding-top: 15px; }

/*images*/
.circle-img { display: block; text-align: center; }

.circle-img img {  -webkit-border-radius: 100%; -moz-border-radius: 100%; border-radius: 100%; }

.images-container { margin-bottom: 50px; }

.node-teaser .field-type-image, .node-mt-slideshow-entry .field-type-image { margin: 0 0 20px 0; }

.image-preview { overflow: hidden; position: relative; }

.image-preview a.image-popup, .node-teaser .field-type-image img { border:1px solid #e5e5e5; }

.node-teaser .field-type-image img:hover { opacity: 0.8; filter: alpha(opacity=80); -webkit-transition: opacity linear 0.2s; 
-moz-transition: opacity linear 0.2s; -o-transition: opacity linear 0.2s; -ms-transition: opacity linear 0.2s; transition: opacity linear 0.2s;  }

.image-caption { position: absolute; bottom: 40px; left: 40px; width: 330px; }

.image-caption h4, .image-caption p { background:rgba(0,0,0,0.77); color: #ffffff; padding: 15px; margin: 0; }

.image-caption h4 { margin-bottom: 1px; }

/*image listing*/
.image-listing-items { overflow: hidden; padding-top: 20px; }

.image-listing-item { float: left; padding: 0; border:1px solid #e5e5e5; margin: 0 2.66% 2.66% 0; max-width: 17.866666666%; }

.image-listing-items .image-listing-item:nth-child(5n) { margin-right: 0px; }

@media (max-width: 767px) {
	.image-preview, .field-type-image { margin: 0 -15px; }
	.custom-width .field-type-image, .custom-width .image-preview { margin: 0; }
}

/*Image overlay*/
a.overlayed, .overlayed-wrapper, .overlayed-inner { position: relative; display:block; overflow: hidden; }

.image-preview .overlayed { max-width: 100%; float: left; }

.overlay { position: absolute; bottom: 0px; left: 0; right: 0; top: 0; height: 100%; width: 100%; opacity: 0; filter: alpha(opacity=0);
background: rgba(65,135,209,0.75);
background: -moz-linear-gradient(top,  rgba(65,135,209,0.75) 0%, rgba(42,104,175,0.75) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(65,135,209,0.75)), color-stop(100%,rgba(42,104,175,0.75))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(65,135,209,0.75) 0%,rgba(42,104,175,0.75) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(65,135,209,0.75) 0%,rgba(42,104,175,0.75) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(65,135,209,0.75) 0%,rgba(42,104,175,0.75) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(65,135,209,0.75) 0%,rgba(42,104,175,0.75) 100%); /* W3C */	
webkit-transition: opacity 0.2s linear; -moz-transition: opacity 0.2s linear; -o-transition: opacity 0.2s linear; transition: opacity 0.2s linear; 
z-index: 10;}

.overlay i { position: absolute; left: 50%; top: 50%; margin: -40px 0 0 -40px; font-size: 20px; color: #a3a3a3; width:100%; text-align: center;
width: 80px; height: 80px; -webkit-border-radius: 100%; -moz-border-radius: 100%; border-radius: 100%; background: #252525;
-webkit-transform: scale(0.1); -moz-transform: scale(0.1); -ms-transform: scale(0.1); -o-transform: scale(0.1); transform: scale(0.1);
-webkit-transition: all linear 0.2s; -moz-transition: all linear 0.2s; -o-transition: all linear 0.2s;
 -ms-transition: all linear 0.2s; transition: all linear 0.2s; }

.overlay i:before { line-height: 82px; }

.overlay.large i { margin: -40px 0px 0 -40px; font-size: 42px; }

.overlay.small i {width: 40px; height: 40px; margin: -20px 0px 0 -20px; font-size: 14px; }

.overlay.small i:before { line-height: 42px; }

.overlayed:hover, .overlayed-inner:hover { color: #ffffff!important; text-decoration: none; }

.overlayed:hover .overlay, .overlayed-wrapper:hover .overlay { opacity: 1; filter: alpha(opacity=100); }

.overlayed:hover .overlay i, .overlayed-wrapper:hover .overlay i { -webkit-transform: scale(1); -moz-transform: scale(1); 
-ms-transform: scale(1); -o-transform: scale(1); transform: scale(1); }

/*Flexslider*/
.flexslider { border:none; margin:0; -webkit-border-radius: 0; -moz-border-radius: 0; -o-border-radius: 0; border-radius: 0;
box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; -o-box-shadow: none; display:none; }

/*Service Slider*/
#service-slider ul.slides li { position: relative; }

#service-slider ul.slides li>a { border: 1px solid #e5e5e5; }

@media (max-width: 767px) {
	#service-slider .flex-viewport { margin-right: -15px; margin-left: -15px; }
}

/*Service Slider nav control*/
#service-slider-carousel { margin: 20px 0 0 0; }

#service-slider-carousel ul.slides li {  margin-right: 20px; cursor: pointer; border: 1px solid #e5e5e5; -webkit-box-sizing: content-box;
-moz-box-sizing: content-box; box-sizing: content-box; }

#service-slider-carousel ul.slides li.flex-active-slide,
#service-slider-carousel ul.slides li.flex-active-slide:hover { cursor: default; opacity: 1; filter: alpha(opacity=100); }

#service-slider-carousel ul.slides li:hover { opacity: 0.8; filter: alpha(opacity=80); }

/*Carousel direction Nav */
#service-slider-carousel .flex-direction-nav a { color:#fff; opacity: 1; filter: alpha(opacity=100); width: 25px; height: 100%; -webkit-border-radius: 0; 
-moz-border-radius: 0; border-radius: 0; background-color: rgba(0,0,0,0.55); top:0; margin: 0; text-shadow: none; text-align: center; }

#service-slider-carousel .flex-direction-nav a:before { font-size: 28px; line-height: 93px; font-family: 'FontAwesome'; display: inline-block; content: '\f104'; 
padding-right: 2px; }

#service-slider-carousel .flex-direction-nav a.flex-next:before  { content: '\f105'; padding-right: 0px; }

.two-sidebars #service-slider-carousel .flex-direction-nav a:before { line-height: 66px; }	

#service-slider-carousel .flex-direction-nav .flex-disabled, 
#service-slider-carousel .flex-direction-nav .flex-disabled:hover { opacity: 0.3!important; filter: alpha(opacity=30)!important; 
background-color: rgba(0,0,0,0.55)!important; }

#service-slider-carousel .flex-prev:hover, 
#service-slider-carousel .flex-next:hover { background-color: rgba(0,0,0,0.8); text-decoration: none; color: #fff; }

#service-slider-carousel .flex-prev, 
.flexslider:hover #service-slider-carousel .flex-prev { left: 0; }

#service-slider-carousel .flex-next, 
.flexslider:hover #service-slider-carousel .flex-next { right: 0; text-align: center; }

@media all and (min-width: 1200px) {
	#service-slider-carousel .flex-direction-nav a:before { line-height: 116px; }
	.two-sidebars #service-slider-carousel .flex-direction-nav a:before { line-height: 83px; }	
}

@media (max-width: 991px) {
	#service-slider-carousel .flex-direction-nav a:before,
	.two-sidebars #service-slider-carousel .flex-direction-nav a:before { line-height: 110px; }
}

@media (max-width: 767px) { 
	#service-slider-carousel .flex-direction-nav { margin-bottom: 30px; }	
	#service-slider-carousel .flex-direction-nav a { width: 50px; height: 50px; top: auto; margin: 0; bottom: -60px; }
	#service-slider-carousel .flex-direction-nav a:before,
	.two-sidebars #service-slider-carousel .flex-direction-nav a:before { line-height: 50px; }	
}

/*Revolution Slider Styles*/
.fullwidthbanner>ul, .bannercontainer .banner>ul { display: none; }

.bannercontainer .banner>ul >li .tp-bgimg { /* ORIGINAL border: 1px solid #e5e5e5; */border: none; }

.tp-loader 	{ background:url('images/loader.gif') no-repeat center center; margin:-10px 0 0 -110px; top:50%; left:50%; z-index:498; width:220px;height:20px;
border-radius: 0; background-color: transparent; }

/*Revolution Caption*/
.title-teaser-text { width: 430px; white-space: normal!important; margin-left: 30px!important;}

.title-teaser-text .title, .title-teaser-text p { background: rgba(0,0,0,0.77); color: #fff; padding: 20px; margin: 0 0 1px 0; width: 100%;
display: block; }

.title-teaser-text .title { font-size: 37px; text-transform: none; line-height: 1.15; }

.title-teaser-text .title a { color: #fff; }

.title-teaser-text .title a:hover { color: #fff; text-decoration: underline; }

.title-teaser-text p { /*ORIGINAL font-size: 21px; */font-size: 15px; line-height: 1.52; }

.title-teaser-text p a { color: #fff; text-decoration: underline; }

.title-teaser-text p a:hover { text-decoration: none; color: #fff; }

.caption-link a { 
margin-right: 30px!important;
background: #4187d1; /* Old browsers */
background: -moz-linear-gradient(top, #4187d1 0%, #2a68af 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4187d1), color-stop(100%,#2a68af)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #4187d1 0%,#2a68af 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #4187d1 0%,#2a68af 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #4187d1 0%,#2a68af 100%); /* IE10+ */
background: linear-gradient(to bottom, #4187d1 0%,#2a68af 100%); /* W3C */
-webkit-box-shadow: 0 1px 2px #221f1f; -moz-box-shadow: 0 1px 2px #221f1f; box-shadow: 0 1px 2px #221f1f; position: relative; padding-left: 60px; }

.caption-link a i { font-size: 22px; position: absolute; left: 23px; top: 12px; }

.caption-link a:hover { opacity: 0.9; filter: alpha(opacity=90); }

@media (min-width: 1200px) {
	.title-teaser-text, .caption-link a { margin-left: 0!important; }
}

@media (max-width: 1199px) {
	.title-teaser-text .title { font-size: 30px; }
	.title-teaser-text p { font-size: 18px; line-height: 1.52; }
}

@media (max-width: 991px) {
	.title-teaser-text .title { font-size: 24px; }
}

@media (max-width: 767px) {
	.title-teaser-text { display: none; }
	.caption-link a { padding: 10px 10px 10px 30px; }
	.caption-link a i { font-size: 16px; top:10px; }
}

@media (max-width: 480px) {
	.caption-link { display: none; }
}

.tp-caption.slidelink { z-index: 0!important; left: 0!important; top: 0!important; }

/*Revolution Nav Controls*/
.tparrows.default { background-image: none; width: 45px; height: 45px; color:#fff; background-color: rgba(0,0,0,0.35); 
-webkit-border-radius: 100%; -moz-border-radius: 100%; border-radius: 100%; text-align: center; -webkit-transition: all linear 0.2s; 
-moz-transition: all linear 0.2s; -o-transition: all linear 0.2s; -ms-transition: all linear 0.2s; transition: all linear 0.2s; display: none; }

.tparrows.default:before  { font-family: 'FontAwesome'; font-size: 32px; display: inline-block; content: '\f104'; line-height: 44px; padding-right: 2px; }

.tparrows.tp-rightarrow:before  { content: '\f105'; padding-right: 0px; }

.tparrows.default:hover { background-color: rgba(0,0,0,0.55); text-decoration: none; color: #fff; }

.tp-bullets { z-index: 20; display: none; }

.tp-bullets.simplebullets.round .bullet { background-image: none; background-color: rgba(0,0,0,0.35); 
-webkit-border-radius: 100%; -moz-border-radius: 100%; border-radius: 100%; width: 15px; height: 15px; -webkit-transition: all linear 0.2s; 
-moz-transition: all linear 0.2s; -o-transition: all linear 0.2s; -ms-transition: all linear 0.2s; transition: all linear 0.2s; }

.tp-bullets.simplebullets.round .bullet:hover, .tp-bullets.simplebullets.round .bullet.selected  { background-color: rgba(0,0,0,0.55); }

.tp-bannertimer { background-image: none; background-color: #1d1d1d; display: none; }

@media (min-width: 1200px) {
	.tparrows.default {  width: 65px; height: 65px; top:50%!important; margin-top: -32px; }
	.tparrows.default:before  { font-size: 44px; line-height: 63px; }
}

@media (max-width: 1199px) {
	.tp-bullets { bottom:-40px!important; }
	.tp-bullets.simplebullets.round .bullet { background-color: rgba(0,0,0,0.65); }
	.tp-bullets.simplebullets.round .bullet:hover, .tp-bullets.simplebullets.round .bullet.selected  { background-color: #1e1e1e; }
	.tparrows.default { top:auto!important; bottom:-55px; }
	.tparrows.default, .tparrows.default:hover {  background: transparent; width: auto;}
	.tparrows.default:before  { font-size: 48px; color: rgba(0,0,0,0.65); }
	.tparrows.default:hover:before { color: #1e1e1e;  }
}

/*Revolution Slider Boxed*/
.bannercontainer { width:100%; position:relative; padding:0; }

.bannercontainer .title-teaser-text { margin-left: 30px!important; }

.bannercontainer .caption-link a { margin-right: 30px!important; }

.bannercontainer .tparrows.default { width: 45px; height: 45px; }

.bannercontainer .tparrows.default:before  { font-size: 32px; line-height: 44px; padding-right: 1px; }

@media (min-width: 1200px) { 
.bannercontainer .title-teaser-text { margin-left: 100px!important; }
.bannercontainer .caption-link a { margin-right: 100px!important; }
}

/*fixed main-menu*/
.onscroll #header { position:fixed; border-bottom:1px solid #c2c2c2; opacity: 0; filter: alpha(opacity=0); 
z-index:499; top:0; width: 100%; background-color: rgba(255,255,255,0.95); }

.onscroll.show #header { opacity: 1; filter: alpha(opacity=100); -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; 
-ms-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; -webkit-backface-visibility: hidden; }

/*ORIGINAL -- .onscroll #site-slogan, .onscroll #logo { display:none; visibility:hidden; padding:0; }*/
.onscroll #site-slogan, .onscroll #logo { display:block; visibility:visible; padding:0; }

.onscroll #header-inside { /** ORIGINAL padding:5px 0 10px;**/     padding: 0px 0 10px; }

.onscroll #header-inside-right { padding: 0; }

.onscroll #main-navigation .sf-menu ul {/** ORIGINAL padding: 18px 0 0 0; **/  padding: 1px 0 0 0;  }

.onscroll #main-navigation .sf-menu ul ul { padding: 0 0 0 1px; }

@media (min-width: 992px) and (max-width: 1199px) { 
	.onscroll #site-name { text-align: center; margin-top:17px; }
	.onscroll #header-inside-left { padding: 0; }
	.onscroll #main-navigation .sf-menu ul { padding: 16px 0 0 0; }
	.onscroll #main-navigation ul.menu { text-align: center; }
}

@media (max-width: 991px) { 
	.onscroll #site-name { display: none; }
	.onscroll #header-inside-left { padding: 0; }
	.onscroll #main-navigation ul.menu { padding: 10px 0 0px 0; }
	.onscroll #main-navigation .sf-menu ul { padding-top: 11px; }
	.onscroll #search-area { margin-top:5px; }
}

/* Google Map */
#map-canvas { height: 400px; }

#map-canvas img { max-width: inherit; }

/* Pricing Tables */
.pricing-table { text-align: center; border: 2px solid #dddddd; margin: 0 0 40px 0; padding:0 0 20px 0; }

.pricing-table.style-1 { border: 2px solid #101010; }

.pricing-table.style-2 { border: 2px solid #2a68af; }

.pricing-table.style-3 { border: 2px solid #3b6000; }

.pricing-table.style-4 { border: 2px solid #de4d00; }

.pricing-table.style-5 { border: 2px solid #c42675; }

.pricing-table.style-6 { border: 2px solid #8d36ad; }

.pricing-table.style-7 { border: 2px solid #961300; }

.style-1 .pricing-table-header { background: #101010; color:#ffffff; }

.style-2 .pricing-table-header { background: #2a68af; color:#ffffff; }

.style-3 .pricing-table-header { background: #3b6000; color:#ffffff; }

.style-4 .pricing-table-header { background: #de4d00; color:#ffffff; }

.style-5 .pricing-table-header { background: #c42675; color:#ffffff; }

.style-6 .pricing-table-header { background: #8d36ad; color:#ffffff; }

.style-7 .pricing-table-header { background: #961300; color:#ffffff; }

.style-1 .pricing-buy .more { background: #080808; } .style-1 .pricing-buy .more:hover { background: #333333; }

.style-2 .pricing-buy .more { background: #2a68af; } .style-2 .pricing-buy .more:hover { background: #4187d1; }

.style-3 .pricing-buy .more { background: #3b6000; } .style-3 .pricing-buy .more:hover { background: #528600; }

.style-4 .pricing-buy .more { background: #de4d00; } .style-4 .pricing-buy .more:hover { background: #ff6a1b; }

.style-5 .pricing-buy .more { background: #c42675; } .style-5 .pricing-buy .more:hover { background: #ec3a93; }

.style-6 .pricing-buy .more { background: #8d36ad; } .style-6 .pricing-buy .more:hover { background: #a63fcc; }

.style-7 .pricing-buy .more { background: #961300; } .style-7 .pricing-buy .more:hover { background: #dd1d00; }

.pricing-name, .pricing-value { padding: 20px 0; }

.pricing-name { font-size:20px; padding: 10px 0; border-bottom:1px solid #ffffff; } .pricing-value { font-size:40px; }

.pricing-features p { padding:15px 20px; margin:0; }

.pricing-features p:nth-child(2n) { background:#efefef; }

/* Scroll to top */
#toTop { position: fixed; right: 30px; bottom: 30px; background: rgba(37,37,37,0.8); width: 45px; height: 45px; color: #fff;
-webkit-border-radius: 100%; -moz-border-radius: 100%; border-radius: 100%; cursor: pointer; text-align: center; 
opacity: 0; filter: alpha(opacity=0);
-webkit-transform: scale(0); -moz-transform: scale(0); -ms-transform: scale(0); -o-transform: scale(0); transform: scale(0);
-webkit-transition: all 0.4s; -moz-transition: all 0.4s; -o-transition: all 0.4s; -ms-transition: all 0.4s; transition: all 0.4s; z-index: 100; }

#toTop.show { -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); transform: scale(1); 
opacity: 1; filter: alpha(opacity=100); -webkit-backface-visibility: hidden; }

#toTop i { width: 100%; height: 100%; font-size: 32px; line-height: 44px; }

#toTop:hover { background: rgba(37,37,37,1); }

@media (min-width: 992px) {
	#toTop { width: 55px; height: 55px; }
	#toTop i { font-size: 44px; line-height: 52px; }
}

/* Commerce */
.field-name-commerce-price, .field-type-commerce-price, .views-field-commerce-price { margin:5px 0; }

.view-promoted-posts .views-field-commerce-price, .view-services .views-field-commerce-price { font-size:18px; margin:5px 0 15px 0; }

.node .field-name-commerce-price { font-size:42px; margin:30px 0 5px; }

.view-commerce-cart-block td.views-field-line-item-title,
.view-commerce-cart-form td.views-field-line-item-title,
.view-commerce-cart-summary td.views-field-line-item-title,
.view-commerce-line-item-table td.views-field-line-item-title { font-weight:normal; }

.view-commerce-cart-form table, .view-commerce-cart-summary table, .view-commerce-line-item-table table,
.view-commerce-cart-form tbody, .view-commerce-cart-summary tbody, .view-commerce-line-item-table tbody,
 .view-commerce-cart-form tr, .view-commerce-cart-summary tr, .view-commerce-line-item-table tr,
.view-commerce-cart-form table td, .view-commerce-cart-summary table td, 
.view-commerce-line-item-table table td { padding:10px 20px; vertical-align:middle; margin:10px 0; }

.view-commerce-cart-block table, .view-commerce-cart-block tbody, .view-commerce-cart-block tr, .view-commerce-cart-block table td, 
.view-commerce-cart-block table th { padding: 10px; }

/* Commerce product page */
.commerce-add-to-cart .form-item-quantity { display:inline-block; padding:0 15px 0 0; }

.commerce-add-to-cart .form-item-quantity label { font-weight:400; font-size: 18px; }

.commerce-add-to-cart .form-item-quantity input.form-text { width:80px; text-align:right; font-size: 15px; }

/* Commerce cart block */
.view-commerce-cart-block .line-item-total, .block-commerce-cart .line-item-quantity { padding:15px 5px 5px; margin-bottom: 15px; 
border-bottom: 1px solid #c2c2c2; }

.view-commerce-cart-block ul.links li a { padding: 15px 20px; margin: 0 0 10px 10px; min-width: 0; }

.view-commerce-cart-block ul.links li a:after { content: ''; }

/* Commerce page-cart */
.page-cart .view-commerce-cart-form .line-item-summary { padding:10px 0; }

.page-cart .view-commerce-cart-form input.delete-line-item { padding:5px 10px; min-width: 0; }

/* Commerce page-checkout */
.page-checkout .view-commerce-cart-summary table.commerce-price-formatted-components tr { border:none; }

.page-checkout .checkout-help { margin-bottom:10px; }

#edit-checkout.form-submit { margin:0; }

/* Commerce page-review */
.page-checkout-review tr.pane-title { border:none; }

.page-checkout-review tr.pane-data td { border-top:none; }

.page-checkout-review tr.pane-title td { border-bottom:none; }

.commerce-paypal-icons .label { color: #222222; font-size: 16px; padding: 0 0 0 19px; margin-right: 5px; }

.commerce-paypal-icon { display:inline-block; top:0; }

/* Commerce page-user orders */
.view-commerce-user-orders table, 
.view-commerce-user-orders table tbody, 
.view-commerce-user-orders table tr, 
.view-commerce-user-orders table td { border:none; }

.view-commerce-user-orders table tr { border-bottom: 1px solid #ddd; }

.view-commerce-user-orders table td.views-field-line-item-title { font-weight:bold; }

/* Commerce price formatted components */
.commerce-price-formatted-components td { padding-bottom:0; }

.entity-commerce-order .commerce-price-formatted-components tr.component-type-commerce-price-formatted-amount td { padding:10px; }

.commerce-price-formatted-components, .commerce-price-formatted-components tbody, .commerce-price-formatted-components tr, .commerce-price-formatted-components tr td { border:none; }

/* Drupal Resets */
#toolbar { -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box; }

#toolbar ul.menu li a { font-weight: 400; }

#toolbar ul.menu li > a:before, #toolbar ul.menu li:before { content: ""; }

ul.tabs.primary { margin-bottom: 20px; }

a.contextual-links-trigger, #toolbar a, textarea, ul.contextual-links li a 
{ -webkit-transition: none; -moz-transition: none; -o-transition: none; -ms-transition: none; transition: none; }

ul.contextual-links li a { font-weight: 400; line-height: 1; }

/* Layout */
.boxed #page-container { margin-right: auto; margin-left: auto; position: relative; background-color: #fff; border-left:1px solid #c2c2c2; border-right:1px solid #c2c2c2; border-bottom:1px solid #c2c2c2;}

@media (min-width: 768px) { 
	.boxed #page-container, .onscroll.boxed #page-container #header { width: 750px; }
}

@media (min-width: 992px) {
	.boxed #page-container, .onscroll.boxed #page-container #header { width: 970px; }
}

@media (min-width: 1200px) { 
	.boxed #page-container, .onscroll.boxed #page-container #header { width: 1170px; }
}

/* --------NON ORIGINAL---------- */
 #banner{
  /*  background-color: #1b5b95;  */   background-position: bottom;    background-repeat: no-repeat;
		width:100%;    z-index: 1;
    position: relative;
}

#banner-inside{    background-color: #1b5b95;    background-image: url(../../../default/files/images/header-block-background.png);}

.sub_box_pr{margin-left:-15px;margin-right:-15px;padding-right:30px;}
.sub_box_announcement{margin-left:-15px;margin-right:-15px;padding-right:30px;}
.sub_box_announcement h4, .sub_box_pr h4{text-transform:none;}

.feature_box1{display:block; width:300px; float:left; margin-left:10px; margin-top:15px; border:solid 1px #c2c2c2; height:250px; background-color:#e9f4ff;}
#feature_box2{display:block; width:285px; float:left; margin-left:10px; margin-top:15px;}
.featureboxheader,.featureboxheader a:link,.featureboxheader a:active,.featureboxheader a:visited,.featureboxheader a:hover
	{	display: block;	background-color: #1f629f;	font: arial;	font-size: 12px;	color: #FFF;	font-weight: bold;	padding: 5px;	text-decoration: none;
}

.featureboxbody {	font-size: 11px;	color: #353333;	text-decoration: none;	position: relative;	padding-right: 0;	padding-left: 0;	line-height: 14px;	top: 5px;	left: 11px;	width: 180px;
}

.featureboxbody a:link,.featureboxbody a:active,.featureboxbody a:visited,.featureboxbody a:hover
	{	background-color: none;	color: #027AC6;	text-decoration: none;	font-size: 11px;	line-height: 13px;
}

#block-views-promoted-posts-block-3 p{padding-top:20px; padding-bottom:20px;}

#block-views-promoted-posts-block-3 .more-link a {padding-bottom:30px;}

.view-services h1, .view-Benefits h1, #block-block-326 h1{text-align:center; padding-bottom: 20px;}

#block-block-72 tbody{border-top: none;}

select {font-size:18px;}

.view-id-services .view-footer {clear:both; text-align:center;}

#block-views-apply-now-block .apply_box{margin-bottom:20px;}

#block-block-327 p, #block-views-benefits-block-2{text-align:center;}

#node-4614 .field.field-name-body p, #node-353 .field.field-name-body p{font-size: 21px;    padding: 0 0 25px 0;    line-height: 1.33;}
	
#main-navigation select{padding:3px; font-size:12px; text-transform:uppercase;}
#main-navigation.with-search-bar {text-align:right;margin-top: 20px;}

#block-block-328.block{padding: 0px;
    margin-bottom: 15px;
    margin-top: 15px;
    margin-right: 10px;}

#openid_username {
	direction: ltr;
}

#node-4615 #page-title {
   display: none; 
}
.lang_dropdown{width:185px; float:right;}
#main-navigation .contact_us a, #block-block-328 .contact_us a {text-transform: uppercase;    font-size: 12px;    color: #000;margin-left:10px;}

#accordion a{ background:url(../../../../sites/default/files/images/arrow_open.png);     background-position: left;    background-repeat: no-repeat;    background-position-x: 10px;padding-left: 50px;}
	
#accordion a.collapsed{ background:url(../../../../sites/default/files/images/arrow_close.png);     background-position: left;    background-repeat: no-repeat;    background-position-x: 10px;padding-left: 50px;}
	
#node-4563 p, #node-4563 h1, #node-4563 .field-name-field-subheader-body, #node-20 .field-name-field-subheader-body, #node-20 p, #node-20 h1, #node-4624 h1, #node-4624 .field-name-field-subheader-body, #node-4569 h1, #node-4569 .field-name-field-subheader-body, #node-4569 p, #node-4696 h1, #node-4696 .field-name-field-subheader-body, #node-4696 p, #node-498 h1, #node-498 .field-name-field-subheader-body, #node-498 p, #node-4627 h1, #node-4627 .field-name-field-subheader-body, #node-4627 p, #node-486 h1, #node-486 .field-name-field-subheader-body, #node-486 p, #node-2791 h1, #node-2791 .field-name-field-subheader-body, #node-2791 p, #node-4741 .field-name-field-subheader-body, #node-4741 p, #node-4741 h1, #node-4749 .field-name-field-subheader-body, #node-4749 p, #node-4749 h1, #node-4742 .field-name-field-subheader-body, #node-4742 p, #node-4742 h1, #node-4753 .field-name-field-subheader-body, #node-4753 p, #node-4753 h1, #node-4758 .field-name-field-subheader-body, #node-4758 p, #node-4758 h1, #node-4763 .field-name-field-subheader-body, #node-4763 p, #node-4763 h1, #node-4629 .field-name-field-subheader-body, #node-4629 p, #node-4629 h1, #node-4802 .field-name-field-subheader-body, #node-4802 p, #node-4802 h1, #node-4800 .field-name-body, #node-4800 .field-name-field-subheader-body, #node-4800 p, #node-4800 h1, #node-4803 .field-name-body, #node-4803 .field-name-field-subheader-body, #node-4803 p, #node-4803 h1, #node-4843 .field-name-body, #node-4843 .field-name-field-subheader-body, #node-4843 p, #node-4843 h1, #node-171 .field-name-body, #node-171 .field-name-field-subheader-body, #node-171 p, #node-171 h1, #node-4884 .field-name-body, #node-4884 .field-name-field-subheader-body, #node-4884 p, #node-4884 h1, #node-4889 .field-name-body, #node-4889 .field-name-field-subheader-body, #node-4889 p, #node-4889 h1, #node-4894 .field-name-body, #node-4894 .field-name-field-subheader-body, #node-4894 p, #node-4894 h1, #node-4899 .field-name-body, #node-4899 .field-name-field-subheader-body, #node-4899 p, #node-4899 h1, #node-5020 .field-name-field-subheader-body, #node-5020 p, #node-5020 h1, #node-5021 .field-name-field-subheader-body, #node-5021 p, #node-5021 h1, #node-5022 .field-name-field-subheader-body, #node-5022 p, #node-5022 h1, #node-5023 .field-name-field-subheader-body, #node-5023 p, #node-5023 h1, #node-5024 .field-name-field-subheader-body, #node-5024 p, #node-5024 h1, #node-5025 .field-name-field-subheader-body, #node-5025 p, #node-5025 h1{display:none;}

#block-block-331 p, #block-block-331 h1, #block-block-331 .field-name-field-subheader-body, #block-block-344, #block-block-345{display: block; text-align:center;}
	

#block-block-331{margin-bottom:10px; margin-top:20px;}
#block-block-330, #block-block-332, #block-block-333, #block-block-334, #block-block-335{padding:0;}

#full_width_blue a.more{    border: solid 1px;}

#program_highlight {display:block;clear:both;padding-top: 20px;}
#program_highlight h1{ font-size:20px; margin: 0; /*NON-ORIGINAL*/text-align:left;padding-bottom:0px;}
#program_highlight h1 a:link, #program_highlight h1 a:active, #program_highlight h1 a:visited { color:#2a68af;}
#program_highlight img{ float:left;width:300px;height:auto; margin-right:20px; margin-bottom: 20px;}
#program_highlight p{}
.view-id-promoted_posts.view-display-id-block_6{margin-top:20px;}

#block-views-promo-full-width-block .views-row-1, #block-views-promo-full-width-block .views-row-4, #block-views-promo-full-width-block .views-row-7, #block-views-promo-full-width-block .views-row-10 {   background: url(images/parallax-bg2.jpg) 50% 50% no-repeat fixed;    margin: -1px 0 0 0;    position: relative;    z-index: 2;  padding: 105px 0 85px; text-align:center;}
#block-views-promo-full-width-block .views-row-2, #block-views-promo-full-width-block .views-row-5, #block-views-promo-full-width-block .views-row-8 {   background: url(images/2-bg.jpg) 50% 50% no-repeat fixed;    margin: -1px 0 0 0;    position: relative;    z-index: 2;  padding: 105px 0 85px; text-align:center;color:#ffffff;}
#block-views-promo-full-width-block .views-row-3, #block-views-promo-full-width-block .views-row-6, #block-views-promo-full-width-block .views-row-9 {  
    margin: -1px 0 0 0;    position: relative;    z-index: 2;  padding: 105px 0 85px; text-align:center;}
#block-views-promo-full-width-block .views-row-2 p, #block-views-promo-full-width-block .views-row-2 h1, #block-views-promo-full-width-block .views-row-2 h3, #block-views-promo-full-width-block .views-row-2 ul, #block-views-promo-full-width-block .views-row-5 p, #block-views-promo-full-width-block .views-row-5 h1, #block-views-promo-full-width-block .views-row-5 h3, #block-views-promo-full-width-block .views-row-5 ul, #block-views-promo-full-width-block .views-row-8 p, #block-views-promo-full-width-block .views-row-8 h1, #block-views-promo-full-width-block .views-row-8 h3, #block-views-promo-full-width-block .views-row-8 ul {color:#ffffff;}
#block-views-promo-full-width-block .views-row-2 a.more, #block-views-promo-full-width-block .views-row-5 a.more, #block-views-promo-full-width-block .views-row-8 a.more{    border: solid 1px;}
.view-promo-full-width.view-id-promo_full_width.view-display-id-block p {font-size:18px;}
.view-promo-full-width.view-id-promo_full_width.view-display-id-block a {margin-top:50px;}

.promo_block{ padding-top: 10px;
    padding-bottom: 10px;}

.menu-block-20 ul.menu li a {
	padding: 7px 0 8px 0px;}



/*---------SNAPSHOT---------*/

#block-block-340{display: block;
    background: rgba(255,255,255,0.55);}
#block-block-340 .field-collection-container{border-bottom:none;}
.field-collection-item-field-snapshot-banner{font-size:20px;}
#node-4827 .field-name-field-snapshot-banner{display:none;}
#block-views-snapshot-block{display: block;
    background: rgba(255,255,255,0.55);padding-bottom:40px;}
#block-views-snapshot-block ul{padding:0}
#block-views-snapshot-block ul li{list-style-type: none;}
#block-views-snapshot-block h1{padding-bottom:20px;}


/*---------TABS---------*/

#block-views-tabs-block{
    border-bottom: solid 1px;
    margin-bottom: 50px;
}


/*---------Bigger font side menu---------*/

#block-menu-menu-hope-fund ul.menu li {
    font-size: 20px;
    border-bottom: solid 1px #e1e1e1;
}


#block-block-346 .tab-pane {padding-bottom:50px;}



/*---------Accessibility--------*/



#block-high-contrast-high-contrast-switcher h2.title, #block-text-resize-0 h2.title  { font-size: 15px; text-transform: none;}

#block-high-contrast-high-contrast-switcher  { padding: 0 0 10px 0; }

a#text_resize_increase {
    float: left;margin: 12px 5px 0 3px;
}
a#text_resize_decrease {
    float: left;    margin: 12px 5px 0 3px;
}

a#text_resize_reset {
    float: left;    margin: 12px 5px 0 3px;

}

#logo .block {    padding: 0 0 0px 0;}


#header1 {    font-size: 35px;    font-family: 'Lato', Helvetica Neue, Arial, Sans-serif;    line-height: 1.20;
    padding: 0;
    margin: 20px 0 10px 0;
    font-weight: 700;
    text-transform: uppercase;    color: inherit;text-align:center;}

.view-header{margin-bottom:20px;}


#block-views-services-block-6 .views-field-title, #block-views-services-block-4 .views-field-title, #block-views-services-block-10 .views-field-title, #block-views-services-block-17 .views-field-title, #block-views-services-block-13 .views-field-title, #block-views-services-block-9 .views-field-title{margin-bottom:50px;}

h4.divider, h4.divider a, h4.divider a:active, h4.divider a:link, h3.divider a:active, h3.divider a:link {color:#2a68af; text-align:center; /*non original */margin-bottom:30px;}

#block-block-355 {background-color:#184a83; padding:10px 10px 10px 10px; float:right;color:#ffffff;}
#block-block-355 a{    font-size: 12px;
    color: #ffffff;
    text-transform: uppercase;}

.row_top{margin-bottom:20px;}

#block-superfish-4 ul.menu li a, #block-superfish-5 ul.menu li a {
padding: 10px 5px 10px 10px;
    line-height: 150%;
    display: block;
    font-size: 15px;
    color: #000000;
    text-transform: none;
    font-weight: normal;
    margin: 0 5px;    
}

#country_ps_menu ul.menu li a{
padding: 10px 5px 10px 10px;
    line-height: 150%;
    display: block;
    font-size: 15px;
    color: #000000;
    text-transform: none;
    font-weight: normal;
    margin: 0 5px;    
}

#block-superfish-4 ul.menu li a:hover, #block-superfish-5 ul.menu li a:hover {
      background-color: #ffffff;
    color: #4187d1;
    
}

#block-superfish-4, #block-superfish-5 {float:right;}
#top_row {background-color:#215999;     margin-bottom: 20px;}


#block-superfish-1 ul.sf-hidden{background-color:#ffffff;}


/* --------NON ORIGINAL---------- */

